// colours


$background-main: #f5f6f7;
$col-main: #1b1b32;
$col-header: #f1be32;
$col-secondary: #dfdfe2;

$bg-header: $col-main;
$background-two: #0a0a23;
$background-mn: #dfdfe2;
$background-btn: #d0d0d5;
$background-footer: #2a2a40;

// $col-secondary: #f1be32;
$bg-footer: #2a2a40;


$col-border: $bg-footer;


// breakpoints 

$md: 780px;
