//Config variables - colour

$background-main: chocolate;
$background-header: blue;
$background-key: #ffa04d;

$text-header-one: #f2f2b9;
$text-header-two: white;

$color: white;

$li-color: white;   //white | orchid

$link-color: #ffd382;


