/**
Colours
*/

//body colours
$body-background: lightblue;

//header section 
$header-background: #0B053F;
$header-text-col: white;
$jonniegrieve: #888e42;
$digitalmedia: #EEF595;

//nav section
$nav-background: #eef595;
$nav-text-col: black;
$nav-link-col: black;
$nav-link-hov: red;

//article sections
$article-main-background: unquote('#f8f8f87a');
$article-text-col: white;
$article-link-col: white;
$services-img-background: #f0e68a;

//footer 
$footer-background: gray;
$footer-text-col: black;