@media print {
    /*  print styles to go here*/

    body {
        /* background: #f9f96c; */
        background: none;
    }

    header {
        background: white;
        height: 7pc;
    }

    
    nav, 
    svg {
        display: none;
    }

    .main-content {
        background: white;
        color: black;


        //remove sections from print
        #website-title,
        #social-platforms,
        .main-nav,
        article#featured,
        #large_logo,
        article#video,
        form#hire-form,
        form,
        #play-video {
            display: none;
        }


        article {
            background: none;
        }
      

        article#intro {
            margin-top: 0px;
            padding: 0px 0px 0px 0px;
            color: black;

            img#large_logo {
                display: none;
            }

            h1, p {
                line-height: 1
            }
        }


        article#about-jgdm {
            width: 95%;
            margin: 0 auto;
            color: black;
            padding: 0px 0 0 0;
    
            h2 {
                text-align: left;
                font-size: 20px;
            }
        }

        article#about {
            margin-top: 0px;
            width: 100%;
        

            .about-box {

                padding: 0;
                font-weight: normal;
                width: 100%;

                h3 {
                    display: block;
                    width: 100%;
                    font-size: 20px;
                }

                .button {
                    display: none;
                }
            }   
        }

        .main-services {

            width: 100%;
            a {
                display: none;
            }

            p {
                background: none;
                border-bottom: none;
                color: black;
            }
        }

        article#services {
            display: block;
            display: inline-block;
            padding: 0px 0 0 0;
            margin: 0;

            
            .elsewhere {
                display: none;
            }

            .main-services { 

                height: 15px;
                line-height: 1.4;    
                width: 100%;  

                p {
                    padding: 0;
                    background: none;
                    border-bottom: 0
                }

            }

            p {
                padding: 0;
                background: none;
                border-bottom: 0
            }

            img {
                display: none;
            }

            h3 {
                display: none;
            }


        }

        article#hire-me {
            padding: 0px 0 0 0;
            margin-top: 0px;

            h2 {
                margin: 0;
                padding: 0;
            }

            .hire-me-content {
                height: auto;
                background: white;        

               

                    h2, h3 {
                        strong {
                            color: black;
                    }
                }
            }
        }

        
        article#dyspraxia {
            padding: 0px 0 0 0;
            margin-top: 0;
        }


    }        

    footer {
        background: none;
    }

  

}