@media print {
    /*  print styles to go here*/

    body {
        /* background: #f9f96c; */
        background: none;
    }

    header {
        background: white;
    }

    #main-content {
        background: white;
        color: black;
    }

    //remove sections from print
    nav, 
    svg,
    #website-title,
    #social-platforms,
    #main-nav,
    #featured,
    #large_logo,
    #video,
    #services,
    #play-video {
        display: none;
    }

    article#intro {
        padding: 0;
        margin-top: 15px;
        padding: 10px 0 0 0;
        color: black;
    }

    #about-jgdm {
        width: 95%;
        margin: 0 auto;
        color: black;
        padding: 10px 0 0 0;

        h2 {
            text-align: center;
        }
    }
    
    #hire-form {
        display: none;
    }
}