//breakpoints
$sm: 320px; 
$md: 620px;
$lg: 980px;
$xl: 1200px;

//button
%button {
    background: red;
    padding: 10px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 15px;

    &:hover {
        background: yellow;
    }
}