footer {

    background: $footer-background;
    color: $footer-text-col;
    height: 50px;

    p {
        text-align: center;
        padding-top: 5px;
        font-weight: bold;
    }
}

/*<a href="javascript:" class="text2" onMouseDown="MM_openBrWindow('terms.html','','scrollbars=yes,width=550,height=250')">*/