body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background: url("img/interior-darker.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    @supports (-webkit-overflow-scrolling: touch) {
        /* CSS specific to iOS devices */ 
        background-size: 100% 100%;
        background: url("img/ios-bg.jpg") repeat-y;
    }

    h2 {
        font-size: 30pt;
    }

    
    @media(max-width: 720px) {
        
        background-size: 100% 75%;
    }
    
}

header {

    background: $header-background;
    color: $header-text-col;
    display: flex;

    @media(max-width: $md) {
        display: block;
    }

    img {
        /* width: 230px; */
        margin-top: 16px;
        display: inline-block;

        /* width: 7%; */
        max-width: 100px;
        margin: 15px;
        height: 100px;
        /* width: 150px; */
    

        @media(max-width: $xl) {
            /* height: 130px; */
        }

        @media(max-width: $md) {
            display: block;
            margin: 5px auto;    
        }
    }

    #website-title {
        display: inline-block;
        width: 38%;
        width: 64%;
        width: 42%;
        text-align: center;  
        font-size: 10pt; 
        margin: 0 auto;

        @media(max-width: $lg) {
            /* width: 55%; */
        }

        @media(max-width: $md) {
            width: 55%;
        } 

        .green {
            color: $jonniegrieve;

        }

        .yellow {
            color: $digitalmedia;
        } 
        
        h1 {
            @media(max-width: $md) {
                display: none;
            }
        }

        @media(max-width: $md) { 
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: 3vw;
        }
    }

    #social {
        text-align: center;
        margin: 0 auto;
        display: block;

        li {
            display: inline;
            margin-right: 5px;
            @media(max-width:$md) {
                display: inline;
                margin-left: 1px;
            }
        }

        @media(max-width: $md) {
            text-align: center;
            padding: 0;

        }

        a {
            border: none;
            text-decoration: none;
        }
    }

    #social img {
        display: inline-block;
        margin: 20px auto;
        width: 40px;

        transition: transform .2s;

        &:hover {
            transform: scale(1.4);
        }
    }

    #social svg {
        display: inline-block;
        margin: 20px auto;
        width: 40px;

        transition: transform .2s;

        &:hover {
            transform: scale(1.2);
            transform-origin: center;
        }
    }
}

.sticky {
    position: fixed;
    z-index: 1000;
    margin-bottom: 40px;
    top: 0;
}

nav.main-nav {

    width: 100%;
    height: 40px;
    text-align: center;
    background: $nav-background;
    vertical-align: middle;
    padding-top: 15px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.52);

    ol {
        display: inline;

        li {
            display: inline;
            margin-right: 10px;

            @media (max-width: $md) {
                display: inline;
                position: relative;
                left: 0;
                text-align: left;
                font-size: 3.5vw;
            }

            @media (max-width: $sm) {                
                font-size: 4vw;
            }
            

        }

        li a {
            color: $nav-link-col;
            text-decoration: none;
            font-weight: bold;

            transition: color .2s;

            &:hover {
                color: $nav-link-hov;
            }

            &.selected {
                color: red;
                border-bottom: red 1px solid;
            }
        }
    }
}