body {
    background: lightblue;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

header {

    background: #0B053F;
    color: white;
    display: flex;

    @media(max-width: 620px) {
        display: block;

    }

    img {
        /*width: 200px;*/
        /*height: 200px;*/
        display: inline-block;

        @media(max-width: 620px) {
            display: block;
            margin: 0 auto;    
        }
    }

    #website-title {
        display: inline-block;
        width: 50%;
        text-align: center;

        h2 {
            @media(max-width: 620px) {
                display: none;
            }
        }

        @media(max-width: 620px) { 
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: 3vw;
        }
    }

    #social {
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 20px;

        li {
            display: inline;
            margin-right: 5px;
            @media(max-width: 620px) {
                display: inline;
            }
        }

        @media(max-width: 620px) {
            text-align: center;
        }
    }

    #social img {
        display: inline-block;
        margin: 20px auto;
        width: 40px;
    }

    .green {
        color: #B4BA66;

    }

    .yellow {
        color: #F1F6BD;
    }
}

.sticky {
    position: fixed;
    z-index: 1000;
    margin-bottom: 40px;
    top: 0;
}

 nav.main-nav {

    width: 100%;
    height: 40px;
    text-align: center;
    background: #7adb9f;
    /*border: solid black 2px;*/
    vertical-align: middle;
    padding-top: 15px;
    
    ol {
        display: inline;

        li {
            display: inline;
            margin-right: 10px;
        }

        li a {
            color: black;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                color: red;
            }

            &.selected {
                color: red;
                border-bottom: red 1px solid;
            }
        }
    }
 }

 .main-content {
    width: 60%;
    position: relative;
    display: block;
    margin: 0 auto;

    article#featured {    
        width: 50%;
        margin: 0 auto;
        line-height: 1.7;

        img {
            width: 40%;
            display: inline;
            margin: 0 auto;
            opacity: 1;

            &:hover {
                opacity: 0.7;
            }
        }
    }

 }

 .show-featured {
     text-align: center;;
 }

 footer {

    background: grey;
    color: white;
    
    p {
        text-align: center;
        margin: 0; 
    }
 }