/*
Author:         Jonathan Grieve @ Jonnie Grieve Digital Media
Contact:        On Twitter  @jg_digitalMedia; On Facebook: https://www.facebook.com/jgDigitalMedia/?ref=bookmarks; 
Email:          mail@jonniegrieve.co.uk
Last Updated:   29/06/2021  15:52
*/

@import "config/colours";
@import "config/utilities";
@import "config/mixins";

//Header
@import "header";

//Sections 
@import "sections/home";
@import "sections/intro";
@import "sections/home";
@import "sections/services";
@import "sections/featured";
@import "sections/all";
@import "sections/about";
@import "sections/about-jgdm";
@import "sections/video";
@import "sections/hire-me";
@import "sections/dyspraxia";

//Pages
@import "pages/pages-content";


//Footer
@import "footer";

.main-content {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;

    article {    
        width: 60%;
        margin: 0 auto;
        line-height: 2.2;
        background: lightblue;
        background: $article-main-background;
        border-radius: 20px;
        padding: 12px;
        margin-bottom: 20px;
        color: $article-text-col;
        /*opacity: 0.6;*/

        @media (max-width: $md) {
            width: 80%;
        }
        @media (max-width: $lg) {
            width: 90%;
        }

    }


    .pages-content {
        color: white;
        line-height: 1.9;

        h1, h2 {
            text-align: center;
        }

        p {
            padding: 10px;
            background: #00000031;
            width: 90%;
            margin: 0 auto;
        }

        a {
            color: white;
            &:hover {
                color: #fdeab2;
                text-decoration: underline;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 500px;
            border: solid white 2px;

            @media screen and (max-width: $md) {
                width: 96%;
            }
        }

        .pages-title {
            font-size: 5vw;
            color: #fdeab2
        }

        .project-link {
            color: white;
            display: block;
            margin: 0;
        }
    }

}



// print page styling
@import "print";

