$bg---body: #ffffff;

$bg---header: #007bff;
$col---header: #c0edf9;

$url---colour: #007bff;

$button---bg: #007bff;


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background: $bg---body;


    header {

        background: $bg---header;
        color: $col---header;
        padding: 20px 0;
        text-align: center;

        h2 {

            font-size: 24px;
        }

    }

    main {

        nav {

            text-align: center;
            margin: 32px auto;

            a {

                margin: 0 6px;
            }

            a.ajax-nav {

                background: #007bff;
                color: rgb(255, 255, 255);
                padding: 6px 10px;
                text-decoration: none;
                border-radius: 8px;

                transition: background 0.3s ease;

                &:hover {

                    background: #47a0ff;
                }
                
            }

        }

        #load {

            display: block;
            margin: 6px auto;
            text-align: center;
            padding: 6px;
            border-radius: 6px;
            border: solid 2px blue;
            background: blue;
            background: $button---bg;
            color: white;

            cursor: pointer;

            transition: background 0.3s ease;

            &:hover {

                background: lighten($button---bg, 10%);
            }
        }

        #ajax {

            margin: 6px auto;
            padding: 10px 0;
            text-align: center;
        }
    }

    footer {

        p {

            text-align: center;

            a {

                color: blue;
                color: $url---colour;

                transition: color 0.3s ease;

                &:hover {

                    text-decoration: underline;
                    color: darken($url---colour, 10%);
                }

            }
        }
    }
}