
/*Footer Styles*/
.page-footer {
    text-align: center;
    font-family: $font-tertiary;
    margin: 28px 0px;
    display: block;
 
    p {
        font-size: 1.5rem;
 
        a {
            color: blue;
            color: #693333;
 
            &:hover {
                color: red;
            }
 
        }
    }   
 }
 