
/*Header.scss*/
body {
    background: $background-main;
}

header.main-header {
    text-align: center;
    width: 40%;
    margin: 10px auto;
    font-weight: bold;
    font-family: arial;

    h1 {
        margin: 20px 0;
        color: black;
        font-size: 25pt;
        padding: 0 10px;
    }

    a {
        color: $main-header-col;
        font-size: 12px;

        &:hover {
            text-decoration: none;
        }

        &.selected {
            color: black;
            
        }
    }
}