%btn---main {

    display: block;
    padding: 7px;
    margin: 10px auto;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background .3s ease-in-out;
    text-decoration: none;

    cursor: pointer;

    &:hover {

        background: #444;
    }
}

%btn--filters {

    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background .3s ease-in-out;
    text-decoration: none;

    &:hover {

        background: #444;
    }

}