//Config

//colours
$main-bg: yellowgreen;
$sec-bg: green;
$sec-col: white;
$border-bg: black;
$border-btm: #f5de5e;

//fonts
$font-primary: 'Oxygen', sans-serif;
$font-secondary: arial;

//breakpoints
$lg: 1480px;
$md: 780px;
$sm: 640px;

//utilities