* {
    padding: 0;
    margin: 0;
}

body {
    background: yellowgreen;
}

header {
    
    display: block;
    height: 90px;
    /* display: flex; */
    text-align: center;
    /* align-content: center; */
    /* align-self: center; */
    /* flex-basis: auto; */
    margin: 10px auto;
    font-size: large;
}

#main {
    width: 1483px;
}

.js-carousel {
    width: 100%;
    display: block;
    margin: 0 auto;
    border: solid black 2px;
}

.js-carousel img {
    width: 70%;
    margin: 0 auto;
}

/*Size of slides*/
.slick-slide img {
    width: 50% !important;
    margin: 0 auto !important;
    display: block !important;
}

footer {
    text-align: center;
}

/*Switch off prev and next buttond*/

button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    //display: none;
}