{% extends "main.html" %}

    {% block main_block %}

    <header>

        <h1>Flask with SQL</h1>

        {% block nav_block %}
        <nav>
            <ul>
                <li><a href="/" class="selected" >One</a></li>
                <li><a href="/two">Two</a></li>
                <li><a href="/three">Three</a></li>
            </ul>
        </nav>
        {% endblock %}

    </header>
    
    <main>
        <h2>Data Table - Roster</h2>

        <table>
            <tr>
                <th>Name:</th>
                <th>Age:</th>
            </tr>
            <tr>
                <td>Data 1</td>
                <td>Data 1</td>
            </tr>
            <tr>
                <td>Data 2</td>
                <td>Data 2</td>
            </tr>
            <tr>
                <td>Data 3</td>
                <td>Data 3</td>
            </tr>
            <tr>
                <td>Data 4</td>
                <td>Data 4</td>
            </tr>
            <tr>
                <td>Data 5</td>
                <td>Data 5</td>
            </tr>
        </table>

   

        {% block btn_block %}
            <a class="goToForm" href="{{ url_for('main_form') }}" title="Add a new entry" aria-label="Add a new entry">Add New Data</a>
        {% endblock %}
    </main>

    {% endblock %}