<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Flask with SQL</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    <header>
        <h1>Flask with SQL</h1>

        <nav>
            <ul>
                <li><a href="#" class="selected" >One</a></li>
                <li><a href="/two">Two</a></li>
                <li><a href="/three">Three</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Two</h2>

        <o>Lorem 2</p>
        <button>Add</button>
    </main>

    <footer>
        <p>Flask with SQL by JGDM</p>
    </footer>


    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
    
</body>
</html>