* {
    padding: 0;
    margin: 0;
}

body {
  position: relative;
  background-color: #EDEAD9;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

header {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  color: #D64226;
  background: #f3bd7c;
  font-size: 14px;
  border-bottom: 2px #e39696 solid;

}

header img {
  width: 100%;
  max-width: 350px;
}

.nav {
    width: 100%;
    text-align: right;
    position: relative;
    right: 20px;
}

.nav li {
    display: inline-block;
    margin-left: 10px;
}

.begin_btn {
    background: #fda4a4;
    text-align: center;
    display: block;
    width: 300px;
    margin: 13px auto;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px #ffffff;background: #fda4a4;
    text-align: center;
    display: block;
    width: 159px;
    margin: 13px auto;
    padding: 5px;
    box-shadow: 0px 4px 4px -3px #382d2d;
    border: solid #dd6666 1px;
    border-radius: 6px;
}


/* Flash Card Styles */
.card {
    display: block;
    width: 70%;
    background: #fda4a4;
    border-radius: 20px;
}

h1 {
  margin: 20px 0;
}

h2 {
  font-weight: 400;
  margin:.83em 10px;
  border-bottom: 2px solid grey
}

h2.card-title {
    text-align: center;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  width: 50%;
  height: 30px;
  font-size: 1em;
  text-align: center;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #34393D;
  margin: 10px 20px;
}



/* Flash Cards */
.flashcards {
  position: absolute;
  top: 240px;
  right: 0;
  left: 0;
  bottom: 0;
}

.card {
  position: relative;
  max-width: 400px;
  /*min-height: 425px;*/
  box-sizing: border-box;
  margin: auto;
  padding-bottom: 30px;
  color: #727C85;
  text-align: center;
  border-radius: 20px;
  line-height: 1.5;
  border-bottom: 4px solid rgba(0,0,0,.1);
}

.card-header {
  background-color: #727C85;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.next_card:hover,
.switch_side:hover {
  font-weight: bold;
}

.card-title {
  text-align: center;
  border-top: 2px solid #F5F3ED;
  border-bottom: 2px solid rgba(0,0,0,.05);
  color: #727C85;
  padding: 10px;
  letter-spacing: 5px;
  background-color: #F5F3ED;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

#content {
    padding: 5% 5%;
    padding: 2% 35%;
}

#content button,
.submit {
  padding: 8px 10px;
  font-size: .8em;
  margin: auto;
  margin: 5px;
  color: #C79735;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: #F5F3ED;
  border: 1px solid #C79735;
  cursor: pointer
}

#content button {
  display: block;
}

#content button:hover {
  cursor: pointer;
  background-color: #C79735;
  color: #fff;
}

/*footer*/

footer p {
    text-align:  center;
}

/*404 page styling*/


/*responsive*/
@media screen and (max-width: 680px) {
    .nav {
        text-align: center;
    }

    .card {
      width: 70%;
      
    }

    #content {
      padding: 0;
    }

    #content table {
      display: table;
      margin: 10px auto;
    }
}