.parallax-eight {
    background: url("img/praise_in_park.png");

     /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    color: black;
    padding: 15% 0;
    margin-bottom: 5%;

}

.eight {      

    div {

		@extend %box-styling;

      	@include div-styling($text-col-eight, $border-col-eight solid 2px, $bg-eight);
        transition: transform .1s, background .2s;

        &:hover {
            background: $bg-eight-hover;
            transform: scale(1.07);
            transition: transform .1s, background .2s;
        }
    }

    h1 {
        text-align: center;
        font-size: 16pt;
    }

    p {
        font-size: 12pt;
    }

    a {
        color: $text-col-eight;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}