footer {
    p {
        text-align: center;
        
        a {
            
            color: gold;
            transition: color .3s;
            
            &:hover {
                
                color: white;
            }
        }
    }
}