* {
    margin: 0;
    padding: 0;
}

body {
    background: lightcyan;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Iceland', cursive;
    font-family: 'Arial';
    font-family: 'Verdana';
}

header {
    width: 100%;
    background: black;
    color: white;
    display: flex;
    height: 70px;
}

header img {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 30px;
}

header nav {
    width: 60%;
    display: inline-block;

}

.main-nav { 
    display: block;
    position: relative;
    top: 25px;
 
}

.main-nav li {
    display: inline-block;
    margin-left: 60px;
}

.main-nav li a {
    color: white;
    text-decoration: none;
}

.main-nav li a.selected, 
.main-nav li a:hover {
    border-bottom: solid white 3px;
}

main {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-left: solid 1px black;
    border-right: solid 1px black;
    line-height: 10px;
    line-height: 2;
}

main p {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    text-align: center;
}