
/*walk-template.scss*/
.walk-template {

        
    border: solid 1px black;
    /*display: block;*/    
    /*width: 60%;*/
    @include section-layout(0 auto, 15px, #d3d3d3);
    @extend %trail-type-headings;

    @media (min-width: $xl) {
        /*width: 1450px;*/
        width: 1500px;
    }

    @media (max-width: $xs) {
        width: 75%;
    }

    h2 {
        font-size: 15pt;
        color: blue;
    }

    .template-content {
        display: flex;
        /*border: solid black 1px;*/
        flex-direction: row-reverse;
        color: $section-col;
        text-align: left;

        @media (max-width: $md) {
            flex-direction: column-reverse;
        }

        p {
            order: 2;
            line-height: 1.5;
            padding: 5px;

            @media (max-width: $md) {
                padding: 5px 0;
                font-size: 12px;
            }
        }    
        
        h3 {            
            margin: 15px 0;
        }

        img.walk-template-img {
            order: 1;
            padding: 10px;
            /* width: 65%; */
            width: 50%;

            @media (max-width: $md) {
                width: 100%;
                display: block;
                margin: 0 auto;
                padding: 10px 0;
            }
            
            @media (max-width: $xs) {
                /*width: 50%;*/

            }
        }

        .back-home {
            @extend %btn-backhome;
        }

        ul, ol {
            display: block;
            margin-left: 20px;
            position: relative;
            font-size: 10pt;
        }

        .content {

            a.pagination {
                font-weight: bold;
                color: red;
                color: #d71f1f;
                font-size: 12pt;

                &:hover {
                    text-decoration: none;
                }   
            }

        }
    }

}
