
/*walks partial*/
.walk {

    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    /* width: 50%; */
    /* width: 900px; */
    width: 90%;

    @media (max-width: $sm) {
        display: grid;
        grid-template-columns: 44% 54%;
        margin: 0 auto;
        /*width: 50%;*/
        width: 80&;
    }

    @media (max-width: $xs) {
        //grid-template-columns: minmax(30%, 35%) 1fr 1fr
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
}

.walk > div {

    
    //walk content blocks
    /*background: gray;*/
    /*border-radius: 5px;*/
    /*margin-bottom: 10px;*/
    padding: 5px;
   

    h3 {

        font-size: 15pt;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
    }

    img {
        /*width: 75%;*/
        width: 100%;
        max-width: 400px;
        max-width: 100%;
        display: block;
        
        @media (max-width: $md) {
                /*width: 75%;*/
                width: 100%;
        }
    }
    

    a {

        @extend %walk-btn;

    }

    .lightbox-slider,
    .trail-image,
    .lightbox-link {
        width: 200px;
        background: none;
    }


    .follow-trail {
        @extend %follow-the-trail;
    }

}