@import "sass/config";

// EXTENDS

// buttons
@import "sass/extends/buttons/btn-add-task";
@import "sass/extends/buttons/btn-clear-tasks";
@import "sass/extends/buttons/btn-edit-task";
@import "sass/extends/buttons/btn-remove-task";

// inputs 
@import "sass/extends/inputs/input-text-newtask";
@impoty "sass/extends/inputs/input-chkb-filter";
@import "sass/extends/inputs/input-chkb-completed";

* {
    margin: 0;
    padding: 0;
}

body {
    
    background: $bg-body;
    
    //v4
    header {
        
        text-align: center;
        display: block;
        width: 100%;
        
        background: $bg-header;
        color: $col-secondary;
        font-family: $font-main;
        margin-bottom: 20px;
        border-bottom: $bg-border-bottom solid 5px;
        height: 100px;            
        
        h1 {

            text-align: center;
            margin: 0;

            #versioning {

                color: red;
                color: #fff708;
                font-size: $font-size-sm;
            }
        }
        
        .version_list {
            
            li {
                
                list-style: none;
                display: inline-block;
                margin-left: 4px;
                
                a {
                    
                    color: yellow;
                    
                }
            }
        }
        
    }
    
    h1 {
        
        text-align: center;
    }
    
    .instruction {
        
        text-align: center;
        font-style: italic;
        margin: 15px 0;
    }
    
    .input-tasks {
        
        text-align: center;
    
        #taskInput {

            display: inline-block;
            margin: 0 auto;
            border: solid 2px black;
            border-radius: 6px;
            padding: 3px;
            background: lightgreen;
        }


        #addTaskButton {

            // TODO: style addTask button
            display: inline-block;
            background: yellow;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
            transition: background .3s;
            
            &:hover {
                
                background: #f1f180;
            }
        }
        
        #clearTasksButton {
            
            // TODO: style addTask button
            display: inline-block;
            background: yellow;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
            transition: beige .3s;
            
            &:hover {
                
                background: #f1f180;
            }
            
        }
    }
        
        
    .toggle-completedtasks {

        display: block;
        margin: 15px auto;
        text-align: center;
        color: red;    
        font-weight: bold;
        font-size: $font-size-md;
        
        #hideCompletedCheckbox {
            
            width: 75px;
            height: 20px;
            vertical-align: middle;
        }
    }

    .hide-completed-tasks {


    }
    
    .display-list {
        
        border: solid red 1px;
        
        h2 {
            
        }
        
        div {
            
        }
    }
    
    ul#taskList {
        
        font-size: $font-size-md;
        padding: 4px;
        background: $bg-tasklist;
        width: 50%;
        width: 480px;
        display: block;
        margin: 10px auto;
        border: solid black 3px;
        border-radius: 7px;
        
        @media (max-width: $bkpt-lg) {
            
            width: 480px;
        }
        
        @media (max-width: $bkpt-md) {
            
            width: 75%;
            width: 93%;
            
            
        }
        
        li {
            
            line-height: 2;
            height: 50px;
            list-style: none;
            
            .completedCheckbox {
                
                height: 25px;
                width: 30px;
                vertical-align: top;
            }
            
            span {
                
                /* min-width: 100px; */
                /* min-width: 150px; */
                /* width: auto; */
                min-width: 185px;
                /* width: 80%; */
                width: 270px;
                display: inline-block;
                
                @media (max-width: $bkpt-md) {
                    
                    min-width: 0;
                    width: 50%;
                }
                
                @media (max-width: $bkpt-sm) {
                    
                    min-width: 0;
                    width: 35%;
                    font-size: $font-size-sm;
                    /* overflow-x: hidden; */
                    /* position: relative; */
                    /* bottom: -3px; */
                    
                    
                }
                
                
                input.editInput  {
                    
                    border: solid red 1px;
                    /* outline: none; */
                    background: greenyellow;
                    border: none;
                    width: 185px;    
                    font-size: 14pt;
                    font-weight: bold;
                    color: darkgreen;
                    
                    @media (max-width: $bkpt-md) {
                        
                        width: 100%;
                    }
                    
                }
            }
        }
        
        #task_id {
            
            font-weight: bold;
        }
        
        .removeButton,
        .editButton {
            background: red;
            color: white;
            font-weight: bold;
            padding: 6px;
            border-radius: 10px;
            margin-left: 20px;
            cursor: pointer;
            border: black solid 2px;
            position: relative;
            /* top: -9px; */
            transition: background .3s;
            
            &:hover {
                
                background: lighten(red, 15%);
                
            }
        }
        
        .editButton {
            
            width: 50px;
        }
        
    }
    
    // note page
    main.note {
        
        color: $col-primary;
        font-family: arial;
        
        .log {
            
            width: 400px;
            border: solid black 2px;
            font-size: 10px;
            margin: 0 auto;

            h2 {
                
                text-align: center;
            }
            
            h3 {
                
                margin-top: 20px;
            }
            
            ul {
                
                li {
                    
                    list-style: none;                    
                    font-size: 9pt;
                    color: dimgray;
                    margin-bottom: 4px;
                }    
            }
            
        }        
        
    }
    
}