extends layout.pug

block content
    h2.card-title Sass Cards
    
    section#content
        article.card
            h2= text

            if hint
                p 
                    i Hint: #{hint}
            a(href=`${id}?side=${sideToShow}` class="switch_side")= sideToShowDisplay
            br
            a(href='/sass' class="next_card") Next Card!
    
