main {

    h1 {
        text-align: center;
    }

    .list-js {

        width: 70%;
        margin: 25px auto;
        display: block;
        border-right: solid 2px black;
        border-left: solid 2px black;
        padding: 0 10px;
        height: 35px;

        div {

            h2 {

                color: red;

            }
            
            p {


                color: red;
            }

        }

    }

}