$bg-body: orange;

$color-hdr: white;


$bg-hdr: #4a4a4a;

$bg-checklist-hvr: lightgreen;
$bg-checklist: #f3db74;
$bg-checklist-focus: green;

// $bg-checklist-bg-hvr: #f4db74;

$bg-mn: #f3db74;
$color-mn: black;

$bdr-checked:#59cd59;
$bdr-hover: green; 
$bdr-focus: green;

$bkp-md: 980px;
$bkp-sm: 780px;

// FONTS 

$font_1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font_2: "Roboto", "arial";


$font: $font_2;
