$bg-body: #e0f446;

$bg-header: black;
$col-header: white;
$bdr-header: $col-header;
$col-nav-href: #14085c;
$col-nav-href-hov: gold;

$hd1-col: white;
$hd2-col: #464444;

//fonts 
$font: arial;

//breakpoints 
$md: 760px;
