* {
    padding: 0;
    margin: 0;
}

body {
    background: $bg-body;
    font-family: $font;

    header {
        width: 100%;
        height: 85px;
        border-bottom: $bdr-header 4px solid;
        background: $bg-header;


        h1 {

            text-align: center;
            color: $hd1-col;

        }

        img {
            border: solid red 2px;
            display: block;
            margin: 0 auto;
        }

        nav {

            width: 100%;
    
            ul.main-nav {
    
                display: block; 
                margin: 10px auto;
                height: 45px;
                text-align: center;
    
                li {
    
                    list-style: none;
                    display: inline-block;
                    margin-left: 10px;
    
                    a {
                        color: $col-nav-href;
    
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
    
            }
    
            hr {
                width: 40px;
                text-align: center;
                margin: 0 auto;
            }
    
        }
    }

    

    #grid_logo {
        margin: 5px auto;
        display: block;    
        border-radius: 50%;
        border: solid white 5px;
    }

    //global heading level 2
    h2 {

        font-size: 25pt;
        color: $hd2-col;
        text-align: center;
        margin-bottom: 30px;
    }


    .grid_container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0px 5px;
        margin: 0 auto;
        width: $width-lg;

        @media (max-width: $md) {
            grid-template-rows: 1fr 1fr 1fr;
            display: block;
            margin: 0 auto;
            width: 90%;
        }

   
        .about-grid {

            width: 150px;

            @media (max-width: $md) {
                line-height: 2.4;
                width: $width-md;
            }

        }

    }

    article.sub_grid {
            
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: $width-lg;
        margin-top: 10px;
        margin: 0 auto;
        padding: 40px;

        @media (max-width: $md) { 
            display: grid;
            grid-template-columns: 2fr 1fr;
            width: $width-md;
            margin-top: 23px;
            margin: 0 auto;
            padding: 40px 0;
        }

        .main-content {
            width: 60%;

            @media (max-width: $md) { 
                width: $width-md;
            }
            p {
                line-height: 1.4;
                margin-bottom: 15px;
            }

            h3 {

                font-size: 2em;

            }

        }

        .main-items {

            div.item {

                @media (max-width: $md) {
                    line-height: 1.6;
                }

            }

        }
    }

    //uses grid areas
    .book_descriptions {
        display: grid;
        width: $width-lg;
        /* width: 90%; */
        margin: 0 auto;

        grid-template-areas: "one one one"
        "two three four"
        "five six seven";

        @media (max-width: $md) { 
            display: block;
        }
        
        
        .one {
            grid-area: one;
        }

        .featured {
            text-align: center;
            margin: 5%;
            border-bottom: solid red;
        }

        .two {
            grid-area: two;

        }

        .three {
            grid-area: three;

        } 

        .four {
            grid-area: four;


        } 
        .five {
            grid-area: five;

        } 

        .six {
            grid-area: six;

        }

        .seven {
            grid-area: seven;

        }

        .book {            
           /*  width: 100px; */
           background: $bg-secondary;
           padding: 20px;
           margin: 5px;
           border-radius: 15px;
           box-shadow: black 0px 0px 11px;

            h3 {
                color: black;
            }
        }
        
       /*  .one, 
        .two, 
        .three,
        .four,
        .five,
        .six, 
        .seven {
        } */



    }

    
    .page_wrapper {

        display: block;
        margin: 0 auto;
        width: 50%;

        
        @media (max-width: 1270px) {
            width: 95%;
        }

        
        @media (max-width: 760px) {
            width: 95%;
            display: flex;
            display: block;
            flex-direction: row-reverse;
        }

        
        h3 {
            line-height: 2;
            margin-top: 10px;

            code {
                display: block;
            }

        }

        .code_block {
            display: grid;
            grid-template-columns: minmax(320px, 417px) 1fr;
            
            /* grid-gap: 20px;*/

            @media (max-width: 760px) { 
                display: flex;
                flex-direction: column-reverse;
                padding: 5px;
            }


        }

    }

    .grid_page {
        display: block;
        width: 50%;
        margin: 0 auto;

        p {
            line-height: 2;
        }

        table {
            margin: 20px auto;
            width: 80%;
            text-align: center;
            caption {
                font-style: italic;
                font-size: 12px;
            }
        }
    }


    footer {
            margin-top: 10px;
            text-align: center;
    }
}