* {
    padding: 0;
    margin: 0;
}

body {
    background: orange;

    header {
        width: 100%;
        border-bottom: white 4px solid;
        background: black;


        h1 {

            text-align: center;
            color: white;

        }

        img {
            border: solid red 2px;
        }
    }

    nav {

        width: 100%;

        ul.main-nav {

            display: block; 
            margin: 10px auto;
            height: 45px;
            text-align: center;

            li {

                list-style: none;
                display: inline-block;

                a {
                    color: white;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

        }

        hr {
            width: 40px;
            text-align: center;
            margin: 0 auto;
        }

    }

    .grid_container {

        h2 {

        }

        article.sub_grid {

            .main-container {

                h3 {

                }

            }

            .main-content {

                div.item {

                }

            }
        }
    }

    footer {

    }
}