// Breakpoints


$color-span: red;

$txt-col-primary: black;
$txt-col-secondary: white;

$hrf-col-primary: black;
$hrf-col-secondary: white;


$btn-bg: #ee5752;
$btn-bg-hvr: #fb1111;


$breakpoint-l: 1200px;
$breakpoint-m: 980px;