
// config file

$bg-body: #a1a1ef;

$bg-header: black;


$bg-span-clone: #aebeff;
$bg-span: $bg-span-clone;

$txt-col-primary: black;
$txt-col-secondary: white;

$txt-col-span: #565252;

$hrf-col-primary: black;
$hrf-col-secondary: white;


$btn-bg: #ee5752;
$btn-bg-hvr: #fb1111;

// fonts 

$font-primary: arial;
$font-secondary: verdana;
$font-span: verdana;


$font-size-h1: 32px;
$font-size-main: 14px;
$font-size-small: 10px;



// Breakpoints

$breakpoint-l: 1200px;
$breakpoint-m: 980px;