/*

Last Update:  09/05/2020 - 13:29

*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  background-image: url(assets/img/interior.jpg);
  background-image: url(assets/img/interior-dark.jpg);
  background-image: url(assets/img/interior-darker.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  width: 100%;
  background: #292927;
  height: 130px;
  border-bottom: solid white 3px;
}
header h1 {
  text-align: center;
  color: #f2f284;
}
header a {
  text-decoration: none;
}
header a img#main_logo {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 10px;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  border: solid white 3px;
  border-radius: 50%;
  padding: 6px;
  background: #292927;
}

main {
  border: solid black 1px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  gap: 5px;
  width: 95%;
  margin: 45px auto;
}
main h2 {
  color: white;
}

/*primary section*/
article#main_block {
  width: 45%;
  padding: 10px;
}
article#main_block p {
  color: white;
  line-height: 1.9;
  margin-bottom: 15px;
}
article#main_block p strong,
article#main_block p b {
  color: yellow;
}
article#main_block p em,
article#main_block p i {
  color: #3edc3e;
}
article#main_block p a {
  color: yellow;
  transition: color 0.3s;
}
article#main_block p a:hover {
  color: #3edc3e;
}

/*secondary section */
aside#secondary_block {
  width: 45%;
  /* content-bg */
}
aside#secondary_block .content_block {
  line-height: 1.9;
  /* width: 90%; */
  /* width: 42%; */
  /* width: 50%; */
  width: 80%;
  margin-bottom: 30pt;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3333333333);
  border: solid white 3px;
}
aside#secondary_block .content_block h2,
aside#secondary_block .content_block h3,
aside#secondary_block .content_block h4,
aside#secondary_block .content_block h5,
aside#secondary_block .content_block h6 {
  color: yellow;
}
aside#secondary_block .content_block h2 {
  text-align: center;
}
aside#secondary_block .content_block h3 {
  margin-top: 18px;
  /* text-decoration: underline; */
  border-bottom: yellow 2px solid;
}
aside#secondary_block .content_block h3 a {
  color: #3edc3e;
  font-size: 14px;
  text-transform: capitalize;
  font-style: italic;
  transition: color 0.2s;
}
aside#secondary_block .content_block h3 a:hover {
  color: yellow;
}
aside#secondary_block .content_block p {
  color: white;
}
aside#secondary_block .content_block ul li,
aside#secondary_block .content_block ol li {
  color: white;
  font-size: 10pt;
}
aside#secondary_block .content_block ul li a,
aside#secondary_block .content_block ol li a {
  color: yellow;
  transition: color 0.2s;
}
aside#secondary_block .content_block ul li a:hover,
aside#secondary_block .content_block ol li a:hover {
  color: #3edc3e;
}
aside#secondary_block .content_block strong {
  color: #3edc3e;
}
aside#secondary_block ul {
  list-style: none;
}
aside#secondary_block ul li {
  display: block;
}
aside#secondary_block ul li a {
  color: yellow;
}
aside#secondary_block ul li a:hover {
  color: #3edc3e;
}

/*content-bg */
.content_block {
  line-height: 1.9;
  /* width: 90%; */
  /* width: 42%; */
  /* width: 50%; */
  width: 80%;
  margin-bottom: 30pt;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3333333333);
  border: solid white 3px;
}

footer {
  margin: 0 10px;
  color: white;
}

footer p {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
