ul.currencies {
    font-family: $font-secondary;
    height: auto;
    height: calc(100vh - 185px);
    background-color: $currency-list-bg;
    /*border: solid pink 1px;*/
    border-top: 1px white solid;
    overflow-y: auto;

}

ul.currencies::-webkit-scrollbar {
    width: 15px;
    background: $scrollbar-color;
 }

ul.currencies::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    cursor: pointer;
    transition: background .2s;
    border: solid 1px black;
    border: solid 1px #222121;

    &:hover {
        background: $scrollbar-thumb-hover;
    }
}

ul.currencies li {
    background: $currency-list-item-bg;
    border-radius: 5px;
    list-style: none;
    margin-bottom: 1rem;
    padding: 3px;
    position: relative;

}

ul.currencies li:hover {
    background: #264d73;
}

ul.currencies li.last-child {
    margin-bottom: 0;
}

ul.currencies li.base-currency {
    background: $currency-list-item-bg-hover;
    position: relative;
}

ul.currencies li:hover {
    background: $currency-list-item-bg-hover;
}