
/*notes.scss*/
.notes {
    padding: 5px;

    h2 {
        color: red;
        padding-left: 10px;
    }

    
    p {
        padding-left: 10px;
        line-height: 1.6;
    }


    ul {
        li {
            margin: 15px 0;
            list-style: none;
            padding-left: 10px;
        }

        li a  {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .readme {
    
        @extend %readme_btn;
        
    }
}