//footer
.header {

    .logo-container {

        img {
            width: 30%;
        }

    }

    .website-title {

         h1 {
             font-size: large;
         }

    }

    .main-nav {

        ul li {
            display: inline-block;
        }
        
        ul li a {

        }
    }

}
