/*Header*/

.header {

    .logo-container {

        img {
            width: 200px;
        }

    }

    .website-title {

         h1 {
             font-size: large;
         }

    }    

    .main-nav {

        ul {

            border: solid red 1px;

            li {
                display: inline-block;
            }

            a {
                display: inline-block;
                color: blue;

                img {
                    width: 20px;
                }
            }

            a.selected {
                font-weight: bold;
                color: black;
            }

            a.nav-item {
                display: list-item;
            }            

        }

    }

}
