.main-content {
    article#all-projects { 

        @include articlePlacement(block, row, 10%);
        @extend %sections;

        .all {
            text-align: center;        

            a {
                margin: 10px;

            }

            img {
                margin: 10px;
                /*width: 100%;*/
            }
        }

        span {
            font-style: italic;
            color: #2e2d2d;
            font-size: 13px;
            font-weight: bold;
        }

    } 
} 