.main-content {

    article#dyspraxia {
        @include articlePlacement(block, row, 10%);
        //max-width: 500px;
        @extend %sections;

        h2 {
            display: block;
            text-align: center;
            width: 100%;
        }

        h3 {
            font-size: 20pt;
            color: $jonniegrieve;
            color: $digitalmedia;
            color: red;
            color: black;
        }

        p {
            padding: 15px;
        }

        a {
            color: inherit;
            color: $nav-link-col;

            &:hover {

                text-decoration: none;
                color: $nav-link-hov;
            }
        }

        /*selects quote element successfully*/
        quote {
            color: #1d0032;
            width: 90%;
            display: block;
            margin: 0 auto;
            font-style: italic;
            font-size: large;
        }
        

    }

    .button {
        @extend %prices-button;
    }

}
