.main-content {
    article#featured {  

        @include articlePlacement(block, row, 10%);
        @extend %sections;

        .show-featured {
            text-align: center;

            a {
                img {
                    width: 35%;
                }
            }
        }
    

        h2 {
            text-align: center;
        }

        p {
            width: 50%;
            margin: 0 auto;
        }

        img {
            display: inline;
            margin: 0 auto;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
            
            @media(max-width: $md) {
                width: 70%;
            }
            
        }
    } 

}