.main-content {

    article#hire-me {
        @include articlePlacement(block, row, 10%);
        @extend %sections;

        h2 {
            display: block;
            text-align: center;
            width: 100%;
        }

        aside {
            margin: 0 auto;
            display: block;
            width: 90%;
        }

        .hire-me-content {
            color: black;
            width: 30%;
            height: 320px;
            background: lightgray;
            transition: 0.5s;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            cursor: crosshair;
            border: solid black 2px;

            h2 {
                font-size: 20pt;
                @media (max-width: $lg) {
                    font-size: 20pt;            
                }
            }

            @media (max-width: $md) {
                display: block;
                width: 80%;
                margin: 0 auto;
            }

            &:hover {
                background: #EEF595;
                transition: 0.5s;
                border: solid green 2px;
            }

            strong {
                color: green;
            }
        }

        form {

            span {
                color: #be0909;
            }
        }

        form#hire-form {
            width: 90%;
            //background: #EEF595;
            color: black;
            padding: 10px;
            margin: 0 auto;
            @media (max-width: $lg) {
                width: 90%;
            }

            //
            .js-needsfilled {
                background: red;
                color: white;
            }
        }

        label {
            font-weight: bold;
        }

        a {
            color: $nav-link-col;
            text-decoration: none;
            &:hover {
                color: $nav-link-hov;
            }
        }

        input {
            height: 50px;
            width: 60%;
            width: 70%;
            font-family: Lato;
            font-size: 20px;
            padding: 3px 20px;
            margin-top: 35px;
            border-color: black;
            border-radius: 15px;
            transition: background .2s;

            //fill in on js error
            .js-needsfilled {
                background: red;
                color: white;
            }            
        
            @media (max-width: $lg) {

                width: 90%;                
                margin-top: 0px;
                margin-bottom: 35px;
            }
            
            @media (max-width: $md) {

                width: 80%;
            }

            &:hover {

                background: #eef595;
            }
        }

        input:focus {

            background: #eef595;
            transition: background .4s;

            &:hover {

                transition: background .4s;
                background: yellow;
            }
        }

        textarea#message {

            width: 70%;
            height: 145px;
            display: block;
            font-size: 20px;
            padding: 10px 20px;
            font-family: lato;
            border: black solid 2px;
            border-radius: 15px;
            margin-top: 10%;
            transition: background .2s;

            &:hover {

                background: #eef595;
            }

            @media (max-width: $lg) {

                width: 90%;
            }
            @media (max-width: $md) {

                width: 80%;
            }
        }

        textarea#message:focus {
            background: #eef595;

            &:hover {
                transition: background .4s;
                background: yellow;
            }
        }
        

        input#confirm {
            border: red solid 1px;
            width: 15%;
            height: 35px;
            cursor: pointer;
        }

        input[type="submit"] {
            display: table;
            content: "";
            clear: both;

            height: 40px;
            margin: 20px auto;

            cursor: pointer;
            @extend %submit_btn;
        }

        input#submit {
            @extend %submit_btn;
            width: 40%;

            @media(max-width: $md ) {
                width: 80%;

            }
        }
        
        .div-row {
            min-height: 50px;
        }

        .div-row-consent {

            width: 100%;
            text-align: center;

            #consent-label {

                font-size: 18pt;
                margin-top: 15px;
                display: block;
            }

        }
        
        .col-one {
            float: left;
            width: 125px;
        }

        .col-two {
            min-height: 10px;
        }
        

        .field-error {
            font-weight: bold;
            color: white;
            background: #be0909;
            width: 50%;
            font-size: 12px;
            padding: 6px 5px;
            display: inline-block;
            cursor: pointer;
            &:hover {
                background: lighten(#be0909, 10%);
            }
        }

    }

}