.main-content {

    article {    
        width: 60%;
        margin: 0 auto;
        line-height: 2.2;
        border-radius: 20px;
        margin-bottom: 20px;
        color: $article-text-col;

        @media (max-width: $md) {
            width: 80%;
        }
        
        @media (max-width: $lg) {
            width: 90%;
        }

    }
}