.main-content {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    
    article#intro {
        background: none;
        padding: 30vh 0 0 0;
        margin-top: 150px;

        @media(max-width: $lg) {
            margin-top: 5%;
            margin-top: 10%;
        }
        
        @media(max-width: $sm) {
            padding: 20vh 0 0 0;
        }

        img#large_logo {
            display: block;
            margin: 0 auto;

        }

        h1 {

            text-align: center;

            @media(max-width: $sm) {
                font-size: 6vw;
            }
        }

        p {

            text-align: center;
            
            @media(max-width: $sm) {
                font-size: 6vw;
            }
        }
        

        h2 {
            font-size: 22pt;
        }

        a {
            color: white;
            &:hover {
                color: #fdeab2;
                text-decoration: none;
            } 
        }

        .form-error {
            line-height: 1;
            border-width: 4px;
            border-style: dashed;
            border-color: rgb(255, 0, 0);
            border-image: initial;
            background: rgb(216, 76, 76);
            padding: 30px;
        }
        
        .form-success {
            line-height: 1;
            background: lightgreen;
            border: solid green 4px;
            padding: 30px;
            color: green;
        }
    }
}