.main-content {
    article#services {
            @include articlePlacement(flex, row, 10%);
            @extend %sections;

            flex-wrap: wrap;
            min-height: 1vh;
            justify-content: center;

            @media(max-width: $md) {
                width: 90%
            }

            h2 {
                display: block;
                width: 100%;
                text-align: center;
            } 
            
            h3 {
                width: 100%;
                text-align: center;
            }

            div {
                display: block;
                @extend %services-images-size;
                position: relative;
                margin-bottom: 10px;
                margin: 55px 10px;
                width: 250px;
                height: 250px;
            }

            img {
                /*position: absolute;*/
                opacity: 0.4;
                border-radius: 10px;
                @extend %services-images-size;
                transition: .2s;

                &:hover {
                    opacity: 1;
                    transition: .2s;
                }
            }

            a {
                color: black;
                text-decoration: none;
            }

            

            p {
                font-family: 'Roboto', sans-serif;
                font-family: 'Lato', sans-serif;
                position: relative;
                /*bottom: 77px;*/
                min-height: 55px;
                background: $services-img-background;
                border-bottom: 6px solid #25893b;
                margin-top: 40px;
                padding: 5px;
                //opacity: 0.6;
            }
            .elsewhere p {
                position: relative;
                bottom: 60px;
                min-height: 55px;
                background: $services-img-background;
                border-bottom: 6px solid #25893b;
                margin-top: 40px;
                padding: 5px;
                //opacity: 0.6;
            }

            
            .far, .fab, .fal, .fas {    
                /*font-family: "Font Awesome 5 Free";*/
                font-size: 143px;
                color: lightblue;
                color: lightgray;
                color: #fff185;
                color: #3f50a9;
                position: relative;
                top: 10px;
                margin: 0 auto;
                width: 100%;
                display: block;
                text-align: center;
                transition: .2s;
                //transform: scale(0);

                &:hover {
                    transform: scale(1.1);
                    color: blue;
                    color: #25893b;
                    transition-duration: .2s;
                }
            }       
        }

}