
.main-content {

    article#video {
        @include articlePlacement(block, row, 10%); 
        @extend %sections;

        h2 {
            display: block;
            text-align: center;
            width: 100%;
        }

        @media(max-width: $md) {
            width: 90%;
        }
        
        video {
            width: 85%;
            margin: 0 auto;
            text-align: center;
            display: block;

            @media(max-width: $md) {
                width: 90%;
            }
        }

    }

}