/* sass.scss */

$font---main: Poppins, verdana, arial, sans-serif;

$background---primary: #0f172a;
$background---secondary: #1a3352;

$color---primary: #fff;
$color---secondary: #89ddff;

$bdr---col--primary: #1b4e62;
$bdr---col--primary-hvr: #89ddff;

* {

    padding: 0;
    margin: 0;
}

body {

    background: $background---primary;
    color: $color---primary;

    header {

        width: 100%;
        font-family: Poppins, verdana, arial, sans-serif;
        
        #page_logo {

            display: block;
            margin: 0px auto;
            padding: 6px 0;
            width: 100px;
            height: 100px;

        }

        h1 {

            font-size: 22px;
            text-align: center;
            font-weight: normal;
            margin: 6px 0;
        }

    }
}


main {

    font-family: $font---main;

    

    .database---location--instance {

        /* margin: 10px 5px; */
        border-radius: 10px;
        /* border: solid 1px #1b4e62; */
        border: solid 1px $bdr---col--primary;
        /* color: #89ddff; */
        color: $color---secondary;
        margin: 25px auto;
        padding: 25px;
        background: $background---secondary; //  #1a3352
        width: 45%;


        transition: all .3s;

        &:hover {

            background: #264b79;
            /* border: solid 1px #89ddff; */
            border: solid 1px $bdr---col--primary-hvr;
        }

        h2 {

            font-size: 16px;
            margin: 6px 0;
            font-weight: normal;

            .database---project--style {

                color: $color---secondary;
            
                font-size: 14px;
                vertical-align: middle;
                font-style: italic;
                color: yellow;
            }
        }

        p {

            color: $color---primary;
            font-size: 12px;
        }

        .record---count {

            font-size: 14px;
            color: $color---secondary;
            margin: 6px 0;
        }

        .db---location {

            font-size: 12px;

            code {
            
                font-family: $font---main;
                font-style: italic;
                color: $color---secondary;
            }

        }

        
    }

}



