* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Add currency colours*/
/* BUTTON STYLES - button-main.scss*/
.add-currency-btn {
  width: 100%;
  background: lightyellow;
  /*color: #fff;*/
  /*padding: 1rem;*/
  height: 50px;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
  color: black;
  position: relative; }

.add-currency-btn.open {
  background-color: red;
  color: black;
  height: 50px;
  color: white; }

* {
  padding: 0; }

body {
  background: darkgray; }

header.main-header {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  font-weight: bold;
  font-family: arial; }
  header.main-header a {
    color: red;
    font-size: 10px; }
    header.main-header a:hover {
      text-decoration: none; }
  header.main-header h2, header.main-header p {
    margin: 20px 0;
    padding: 0 10px; }

/*main container styles */
.container {
  position: relative;
  background: black;
  color: white;
  /*border: solid yellow 1px;*/
  width: 500px;
  height: auto;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .container .header {
    /*border: solid red 1px;*/
    background: #111111; }
    .container .header h1 {
      text-align: center;
      font-size: 3pc;
      font-family: "Roboto", sans-serif; }
  .container .date {
    font-family: verdana;
    text-align: right;
    margin: 10px 5px;
    font-size: 10px;
    /*background: $header-bg;*/ }
  .container .date > span {
    color: #e9a042;
    font-weight: bold; }

.flag {
  vertical-align: top;
  width: 60px;
  height: 40px;
  margin-left: 5px; }

/*Currency info styles*/
.info {
  display: inline-block;
  width: 85%;
  color: white; }

.info .input span {
  font-size: 1.5rem;
  display: inline-block;
  width: 4rem;
  text-align: center; }

.info .input input {
  border-radius: 5px;
  border: solid 2px white;
  background-color: transparent;
  border-radius: 5px;
  width: 58%;
  padding: 0 10px;
  padding: 0.3rem;
  font-size: 12px;
  height: 30px;
  color: white;
  margin-left: 1rem;
  vertical-align: top;
  margin-bottom: 0.75rem; }
  .info .input input::placeholder {
    color: white; }

.info .base-currency-rate {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-left: 4rem; }

.info .currency-name {
  font-size: 0.8rem;
  margin-left: 4rem; }

.disabled {
  opacity: 0.7;
  cursor: not-allowed; }

/*Close button*/
.close {
  position: absolute;
  cursor: pointer;
  color: #ff0000;
  top: 0;
  right: 0;
  display: block;
  margin: 10px; }

/*Currency Button Styles*/
.add-currency-btn i {
  position: absolute;
  top: 1px;
  left: 30%;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.25s;
  color: yellow; }

.add-currency-btn.open i {
  opacity: 1;
  left: 1.2rem;
  margin-top: 10px; }

.add-currency-btn.open + ul.add-currency-list {
  height: calc(100vh - 40px - 100px - 55px);
  display: block; }

.add-currency-btn.open + ul.add-currency-list li:hover {
  background-color: #ede; }

ul.currencies {
  font-family: verdana;
  height: auto;
  height: calc(100vh - 185px);
  background-color: #222;
  /*border: solid pink 1px;*/
  border-top: 1px white solid;
  overflow-y: auto; }

ul.currencies::-webkit-scrollbar {
  width: 15px;
  background: #807d7d; }

ul.currencies::-webkit-scrollbar-thumb {
  background: #333;
  cursor: pointer;
  transition: background .2s;
  border: solid 1px black;
  border: solid 1px #222121; }
  ul.currencies::-webkit-scrollbar-thumb:hover {
    background: #b3aeae; }

ul.currencies li {
  background: #472222;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 1rem;
  padding: 3px;
  position: relative; }

ul.currencies li:hover {
  background: #264d73; }

ul.currencies li.last-child {
  margin-bottom: 0; }

ul.currencies li.base-currency {
  background: #693333;
  position: relative; }

ul.currencies li:hover {
  background: #693333; }

/* Currencies List Styles*/
ul.add-currency-list {
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: #f1f1f1;
  color: #333;
  width: 100%;
  overflow-y: auto;
  transition: all 0.25s;
  height: 0; }

ul.add-currency-list:hover {
  height: calc(100vh -40px - 100px - 55px);
  display: block; }

ul.add-currency-list li {
  list-style: none;
  margin: 0 15px;
  padding: 10px 15px; }

/*Responsive code*/
@media (max-width: 600px) {
  html {
    font-size: 14px; }

  .container {
    width: 100%;
    margin: 0 auto; }

  ul.currencies {
    height: calc(100vh - 83px - 34px - 51px); }

  .header h1 {
    font-size: 2rem; }

  .flag {
    width: 3rem;
    height: 2rem; }

  .info .input span {
    font-size: 1.25rem;
    width: 3.5rem; }

  .info .input input {
    font-size: 1.25rem;
    width: 76%; }

  .info .currency-name {
    margin-left: 3.5rem; }

  .info .base-currency-rate {
    margin-left: 3.5rem; }

  ul.add-currency-list {
    bottom: 48px;
    height: calc(100vh - 80px - 51px); }

  .add-currency-btn i {
    left: 25%;
    top: 0.65rem; } }
/*Footer Styles*/
.page-footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 28px 0px;
  display: block; }
  .page-footer p {
    font-size: 1.5rem; }
    .page-footer p a {
      color: black;
      color: blue; }
      .page-footer p a:hover {
        color: red; }

/* BUTTON STYLES - button-main.scss*/
.add-currency-btn {
  width: 100%;
  background: lightyellow;
  /*color: #fff;*/
  /*padding: 1rem;*/
  height: 50px;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
  color: black;
  position: relative; }

.add-currency-btn.open {
  background-color: red;
  color: black;
  height: 50px;
  color: white; }

/*# sourceMappingURL=style.css.map */
