* {
    padding: 0;
    margin: 0;
}


//CONFIG and Variables
$main_bg: yellow;
$header_bg: #0b053f;
$button_bg: purple;
$col_btn: white;

$col_main: black;
$col_main_secondary: blue;
$col_main_tertiary: white;
$col_header: black;

//fonts
$font: Roboto, sans-serif;
$font_main: Arial, Helvetica, sans-serif;

body {
     background: $main_bg;
     font-family: $font_main;
     font-family: $font;
 }

.main-header {

    background: $header_bg;
    width: 100%;
    
    h1 {
        font-size: 30pt;
        color: white;
        text-align: center;
        padding-top: 10px;
    }

    img#main_logo {
        margin: 5px auto;
        //width: 100px;
        display: block;
    }
}


#blurb {

    display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: solid black 5px;
    width: 250px;
    width: 60%;
    height: 35px;display: block;
    margin: 20px auto;
    
    h2 {
        color: #8b8b6b;
        text-transform: lowercase;
        font-style: italic;
        font-size: 15pt;

    }

}

#platforms {
    text-align: center;
    height: 150px;
 
    img {

        margin: 0 auto;
        width: 70%;
        width: 90px;
        display: inline-block;

    }

    img#on_facebook, 
    img#on_twitter, 
    img#on_instagram {
        margin-left: 10px;
        transition: transform .2s, transform .2s;

        &:hover { 
            transform: rotate(1080deg) scale(1.04);
        }
    }
   
}

#selling_point {

    width: 50%;
    color: $col_main_secondary;
    display: block;
    margin: 0 auto;


    p {

        line-height: 1.96;
        margin-bottom: 24px;
        font-weight: bold;
        font-size: 15pt;
    }

}

#price {
    color: red;

    p:first-child {
        font-size: 15px;
        text-align: center;
        color: black;
        margin: 0;
    }

    p {
        text-align: center;
        font-size: 200pt;
        font-weight: bold;
        //box-shadow: whitesmoke
    }

    p:last-child {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        color: black;   
        margin-top: 10px;

    }

}

#goto_website {

    width: 200px;
    background: purple;
    color: white;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    transition: transform .1s;
    cursor: pointer;
    border-radius: 9px;

    &:hover {
        transform: scale(1.2);
    }

}


.footer {

    width: 100%;
    text-align: center;

    a {
        font-size: 12px;
        color: purple;
        font-weight: bold;
        &:hover {
            text-decoration: none;
        }
    }

    p {
        text-align: center;
        margin-top: 20px;
        font-size: 10px;
        color: purple;
        font-family: arial;
    }
}
