//fonts
$main-font: 'Times New Roman', Times, serif;
$main-font: 'Mallanna', Times, serif;
$main-font: 'Harmattan', Times, serif;
$main-font: 'Roboto', Times, serif;
$secondary-font: 'arial';
$regex-font: 'arial';

/* font-family: 'Mallanna', sans-serif;
font-family: 'Harmattan', sans-serif;
font-family: 'Roboto', sans-serif; */

//colours

$body-bg: lightgray; //fae292
$body-col: black;
$container-bg: darken($body-bg, 8%);
$container-article-bg: darken($container-bg, 4%);
$container-article-span: lightgreen;
$container-article-dbspan: red;
$container-link-color: black;
$container-link-hovercolor: gray;
$header-bg: black;
$header-col: white;

//breakpoints

//button
%button{
    display: block;
    margin: 0 auto;
    background: $container-article-bg;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    border: solid black 3px;
    &:hover {
        background: gray;
    }
}

