//fonts
$main-font: 'Times New Roman', Times, serif;
$secondary-font: 'arial';

//colours

$body-bg: #fae292;
$body-col: black;
$container-bg: #addaff;
$container-article-bg: lightblue;
$container-article-span: green;
$container-article-dbspan: red;
$container-link-color: black;
$container-link-hovercolor: gray;

//breakpoints

