body {

    margin: 0;  
    padding: 0;

    background: $body-bg;
    font-family: $main-font;

}

header {
    width: 100%;
    display: block;
    min-height: 100px;
    background: $header-bg;
    color: $header-col;
    border-bottom: solid white 5px;

    h1 {
        text-align: center;
        margin: 0;
        padding-top: 15px;

    }
}

#container {
    display: block;    
    margin: 0 auto;

    background: $container-bg;
    width: 70%;

    section {
        
        h2 {
            border-bottom: 2px solid $body-col;
            width: 30%;
            font-size: 20pt;
            margin: 30px 20px;
            color: $body-col;
            cursor: pointer;
            background: $container-article-bg;
            border-radius: 20px;
            text-align: center;

            &:hover {
                background: darken($container-article-bg, 10%);
            }
        }

    }

    .toggle-btn {
       @extend %button;

    }
}

#container .list-container {
    display: block;
    position: relative;
    top: 15px;
    margin: 20px auto;
    width: 30%;
    border: solid 3px $body-col;
    border-radius: 10px;

    ul {
        list-style: none;
    }

    h2 {        
        padding-left: 10px;
    }

    a {
        color: $container-link-color;
        &:hover {
            text-decoration: none;
            color: lighten($container-link-color, 20%);
        }
    }
}

#container article {
    background: $container-article-bg;;
    padding: 0 40px;
    margin: 30px 20px;
    
    h3 {
        font-size: 17pt;
    }

    span {
        color: $container-article-span;
    }

    p {
        line-height: 3.5;
        height: 20px;
    }
    
    span~span {
        color: $container-article-dbspan;
        $font-family: $regex-font;
        
        letter-spacing: 5px;
        font-size: 18px;
        margin-left: 17px;
    } 
    
}