extends layout.pug

block content
    h1 Flash Cards
    
    section#content
        h2= text

        if hint
            p 
                i Hint: #{hint}
        else
            p
                i Hint: (No Hint available)
    
