extends layout.pug

block content
    h2 Introduce Yourself!
     

    section#content 
        <!-- check if name has been submitted -->
        form(action="/hello", method='post')
            label Please enter your name:
                input(type='text', name='username' id="name_input")
            button(type='submit' id="name_btn") Submit Name
        