extends layout.pug

block content

    if name
        p
            a(href='/cards' class="begin_btn") Open Cards!   
    end
    section#content 
       p Welcome to the app, #{name}. Select an option from the menu or open the main cards from the button above.