<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= page_title

        // Stylesheets
        link(rel="stylesheet", type="text/css", href="/static/stylesheet/style.css")
    body
    
        include includes/header.pug  
        if name 
            h2 Welcome, #{name}

            form(action="/goodbye" method="post")
                button.submit Sign Out!
        

        block content

        include includes/footer.pug