extends layout.pug

block content

   section#content 
       h1 More Cards
       
       div.more-cards 
        ul  
            li 
                a(href="php" target="blank") PHP
            li Ruby
            li Sass
            li Business
            li Python 
            li JavaScript