extends layout.pug

block content

   section#content 
       h1 More Cards
       
       div.more-cards 
        ul  
            li 
                a(href="php" target="blank") PHP            
            li
                a(href="javascript" target="blank") JavaScript
            li 
                a(href="ruby" target="blank") Ruby
            li 
                a(href="sass" target="blank") Sass
            li 
                a(href="business" target="blank") Business
            li 
                a(href="python" target="blank") Python 