extends layout.pug

block content
    h1 This is the Register Route

    if name

    end

    section#content
        table
            tr
                th First Name 
                th Last Name 
            
                each name in names    
                    tr                   
                        td #{name.split( ' ' )[0]} 
                        td #{name.split( ' ' )[1]}    