<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Flash Cards

        // Stylesheets
        link(rel="stylesheet" type="text/css" href="./style.css")
    body
        header
            h1 Name Register

        section#content
            h2= title
            
            table
                tr
                    th First Name 
                    th Last Name 
                
                    each name in names    
                        tr                   
                            td #{name}                              

        footer
            p An app to help you study!
