extends layout.pug

block content
    h2 Web Design Cards
    
    section#content
        h2= text

        if hint
            p 
                i Hint: #{hint}
        a(href=`${id}?side=${sideToShow}` class="switch_side")= sideToShowDisplay
        br
        a(href='/webdesign' class="next_card") Next Card!
    
