body {
    
    h1 {
        
    }
    
    .input {
        
        
        background: darkgray;
        padding: 20px;
        color: white;
    
        
        strong {
            
        }
        
        code {
            
        }
    }
    
    #group {
        
        display: block;
        margin-top: 20px;
    }
}