
body {
    background: $body-bg;
    //font-family: $main-font;
    //font-family: $main-font-two;
    //font-family: $main-font-three;
    //font-family: $main-font-four;
    //font-family: $main-font-five;
    font-family: $main-font-six;
    //font-family: $main-font-seven;
    //font-family: $main-font-eight;

    //background images
    background-image: url("img/panoramic-dene.jpg");
    background-size: 100% 100%;
    background-position: fixed;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    transition: background-image .4s;

}

header {
    background: $main-header-bg;
    color: $main-header-col;
    text-align: center;
    height: 75px;

    h1 {
        padding: 20px 0;

        @media(max-width: $sm) {
            font-size: 16pt;
        }
    }
}

.railway_bg {

    background-image: url("img/panoramic-railway-two.jpg");

}

.coastal_bg {
    
    background-image: url("img/panoramic-coastal-two.jpg");
}

.dene_bg {
    
    background-image: url("img/panoramic-dene.jpg");

}

nav {
    
    background: $main-header-bg;    
    background: $nav-bg;
    height: 50px;
    width: 100%;
    text-align: center;
    border-bottom: white solid 3px;

    ul {

        li {
            display: inline-block;
            padding: 10px;
            border-radius: 50%;

            @media (max-width: $sm) {
                //nav ul li
                padding: 10px 2px;
            } 

            a {
                text-decoration: none;
                color: $nav-link-col;
                font-weight: bold;

                &:hover {
                    color: $nav-link-col-hov;
                    /*border-bottom: solid 3px $nav-bg-selected;*/
                }
            }
            
            a.selected {
                color: $nav-bg-selected;
                border-bottom: solid 3px $nav-bg-selected;
            }
        }
    }
}