
body {
    background: $body-bg;
    font-family: $main-font;

    //background images
    background-image: url("img/panoramic-dene.jpg");
    background-size: 100% 100%;
    background-position: fixed;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

header {
    background: $main-header-bg;
    color: $main-header-col;
    text-align: center;
    height: 75px;

    h1 {
        padding: 20px 0;

        @media(max-width: $sm) {
            font-size: 12pt;
        }
    }
}

nav {
    
    background: $main-header-bg;    
    background: $nav-bg;
    height: 50px;
    width: 100%;
    text-align: center;
    border-bottom: white solid 3px;

    ul {

        li {
            display: inline-block;
            padding: 10px;
            border-radius: 50%;

            @media (max-width: $sm) {
                //nav ul li
                padding: 10px 2px;
            } 

            a {
                text-decoration: none;
                color: $nav-link-col;
                font-weight: bold;

                &:hover {
                    color: $nav-link-col-hov;
                    /*border-bottom: solid 3px $nav-bg-selected;*/
                }
            }
            
            a.selected {
                color: $nav-bg-selected;
                border-bottom: solid 3px $nav-bg-selected;
            }
        }
    }
}