



#container {

    width: 1483px;
    display: block;
    margin: 0 auto;

    @media (max-width: 1480px) {

        width: 100%;
    }
}

aside {

    margin: 20px 0;
    font-weight: bold;
    text-align: center;

    p {

        font-weight: bold;

        #image_total_count{

            color: red;
            margin-left: 6px;
            border-bottom: solid red 3px;

        }

    }

}

.js-carousel {

    width: 100%;
    display: block;
    margin: 0 auto;
    /* border: solid $border-bg 2px; */

    @media (max-width: 640px) {

        border: none;

    }

}

.js-carousel img {

    width: 70%;
    margin: 0 auto;

}

/*Size of slides*/
.slick-slide img {

    width: 70% !important;
    /* margin: 50px auto !important; */
    display: block !important;
    cursor: pointer;
    border-radius: 19px;
    border: solid black 3px;
    
    @media (max-width: 1480px) {

        width: 70% !important;
    }
    
    @media (max-width: 640px) {

        width: 95% !important;
        border: solid 3px black;
    }
}


/* Switch off prev and next buttons */
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {

    // display: none;
}