<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS: Voting App</title>

    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>

    
    <div id="app"> 

        <h1> Basic Voting/Scoring App </h1>
        <ul>
            <li v-for="f in frameworks">
                {{f.name}} has {{f.votes}} votes
                <button v-on:click="voteFor(f)">Click</button>        
                <a href="#" v-on:click="del(f)">&cross;</a>
            </li>
        </ul>

        <p>Current Winner(s): <strong>{{ winnerString }}</strong></p>

        <button v-on:click="toggleEditMode">{{ editMode ? 'Done' : 'Edit' }}</button>

        <input placeholder="Add new" v-if="editMode" v-on:keyup.enter="addNew" aria-label="Add a new item">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js" type="text/javascript"></script>    
</body>
</html>