//home partial
.category-photos {

    img {
        display: none;
       
    
        &.zelda_botw,
        &.zelda_linkswakening,
        &.fifa_twenty {
            display: inline-block;
            display: none;
        }
    
    }            

}
