<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font-->
    
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />

    <!-- Page Title-->
    <title>Vue.js Project.</title>


</head>
<body>

    <header>

            <h1>Project Status <span>A project with vue.js</span></h1>

            <aside class="key">

                    <h2>Key:</h2>
        
                    <span id="green-complete" alt="Incomplete"></span> Incomplete
                    <span id="red-complete" alt="Complete"></span> Complete
        
            </aside>

    </header>

    <div id="container">

        <article class="project-list">

            
                <h2>{{ list }}</h2> 
                <ul id="project-status">
                    <li v-for="status in projects">
                        <span>{{ status.project_status }} </span>
                    </li>
                </ul>
                <ul id="project-names">
                    <li v-for="name in projects">{{ name.project_name }}</li>
    
                <!--
                <li><span class="incomplete"></span>Project 1</li>
                <li><span class="complete"></span>Project 2</li>
                <li><span class="complete"></span>Project 3</li>
                <li><span class="complete"></span>Form Project</li>
                <li><span class="incomplete"></span>Project 1</li>
                <li><span class="complete"></span>Project 2</li>
                <li><span class="complete"></span>Project 3</li>

                -->
            </ul>

        </article>

        <article class="main-content">

            <h2>Main Content</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel facere at mollitia placeat dolores omnis atque expedita, eaque sequi hic nulla amet. Debitis, nesciunt! Dicta, in. Commodi tempore ea recusandae?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel facere at mollitia placeat dolores omnis atque expedita, eaque sequi hic nulla amet. Debitis, nesciunt! Dicta, in. Commodi tempore ea recusandae?</p>
            
        </article>


    </div>

    <footer>&copy; 2019 Footer notice </footer>

</body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="scripts/app.js"></script>   
</body>
</html>