#error 404 redirect
ErrorDocument 404 https://jonniegrieve.co.uk/not-found.html


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /not-found.html [L]

Header set Access-Control-Allow-Origin "*"
