#error 404 redirect
ErrorDocument 404 https://landing.jonniegrieve.co.uk/jgdm/not-found.html


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /jgdm/not-found.html [L]
