/**
Colours
*/
.main-content .button {
  background: red;
  padding: 10px;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 15px; }
  .main-content .button:hover {
    background: yellow; }

body {
  background: lightblue;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background: url("img/interior-dark.png");
  background-size: 100% 100%;
  background-attachment: fixed; }

header {
  background: #0B053F;
  color: white;
  display: flex; }
  @media (max-width: 620px) {
    header {
      display: block; } }
  header img {
    /*width: 200px;*/
    /*height: 200px;*/
    display: inline-block; }
    @media (max-width: 620px) {
      header img {
        display: block;
        margin: 0 auto; } }
  header #website-title {
    display: inline-block;
    width: 50%;
    text-align: center; }
    header #website-title .green {
      color: #B4BA66; }
    header #website-title .yellow {
      color: #F1F6BD; }
    @media (max-width: 620px) {
      header #website-title h1 {
        display: none; } }
    @media (max-width: 620px) {
      header #website-title {
        display: block;
        margin: 0 auto; } }
    header #website-title p {
      font-size: 3vw; }
  header #social {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px; }
    header #social li {
      display: inline;
      margin-right: 5px; }
      @media (max-width: 620px) {
        header #social li {
          display: inline; } }
    @media (max-width: 620px) {
      header #social {
        text-align: center;
        padding: 0; } }
  header #social img {
    display: inline-block;
    margin: 20px auto;
    width: 40px; }

.sticky {
  position: fixed;
  z-index: 1000;
  margin-bottom: 40px;
  top: 0; }

nav.main-nav {
  width: 100%;
  height: 40px;
  text-align: center;
  background: #eef595;
  /*border: solid black 2px;*/
  vertical-align: middle;
  padding-top: 15px; }
  nav.main-nav ol {
    display: inline; }
    nav.main-nav ol li {
      display: inline;
      margin-right: 10px; }
      @media (max-width: 320px) {
        nav.main-nav ol li {
          display: inline;
          position: relative;
          left: 0;
          text-align: left;
          font-size: 4vw; } }
    nav.main-nav ol li a {
      color: black;
      text-decoration: none;
      font-weight: bold; }
      nav.main-nav ol li a:hover {
        color: red; }
      nav.main-nav ol li a.selected {
        color: red;
        border-bottom: red 1px solid; }

.main-content {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto; }
  .main-content article {
    width: 65%;
    margin: 0 auto;
    line-height: 1.7;
    background: lightblue;
    background: #f8f8f87a;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 20px;
    color: white;
    /*opacity: 0.6;*/ }
  .main-content article#intro {
    background: none;
    padding: 10% 0 0 0; }
    .main-content article#intro h1 {
      text-align: center; }
      @media (max-width: 320px) {
        .main-content article#intro h1 {
          font-size: 3vw; } }
  .main-content article#about-jgdm {
    background: none; }
  .main-content article#featured {
    color: black;
    display: block;
    flex-direction: row;
    margin-top: 10%;
    /*flex, row, 10%*/ }
    .main-content article#featured .show-featured {
      text-align: center; }
    .main-content article#featured h2 {
      text-align: center; }
    .main-content article#featured p {
      width: 50%;
      margin: 0 auto; }
    .main-content article#featured img {
      width: 35%;
      display: inline;
      margin: 0 auto;
      opacity: 1; }
      .main-content article#featured img:hover {
        opacity: 0.7; }
      @media (max-width: 620px) {
        .main-content article#featured img {
          width: 70%; } }
  .main-content .about-box {
    width: 35%; }
    @media (max-width: 620px) {
      .main-content .about-box {
        width: 90%;
        margin: 0 auto; } }
  .main-content article#about {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    /*flex, row, 10%*/
    color: black; }
    .main-content article#about h3 {
      color: black; }
    @media (max-width: 620px) {
      .main-content article#about {
        display: block;
        width: 70%; } }
  .main-content article#video {
    display: block;
    flex-direction: row;
    margin-top: 10%;
    /*flex, row, 10%*/
    color: black; }
    @media (max-width: 620px) {
      .main-content article#video {
        width: 90%; } }
    .main-content article#video video {
      width: 85%;
      margin: 0 auto;
      text-align: center;
      display: block; }
      @media (max-width: 620px) {
        .main-content article#video video {
          width: 100%; } }
  .main-content article#services {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    /*flex, row, 10%*/
    flex-wrap: wrap;
    min-height: 1vh;
    justify-content: center; }
    @media (max-width: 620px) {
      .main-content article#services {
        width: 90%; } }
    .main-content article#services h2 {
      display: block;
      width: 100%;
      text-align: center; }
    .main-content article#services h3 {
      width: 100%;
      text-align: center; }
    .main-content article#services div {
      display: inline;
      width: 250px;
      height: 250px;
      position: relative; }
    .main-content article#services img {
      /*position: absolute;*/
      opacity: 0.4; }
      .main-content article#services img:hover {
        opacity: 1; }
    .main-content article#services a {
      color: black;
      text-decoration: none; }
    .main-content article#services p {
      position: relative;
      bottom: 77px;
      background: gray;
      opacity: 0.6; }
  .main-content article#hire-me {
    display: block;
    flex-direction: row;
    margin-top: 10%;
    /*flex, row, 10%*/ }
    .main-content article#hire-me form#hire-form {
      width: 70%;
      background: #EEF595;
      color: black;
      padding: 10px; }
    .main-content article#hire-me input {
      height: 30px;
      width: 30%; }
    .main-content article#hire-me input[type="submit"] {
      display: table;
      content: "";
      clear: both;
      margin: 20px auto; }
    .main-content article#hire-me textarea#label4 {
      width: 30%;
      height: 68px;
      display: block; }
    .main-content article#hire-me .div-row {
      min-height: 50px; }
    .main-content article#hire-me .col-one {
      float: left;
      width: 111px; }
  .main-content article#dyspraxia {
    display: block;
    flex-direction: row;
    margin-top: 10%;
    /*flex, row, 10%*/
    width: 500px; }
    .main-content article#dyspraxia h2 {
      display: block;
      text-align: center;
      width: 100%; }

footer {
  background: gray;
  color: black; }
  footer p {
    text-align: center;
    margin: 0; }

/*<a href="javascript:" class="text2" onMouseDown="MM_openBrWindow('terms.html','','scrollbars=yes,width=550,height=250')">*/

/*# sourceMappingURL=main.css.map */
