/*
Author:         Jonathan Grieve @ Jonnie Grieve Digital Media
Contact:        On Twitter  @jg_digitalMedia; On Facebook: https://www.facebook.com/jgDigitalMedia/?ref=bookmarks; 
Email:          mail@jonniegrieve.co.uk
Last Updated:   29/06/2021  15:23
*/
.main-content .button {
  background: #888e42;
  border: solid #EEF595 2px;
  padding: 10px;
  color: #EEF595;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  margin: 20px auto;
  font-size: 18px; }
  .main-content .button:hover {
    background: #EEF595;
    color: #888e42;
    border: solid #888e42 2px; }
  @media (max-width: 780px) {
    .main-content .button {
      width: 90%;
      display: block; } }

.main-content article#hire-me input[type="submit"], .main-content article#hire-me input#submit {
  background: #888e42;
  border: solid #EEF595 1px;
  color: black;
  font-weight: bold;
  border-radius: 15px; }
  .main-content article#hire-me input[type="submit"]:hover, .main-content article#hire-me input#submit:hover {
    background: #a8af54; }

.main-content article#services div, .main-content article#services img {
  width: 250px;
  height: 250px; }

.main-content article#services, .main-content article#featured, .main-content article#all-projects, .main-content article#about, .main-content article#video, .main-content article#hire-me, .main-content article#dyspraxia {
  color: black;
  font-weight: bold;
  padding: 10vh 0 10px 10px; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background: url("img/interior-darker.jpg");
  background-size: cover;
  background-attachment: fixed; }
  @supports (-webkit-overflow-scrolling: touch) {
    body {
      /* CSS specific to iOS devices */
      background-size: 100% 100%;
      background: url("img/ios-bg.jpg") repeat-y; } }
  body h2 {
    font-size: 30pt; }
  @media (max-width: 720px) {
    body {
      background-size: 100% 75%; } }

header {
  background: #0B053F;
  color: white;
  display: flex; }
  @media (max-width: 780px) {
    header {
      display: block; } }
  header img {
    /* width: 230px; */
    margin-top: 16px;
    display: inline-block;
    /* width: 7%; */
    max-width: 100px;
    margin: 15px;
    height: 100px;
    /* width: 150px; */ }
    @media (max-width: 1200px) {
      header img {
        /* height: 130px; */ } }
    @media (max-width: 780px) {
      header img {
        display: block;
        margin: 5px auto; } }
  header #website-title {
    display: inline-block;
    width: 38%;
    width: 64%;
    width: 42%;
    text-align: center;
    font-size: 10pt;
    margin: 0 auto; }
    @media (max-width: 980px) {
      header #website-title {
        /* width: 55%; */ } }
    @media (max-width: 780px) {
      header #website-title {
        width: 55%; } }
    header #website-title .green {
      color: #888e42; }
    header #website-title .yellow {
      color: #EEF595; }
    @media (max-width: 780px) {
      header #website-title h1 {
        display: none; } }
    @media (max-width: 780px) {
      header #website-title {
        display: block;
        margin: 0 auto; } }
    header #website-title p {
      font-size: 3vw; }
  header #social {
    text-align: center;
    margin: 0 auto;
    display: block; }
    header #social li {
      display: inline;
      margin-right: 5px; }
      @media (max-width: 780px) {
        header #social li {
          display: inline;
          margin-left: 1px; } }
    @media (max-width: 780px) {
      header #social {
        text-align: center;
        padding: 0; } }
    header #social a {
      border: none;
      text-decoration: none; }
  header #social img {
    display: inline-block;
    margin: 20px auto;
    width: 40px;
    transition: transform .2s; }
    header #social img:hover {
      transform: scale(1.4); }
  header #social svg {
    display: inline-block;
    margin: 20px auto;
    width: 40px;
    transition: transform .2s; }
    header #social svg:hover {
      transform: scale(1.2);
      transform-origin: center; }

.sticky {
  position: fixed;
  z-index: 1000;
  margin-bottom: 40px;
  top: 0; }

nav.main-nav {
  width: 100%;
  height: 40px;
  text-align: center;
  background: #eef595;
  vertical-align: middle;
  padding-top: 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.52); }
  nav.main-nav ol {
    display: inline; }
    nav.main-nav ol li {
      display: inline;
      margin-right: 10px; }
      @media (max-width: 780px) {
        nav.main-nav ol li {
          display: inline;
          position: relative;
          left: 0;
          text-align: left;
          font-size: 3.5vw; } }
      @media (max-width: 320px) {
        nav.main-nav ol li {
          font-size: 4vw; } }
    nav.main-nav ol li a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      transition: color .2s; }
      nav.main-nav ol li a:hover {
        color: red; }
      nav.main-nav ol li a.selected {
        color: red;
        border-bottom: red 1px solid; }

.main-content article {
  width: 60%;
  margin: 0 auto;
  line-height: 2.2;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white; }
  @media (max-width: 780px) {
    .main-content article {
      width: 80%; } }
  @media (max-width: 980px) {
    .main-content article {
      width: 90%; } }

.main-content {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto; }
  .main-content article#intro {
    background: none;
    padding: 30vh 0 0 0;
    margin-top: 150px; }
    @media (max-width: 980px) {
      .main-content article#intro {
        margin-top: 5%;
        margin-top: 10%; } }
    @media (max-width: 320px) {
      .main-content article#intro {
        padding: 20vh 0 0 0; } }
    .main-content article#intro img#large_logo {
      display: block;
      margin: 0 auto; }
    .main-content article#intro h1 {
      text-align: center; }
      @media (max-width: 320px) {
        .main-content article#intro h1 {
          font-size: 6vw; } }
    .main-content article#intro h2 {
      font-size: 22pt; }
    .main-content article#intro a {
      color: white; }
      .main-content article#intro a:hover {
        color: #fdeab2;
        text-decoration: none; }
    .main-content article#intro .form-error {
      line-height: 1;
      border-width: 4px;
      border-style: dashed;
      border-color: red;
      border-image: initial;
      background: #d84c4c;
      padding: 30px; }
    .main-content article#intro .form-success {
      line-height: 1;
      background: lightgreen;
      border: solid green 4px;
      padding: 30px;
      color: green; }

.main-content article {
  width: 60%;
  margin: 0 auto;
  line-height: 2.2;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white; }
  @media (max-width: 780px) {
    .main-content article {
      width: 80%; } }
  @media (max-width: 980px) {
    .main-content article {
      width: 90%; } }

.main-content article#services {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  flex-wrap: wrap;
  min-height: 1vh;
  justify-content: center; }
  @media (max-width: 780px) {
    .main-content article#services {
      width: 90%; } }
  .main-content article#services h2 {
    display: block;
    width: 100%;
    text-align: center; }
  .main-content article#services h3 {
    width: 100%;
    text-align: center; }
  .main-content article#services div {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin: 55px 10px;
    width: 250px;
    height: 250px; }
  .main-content article#services img {
    /*position: absolute;*/
    opacity: 0.4;
    border-radius: 10px;
    transition: .2s; }
    .main-content article#services img:hover {
      opacity: 1;
      transition: .2s; }
  .main-content article#services a {
    color: black;
    text-decoration: none; }
  .main-content article#services p {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    background: #f0e68a;
    border-bottom: 6px solid #25893b; }
  .main-content article#services .elsewhere p {
    position: relative;
    bottom: 90px;
    min-height: 55px;
    background: #f0e68a;
    border-bottom: 6px solid #25893b;
    margin-top: 40px;
    padding: 5px; }
  .main-content article#services .far, .main-content article#services .fab, .main-content article#services .fal, .main-content article#services .fas {
    /*font-family: "Font Awesome 5 Free";*/
    font-size: 143px;
    color: #3f50a9;
    position: relative;
    bottom: 60px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    transition: .2s; }
    .main-content article#services .far:hover, .main-content article#services .fab:hover, .main-content article#services .fal:hover, .main-content article#services .fas:hover {
      transform: scale(1.1);
      color: blue;
      color: #25893b;
      transition-duration: .2s; }

.main-content article#featured {
  display: block;
  flex-direction: row;
  margin-top: 10%; }
  .main-content article#featured .show-featured {
    text-align: center; }
    .main-content article#featured .show-featured a img {
      width: 35%; }
  .main-content article#featured h2 {
    text-align: center; }
  .main-content article#featured p {
    width: 50%;
    margin: 0 auto; }
  .main-content article#featured img {
    display: inline;
    margin: 0 auto;
    opacity: 0.6; }
    .main-content article#featured img:hover {
      opacity: 1; }
    @media (max-width: 780px) {
      .main-content article#featured img {
        width: 70%; } }

.main-content article#all-projects {
  display: block;
  flex-direction: row;
  margin-top: 10%; }
  .main-content article#all-projects .all {
    text-align: center; }
    .main-content article#all-projects .all a {
      margin: 10px; }
    .main-content article#all-projects .all img {
      margin: 10px;
      /*width: 100%;*/
      /*width: 25%;*/
      width: 26%; }
  .main-content article#all-projects span {
    font-style: italic;
    color: #2e2d2d;
    font-size: 13px;
    font-weight: bold; }

.main-content .about-box {
  padding: 10px; }
  @media (max-width: 780px) {
    .main-content .about-box {
      width: 90%;
      margin: 0 auto; } }
  .main-content .about-box p {
    min-height: 200px; }
    @media (max-width: 780px) {
      .main-content .about-box p {
        min-height: 0; } }
.main-content article#about {
  display: flex;
  flex-direction: row;
  margin-top: 10%; }
  .main-content article#about h3 {
    color: black;
    font-size: 20pt; }
  @media (max-width: 780px) {
    .main-content article#about {
      display: block;
      width: 90%; } }

.main-content article#about-jgdm {
  background: none;
  padding: 10vh 0 0 0; }

.main-content article#video {
  display: block;
  flex-direction: row;
  margin-top: 10%; }
  .main-content article#video h2 {
    display: block;
    text-align: center;
    width: 100%; }
  @media (max-width: 780px) {
    .main-content article#video {
      width: 90%; } }
  .main-content article#video video {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    display: block; }
    @media (max-width: 780px) {
      .main-content article#video video {
        width: 90%; } }

.main-content article#hire-me {
  display: block;
  flex-direction: row;
  margin-top: 10%; }
  .main-content article#hire-me h2 {
    display: block;
    text-align: center;
    width: 100%; }
  .main-content article#hire-me aside {
    margin: 0 auto;
    display: block;
    width: 90%; }
  .main-content article#hire-me .hire-me-content {
    color: black;
    width: 30%;
    height: 320px;
    background: lightgray;
    transition: 0.5s;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: crosshair;
    border: solid black 2px; }
    .main-content article#hire-me .hire-me-content h2 {
      font-size: 20pt; }
      @media (max-width: 980px) {
        .main-content article#hire-me .hire-me-content h2 {
          font-size: 20pt; } }
    @media (max-width: 780px) {
      .main-content article#hire-me .hire-me-content {
        display: block;
        width: 80%;
        margin: 0 auto; } }
    .main-content article#hire-me .hire-me-content:hover {
      background: #EEF595;
      transition: 0.5s;
      border: solid green 2px; }
    .main-content article#hire-me .hire-me-content strong {
      color: green; }
  .main-content article#hire-me form span {
    color: #be0909; }
  .main-content article#hire-me form#hire-form {
    width: 90%;
    color: black;
    padding: 10px;
    margin: 0 auto; }
    @media (max-width: 980px) {
      .main-content article#hire-me form#hire-form {
        width: 90%; } }
    .main-content article#hire-me form#hire-form .js-needsfilled {
      background: red;
      color: white; }
  .main-content article#hire-me label {
    font-weight: bold; }
  .main-content article#hire-me a {
    color: black;
    text-decoration: none; }
    .main-content article#hire-me a:hover {
      color: red; }
  .main-content article#hire-me input {
    height: 50px;
    width: 60%;
    font-family: Lato;
    font-size: 20px;
    padding: 3px 20px;
    margin-top: 35px;
    border-color: black;
    border-radius: 15px;
    transition: background .2s; }
    .main-content article#hire-me input .js-needsfilled {
      background: red;
      color: white; }
    @media (max-width: 980px) {
      .main-content article#hire-me input {
        width: 90%; } }
    @media (max-width: 780px) {
      .main-content article#hire-me input {
        width: 80%; } }
    .main-content article#hire-me input:hover {
      background: #eef595; }
  .main-content article#hire-me input:focus {
    background: #eef595;
    transition: background .4s; }
    .main-content article#hire-me input:focus:hover {
      transition: background .4s;
      background: yellow; }
  .main-content article#hire-me textarea#message {
    width: 60%;
    height: 145px;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    font-family: lato;
    border: black solid 2px;
    border-radius: 15px;
    margin-top: 10%;
    transition: background .2s; }
    .main-content article#hire-me textarea#message:hover {
      background: #eef595; }
    @media (max-width: 980px) {
      .main-content article#hire-me textarea#message {
        width: 90%; } }
    @media (max-width: 780px) {
      .main-content article#hire-me textarea#message {
        width: 80%; } }
  .main-content article#hire-me textarea#message:focus {
    background: #eef595; }
    .main-content article#hire-me textarea#message:focus:hover {
      transition: background .4s;
      background: yellow; }
  .main-content article#hire-me input#confirm {
    border: red solid 1px;
    width: 15%;
    height: 35px;
    cursor: pointer; }
  .main-content article#hire-me input[type="submit"] {
    display: table;
    content: "";
    clear: both;
    height: 40px;
    margin: 20px auto;
    cursor: pointer; }
  .main-content article#hire-me input#submit {
    width: 40%; }
    @media (max-width: 780px) {
      .main-content article#hire-me input#submit {
        width: 80%; } }
  .main-content article#hire-me .div-row {
    min-height: 50px; }
  .main-content article#hire-me .col-one {
    float: left;
    width: 125px; }
  .main-content article#hire-me .col-two {
    min-height: 10px; }
  .main-content article#hire-me .field-error {
    font-weight: bold;
    color: white;
    background: #be0909;
    width: 50%;
    font-size: 12px;
    padding: 6px 5px;
    display: inline-block;
    cursor: pointer; }
    .main-content article#hire-me .field-error:hover {
      background: #ef0b0b; }

.main-content article#dyspraxia {
  display: block;
  flex-direction: row;
  margin-top: 10%;
  /*selects quote element successfully*/ }
  .main-content article#dyspraxia h2 {
    display: block;
    text-align: center;
    width: 100%; }
  .main-content article#dyspraxia h3 {
    font-size: 20pt;
    color: #888e42;
    color: #EEF595;
    color: red;
    color: black; }
  .main-content article#dyspraxia p {
    padding: 15px; }
  .main-content article#dyspraxia a {
    color: inherit; }
    .main-content article#dyspraxia a:hover {
      text-decoration: none; }
  .main-content article#dyspraxia quote {
    color: indigo;
    width: 70%;
    display: block;
    margin: 0 auto;
    font-style: italic;
    font-size: large; }

.pages-content {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px; }
  .pages-content h1.pages-title {
    color: #eee27b;
    font-size: 3em; }
  .pages-content h2 {
    color: #eee27b;
    font-size: 15pt; }
  .pages-content strong {
    color: #70b45c; }
  .pages-content p {
    line-height: 2.1;
    color: white;
    font-weight: bold; }
  .pages-content a {
    color: #eee27b; }
    .pages-content a:hover {
      color: yellow; }

footer {
  background: #eef595;
  color: black;
  height: 50px; }
  footer p {
    text-align: center;
    padding-top: 5px;
    font-weight: bold; }

/*<a href="javascript:" class="text2" onMouseDown="MM_openBrWindow('terms.html','','scrollbars=yes,width=550,height=250')">*/
.main-content {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto; }
  .main-content article {
    width: 60%;
    margin: 0 auto;
    line-height: 2.2;
    background: lightblue;
    background: #f8f8f87a;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 20px;
    color: white;
    /*opacity: 0.6;*/ }
    @media (max-width: 780px) {
      .main-content article {
        width: 80%; } }
    @media (max-width: 980px) {
      .main-content article {
        width: 90%; } }
  .main-content .pages-content {
    color: white;
    line-height: 1.9; }
    .main-content .pages-content h1, .main-content .pages-content h2 {
      text-align: center; }
    .main-content .pages-content p {
      padding: 10px;
      background: #00000031;
      width: 90%;
      margin: 0 auto; }
    .main-content .pages-content a {
      color: white; }
      .main-content .pages-content a:hover {
        color: #fdeab2;
        text-decoration: underline; }
    .main-content .pages-content img {
      display: block;
      margin: 0 auto;
      max-width: 500px;
      border: solid white 2px; }
      @media screen and (max-width: 780px) {
        .main-content .pages-content img {
          width: 96%; } }
    .main-content .pages-content .pages-title {
      font-size: 5vw;
      color: #fdeab2; }
    .main-content .pages-content .project-link {
      color: white;
      display: block;
      margin: 0; }

@media print {
  /*  print styles to go here*/
  body {
    /* background: #f9f96c; */
    background: none; }

  header {
    background: white; }

  #main-content {
    background: white;
    color: black; }

  nav,
  svg,
  #website-title,
  #social-platforms,
  #main-nav,
  #featured,
  #large_logo,
  #video,
  #services,
  #play-video {
    display: none; }

  article#intro {
    padding: 0;
    margin-top: 50px;
    padding: 10px 0 0 0;
    color: black; }

  #about-jgdm {
    width: 95%;
    margin: 0 auto;
    color: black;
    padding: 10px 0 0 0; }
    #about-jgdm h2 {
      text-align: center; }

  #hire-form {
    display: none; } }

/*# sourceMappingURL=main.css.map */
