html {
    text-align: center;
    padding-top: 5em;
}

.main {
    border: solid 2px red;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /*display: none;*/
}

.heart-red {
    fill: #c44;
    color: #d35f5f;

}

.heart-green {
    fill: #41af5d;
    color: #fece7f;

}

.heart-blue {
    fill: #2e97af;
    color: #38acd0;
}

svg {
    border: solid 1px red;
    height: 221px;
    width: 230px;
}