@import "head";
@import "mixins";

* {
    padding: 0;
    margin: 0;
}

body {
    background: lightgray;
    font-family: Arial;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Allerta', sans-serif;
    font-family: 'Marvel', sans-serif;
    font-family: 'Mali', cursive;
}

header {

    width: 100%;
    min-height: 130px;
    background: lightgreen;
    border-bottom: 6px green solid;

    @media (max-width: 940px) {
        min-height: 110px;
    }
    
    h1 {
        text-align: center;
        position: relative;
        top:20px;

        @media(max-width: 680px) {
            width: 90%;
            margin: 0 auto;
            font-size: 4vw;
            top: 0;
            padding-bottom: 15px;
        }
    }    

    .key {

        width: 95%;
        text-align: right;
        position: relative;
        top: 30px;

        @media (max-width: 780px) {
            padding: 20px 0;
            height: 115;
            line-height: 2;
        }

        h2 {
            width: auto;
            display: inline-block;
        }
        
        span#green-complete {
            @include span-colours(inline-block, #008000, 30px, 30px, 50%, 5px);
        }

        span#red-incomplete {
            @include span-colours(inline-block, #ff0000, 30px, 30px, 50%, 5px);
        }

        span#yellow-review {
            @include span-colours(inline-block, #ffff00, 30px, 30px, 50%, 5px);
        }

        span#orange-upcoming {
            @include span-colours(inline-block, #ff9005, 30px, 30px, 50%, 5px);
        }

        @media (max-width: 1290px) {
            display: block;
            text-align: center;
            position: relative;
        }

        @media (max-width: 1290px) {
            top: 20px
        }
    }

    .sticky {      

            position: fixed;
            height: 35px; 
            box-shadow: 0px 6px 5px -3px #403b40b5;
            z-index: 1004;
            background: lightgreen;
            border-bottom: 6px green solid;
            width: 100%;
            top: 0px;
            right: 0px;
            padding: 7px 35px;

            @media (max-width: 780px) {
                padding: 20px 0;
                height: 100px;
                line-height: 3;
            }
    
    }

    .sticky {
        h2 {
            right: 20px;
            text-align: center;
        }

        span#green-complete, 
        span#red-incomplete, 
        span#yellow-review, 
        span#orange-upcoming {
            right: 20px;
        }
    }

}

#container {
    position: relative; 
    display: flex; 
    grid-auto-columns: 1fr 1fr;
    margin: 20px auto;
    line-height: 2.1;
    width: 60%;
    background: #ffd272;

    @media (max-width: 1080px) {
        width: 95%;
    }

    @media (max-width: 940px) {
        flex-direction: column-reverse;
        width: 80%;
    }

    @media (max-width: 680px) {
        width: 95%;
        margin: 0 auto;
    }

    .project_list {
        width: 100%;
        display: block;
        margin: 0 auto;

        .project_status_header {

            h2 {
                font-size: 24px;

                span {
                    color: red;
                    font-style: italic;
                    font-size: 11px;
                }
            }

            a {
                color: red;
                font-weight: bold;
                padding: 0 10px;
                &:hover {
                    color: green;
                }
            }

            h2, a {
                text-align: center;
            }
        }

        .project_to_come {

            text-align: center;

            h2 {
                font-size: 30pt;
            }

            p {
                font-weight: bold;
            }
        }
    }

    .project-status-container,
    .repository-status-container {    

        display: block;
        margin: 0 auto;
        width: 95%;

        ul.project-status-data,
        ul.repository-status-data {

            li {

                height: auto;
                display: inline-block;
                margin: 0 10px;
                /* width: 80%; */
                width: 30%;
                overflow: hidden;

                

                @media (max-width: 980px) {

                    width: 44%;
                    text-align: center;
                }


                @media (max-width: 780px) {

                    width: 100%;
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                }
                

                a {
                    img {

                        width: 100%;   
                        margin: 20px 0px;
                        border-radius: 10px;
                        border: solid black 2px;
                        opacity: 0.7;
                        transform: scale(0.7);
                        transition: transform .1s, opacity .1s, border-radius .1s;

                        position: relative;
                        bottom: 20px;
                    

                        @media(max-width: 680px) {
                            
                            margin: 0px 0;
                        }

                        &:hover {
                            opacity: 1;
                            transform: scale(0.8);
                            background-color: darkorange;
                            background-color: black;
                        }
                    }
                }
            }

        }

        

        a {
            color: red;
            font-weight: bold;
            &:hover {
                text-decoration: none;
                color: green;
            }
        }

        @media (max-width: 940px) {
            width: 90%;
            margin: 0 auto;
        }
        
        @media (max-width: 680px) {
            font-size: 3vw;
        }

        h2 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            /*text-align: center;*/
            text-align: left;

            @media (max-width: 940px) {
                margin: 0 auto
            }
        }

        li {
            height: 45px;
            width: 99px;
            vertical-align: top;

            em {
                font-weight: bold;
            }
        }

        ul#project-status {
            float: left;
            margin: 0 5% 0 5%;
        }

        .project_info {

            display: flex;
            flex-direction: row;
            /*height: 65px;*/
            position: relative;
            bottom: 50px;

            /* .complete,
            .incomplete,
            .under_review,
            .upcoming {
                width: 40px;
            } */

            @media (max-width: 680px) {
                position: relative;
                left: 10px;
            }

            .complete {
                    @include span-colours(inline-block, #008000, 30px, 30px, 50%, 5px);
                }

            .incomplete {
                    @include span-colours(inline-block, #ff0000, 30px, 30px, 50%, 5px);
                }

            .under_review {
                    @include span-colours(inline-block, #ffff00, 30px, 30px, 50%, 5px);

                }
            .upcoming {
                    @include span-colours(inline-block, #ff9005, 30px, 30px, 50%, 5px);
                }

            .project_name {
                display: inline;
                width: 69%; 
                width: 85%;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.2;
                text-align: left;

                @media (max-width: 780px) {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    font-size: 20pt;
                }
            }
        }
    }

    .main-content {
        width: 66%;
        display: block;
        padding: 20px;

        @media (max-width: 940px) {
            width: 90%;
        }

        @media (max-width: 680px) {
            font-size: 3.5vw;
        }

        h2 {
            text-align: center;
        }

        p {
            line-height: 1.6;
        }

        a {
            color: red;
            font-weight: bold;
            &:hover {
                text-decoration: none;
                color: green;
            }
        }
    }
}

footer {
    text-align: center;
}


/*
breakpoints:

1290px;
940px;
680px;

*/