
// main container element
#container {
    position: relative; 
    display: flex; 
    grid-auto-columns: 1fr 1fr;
    margin: 20px auto;
    line-height: 2.1;
    width: 60%;
    background: #ffd272;

    @media (max-width: 1080px) {
        width: 95%;
    }

    @media (max-width: 940px) {
        flex-direction: column-reverse;
        width: 80%;
    }

    @media (max-width: 680px) {
        width: 95%;
        margin: 0 auto;
    }

    .project_list {
        width: 100%;
        display: block;
        margin: 0 auto;

        .project_status_header {

            h2 {
                font-size: 24px;

                span {
                    color: red;
                    font-style: italic;
                    font-size: 11px;
                }
            }

            a {
                color: red;
                font-weight: bold;
                padding: 0 10px;
                &:hover {
                    color: green;
                }
            }

            h2, a {
                text-align: center;
            }
        }

        .project_to_come {

            text-align: center;

            h2 {
                font-size: 30pt;
            }

            p {
                font-weight: bold;
            }
        }
    }

    .project-status-container,
    .repository-status-container {    

        display: block;
        margin: 0 auto;
        width: 100%;

        ul.project-status-data,
        ul.repository-status-data {

            text-align: center;

            // Repository page
            p {

                font-size: 12px;
                font-weight: bold;
                margin-top: 5px;
                color: #484646;
                text-align: left;
                /* width: 100px; */
            }

            li {

                height: auto;
                display: inline-block;
                /* margin: 0 10px; */
                margin: 0 auto;
                /* width: 80%; */
                /* width: 30%; */
                width: 49%;
                overflow: hidden;                

                @media (max-width: 980px) {

                    width: 44%;
                    text-align: center;
                }

                @media (max-width: 780px) {

                    width: 100%;
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                }

                img {
                    
                    width: 100%;
                }                

                a {

                    img {

                        margin: 25px 0px;
                        border-radius: 10px;
                        border: solid black 2px;
                        opacity: 0.7;
                        // transform: scale(1);
                        transition:  opacity .1s, border-radius .1s;

                        position: relative;
                        bottom: 20px;                    

                        @media(max-width: 680px) {
                            
                            /* margin: 0px 0; */
                        }

                        &:hover {

                            opacity: 1;
                            // transform: scale(1.1);
                            background-color: darkorange;
                            background-color: black;
                        }

                    }

                    img.projects {

                        width: 97%;
                    }

                    img.repos {

                        width: 66%;
                    }

                }

            }

        }        

        a {

            color: red;
            font-weight: bold;

            &:hover {
                text-decoration: none;
                color: green;
            }

        }

        @media (max-width: 940px) {
            width: 90%;
            margin: 0 auto;
        }
        
        @media (max-width: 680px) {
            font-size: 3vw;
        }

        h2 {

            text-align: center;
        }

        ul {

            list-style-type: none;
            /*text-align: center;*/
            text-align: left;

            @media (max-width: 940px) {

                margin: 0 auto
            }
        }

        li {

            height: 45px;
            width: 99px;
            vertical-align: top;

            em {
                font-weight: bold;
            }
        }

        ul#project-status {

            float: left;
            margin: 0 5% 0 5%;
        }

        .project_info {

            display: flex;
            flex-direction: row;
            /*height: 65px;*/
            position: relative;
            bottom: 50px;

            /* .complete,
            .incomplete,
            .under_review,
            .upcoming {
                width: 40px;
            } */

            @media (max-width: 680px) {
                position: relative;
                left: 10px;
            }

            .complete {
                    @include span-colours(inline-block, #008000, 30px, 30px, 50%, 5px);
                }

            .incomplete {
                    @include span-colours(inline-block, #ff0000, 30px, 30px, 50%, 5px);
                }

            .under_review {
                    @include span-colours(inline-block, #ffff00, 30px, 30px, 50%, 5px);

                }
            .upcoming {
                    @include span-colours(inline-block, #ff9005, 30px, 30px, 50%, 5px);
                }

            .project_name {
                display: inline;
                width: 69%; 
                width: 85%;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.2;
                text-align: left;

                @media (max-width: 780px) {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    /* font-size: 20pt; */
                    font-size: 15pt;
                }
            }
        }
    }

    .main-content-notespage {

        width: 66%;
    }

    .main-content {
        
        width: 100%;

        p {

            #repo_count {

                color: red;
            }

        }

    }

    .main-content,
    .main-content-notespage {
        display: block;
        padding: 20px;

        @media (max-width: 940px) {
            width: 90%;
        }

        @media (max-width: 680px) {
            font-size: 3.5vw;
        }

        h2 {
            text-align: center;
        }

        p {
            line-height: 1.6;
        }

        a {
            color: red;
            font-weight: bold;

            &:hover {
                text-decoration: none;
                color: green;
            }

        }
        
    }

}

