.parallax { 
    /* The image used */
    background-image: url("../img/interior.png");
    
    /* Set a specific height */
    height: 500px; 
    height: 100vh;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: black;
    padding: 15% 0;
    margin-bottom: 30%;
}

.one { 

    div {

        @extend %box-styling;

        @include div-styling($text-col-one, $border-col-one solid 2px, $bg-one);
        transition: transform .1s, background .2s;

        &:hover {
            background: $bg-one-hover;
            transform: scale(1.07);
            transition: transform .1s, background .2s;
        }
    }
    
    h1 {
        font-size: 16pt;
    }

    p {
        font-size: 12pt;
    }

    a {
        color: $text-col-one;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}