//imports
@import "utilities/colour";
@import "utilities/fonts";
@import "utilities/extends";

@import "button/button-main";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-main;
}

.container {
    position: relative;
    background: $container-main;
    color: white;
    /*border: solid yellow 1px;*/
    width: 500px;
    height: auto;
    margin: 20px auto;
    font-family: $font-main;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;    

    .header {
        /*border: solid red 1px;*/
        background: $header-bg;

        h1 {
            text-align: center;
            font-size: 3pc;
            font-family: $font-main;
        }

    }

    .date {
        font-family: $font-secondary;
        text-align: right;
        margin: 10px 5px;
        font-size: 10px; 
        /*background: $header-bg;*/
    }

    .date > span {
        color: #e9a042;
        font-weight: bold;
    }

}


ul.currencies {
    font-family: $font-secondary;
    height: auto;
    height: calc(100vh - 100px);
    background-color: #222;
    /*border: solid pink 1px;*/
    border-top: 1px white solid;
    overflow-y: auto;

}

ul.currencies::-webkit-scrollbar {
    width: 15px;
    background: $scrollbar-color;
 }

ul.currencies::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    cursor: pointer;
    transition: background .2s;
    border: solid 1px black;
    border: solid 1px #222121;

    &:hover {
        background: $scrollbar-thumb-hover;
    }
}

ul.currencies li {
    background: $currency-list-bg;
    border-radius: 5px;
    list-style: none;
    margin-bottom: 1rem;
    padding: 3px;
    position: relative;

}

ul.currencies li:hover {
    background: #264d73;
}

ul.currencies li.last-child {
    margin-bottom: 0;
}

ul.currencies li.base-currency {
    background: $currency-list-bg-hover;
    position: relative;
}

ul.currencies li:hover {
    background: $currency-list-bg-hover;
}

ul.add-currency-list {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #f1f1f1;
    color: #333;
    width: 100%;
    overflow-y: auto;
    transition: all 0.25s;
    height: 0;

}
ul.add-currency-list:hover {
    height: calc(100vh -40px - 100px - 55px);
    display: block;
}

ul.add-currency-list li {
    list-style: none;
    margin: 0 15px;
    padding: 10px 15px;
}

.flag {
    vertical-align: top;
    width: 60px;
    height: 40px;
    margin-left: 5px;
}


/*Currency Button Styles*/
.add-currency-btn {
    @extend %add-currency-btn;
}

.add-currency-btn.open {
    @extend %add-currency-btn-hover;
}

.add-currency-btn i { 
    position: absolute;
    top: 1px;
    left: 30%;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.25s;
    color: yellow;
}

.add-currency-btn.open i {
    opacity: 1;    
    left: 1.2rem;
    margin-top: 10px;
 }

.add-currency-btn.open + ul.add-currency-list {
    height: calc(100vh - 40px - 100px - 55px);
    display: block;
}

.add-currency-btn.open + ul.add-currency-list li:hover {
    background-color: #ede;
}

/*Currency info styles*/
.info {
    display: inline-block;
    width: 85%;
    color: $colour-main;
}


.info .input span {
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;

}

.info .input input {    
    border-radius: 5px;
    border: solid 2px white;
    background-color: transparent;
    border-radius: 5px;
    width: 58%;
    padding: 0 10px;
    padding: 0.3rem;
    font-size: 12px;
    height: 30px;
    color: $colour-main;
    margin-left: 1rem;
    vertical-align: top;
    margin-bottom: 0.75rem;

    &::placeholder {
        color: $colour-main;
    }
}

.info .base-currency-rate {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
}

.info .currency-name {
    font-size: 0.8rem;
    margin-left: 4rem;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}


/*Close button*/
.close {
    position: absolute;
    cursor: pointer;
    color: $close-btn;
    top: 0;
    right: 0;
    display: block;
    margin: 10px;
}


/*Footer*/
.page-footer {
   text-align: center;
   font-family: $font-tertiary;
   margin: 28px 0px;
   display: block;

   p {
       font-size: 1.5rem;

       a {
           color: black;
           color: blue;

           &:hover {
               color: red;
           }

       }
   }   
}

/*Responsive code*/
@media (max-width: 600px) {
    html { font-size: 14px; }
    .container { width: 100%; margin: 0 auto; }
    ul.currencies { height: calc(100vh - 83px - 34px - 51px); }
    .header h1 { font-size: 2rem; }
    .flag { width: 3rem; height: 2rem; }
    .info .input span { font-size: 1.25rem; width: 3.5rem; }
    .info .input input { font-size: 1.25rem; width: 76%;}
    .info .currency-name { margin-left: 3.5rem; }
    .info .base-currency-rate { margin-left: 3.5rem; }
    ul.add-currency-list { bottom: 48px; height: calc(100vh - 80px - 51px); }
    .add-currency-btn i { left: 25%; top:0.65rem; }
  }