/******

Last Update:  10-06-2022  16:58

******/
body {
  background: #a1a1ef; }
  body header {
    background: black; }
    body header h1 {
      text-align: center;
      color: white;
      font-family: verdana;
      font-family: arial;
      font-size: 32px; }
    body header #repo_logo {
      display: block;
      width: 130px;
      margin: 10px auto; }
  body main .list-js {
    width: 92%;
    margin: 25px auto;
    display: block;
    text-align: center;
    /* display: inherit; */
    /* display: inline-flex; */
    /* border-right: solid 2px black; */
    /* border-left: solid 2px black; */
    /* height: 35px; */ }
    @media (max-width: 980px) {
      body main .list-js {
        width: 99%; } }
    body main .list-js div.repo_item {
      flex-direction: row;
      width: 28%;
      display: inline-block;
      vertical-align: top;
      font-family: verdana;
      font-size: 16px; }
      @media (max-width: 1200px) {
        body main .list-js div.repo_item {
          width: 34%; } }
      @media (max-width: 980px) {
        body main .list-js div.repo_item {
          width: 100%; } }
      body main .list-js div.repo_item a {
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin: 10px 0; }
        body main .list-js div.repo_item a:hover {
          text-decoration: none; }
      body main .list-js div.repo_item img {
        width: 89%;
        border: solid 4px white;
        border-radius: 5px; }
        @media (max-width: 1200px) {
          body main .list-js div.repo_item img {
            width: 85%; } }
        @media (max-width: 980px) {
          body main .list-js div.repo_item img {
            width: 90%; } }
      body main .list-js div.repo_item span {
        display: inline-block;
        /* font-style: italic; */
        /* margin-bottom: 20px; */
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 3px;
        /* border-bottom: #584e4e 1px dotted; */
        /* border: #ff3213 1px dotted; */
        /* border: #583e4e 1px dotted; */
        /* border: #583e4e 1px solid; */
        font-size: 10px; }
        body main .list-js div.repo_item span.clone_span {
          background: #aebeff;
          /* background: blue; */
          color: #565252;
          font-weight: bold;
          letter-spacing: 1px; }
        body main .list-js div.repo_item span.status {
          background: #aebeff;
          color: black;
          font-style: normal;
          font-weight: bold;
          margin: 0 5px; }
        body main .list-js div.repo_item span.type {
          background: #aebeff;
          color: black;
          font-style: normal;
          font-weight: bold; }
        body main .list-js div.repo_item span.privacy {
          background: #aebeff;
          color: black;
          font-style: normal;
          font-weight: bold;
          text-transform: capitalize; }
      body main .list-js div.repo_item .copy_clone_command {
        background: #ee5752;
        display: block;
        margin: 0px auto;
        padding: 10px;
        color: white;
        border-radius: 10px;
        border: solid white 3px;
        /* width: 90%; */
        width: 200px;
        text-decoration: none;
        font-size: 14px;
        transition: background .3s, transform .1s; }
        body main .list-js div.repo_item .copy_clone_command:hover {
          background: #fb1111;
          transform: scale(1.1); }
        @media (max-width: 980px) {
          body main .list-js div.repo_item .copy_clone_command {
            width: 75%; } }

* {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
