.dene {
    
    border: solid 1px black;
    margin: 0 auto;
    padding: 15px;
    /*display: grid*/

    h2 {
        @extend %trail-type-headings;
    }

    p {
        @extend %trail-type-para;
    }

    @media (min-width: $xl) {
        /*color: red;*/
        width: 1024px;
    }

    @media (max-width: $lg) {
        max-width: 1450px;
    }

    @media (max-width: $sm) {
        max-width: 1000px;
        margin: 0 auto;
        border: solid 1px black;
        padding: 10px;
    }

    @media (max-width: $xs) {
        //grid-template-columns: minmax(30%, 35%) 1fr 1fr
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 90%;        
    }
}
