.lockdown {
    
    display: grid;
    /*width: 100%;*/  //redundant?
    border: solid 1px black;
    padding: 15px;
    grid-template-columns: minmax(30%, 50%) 1fr 1fr;
    margin: 0 auto;

    @media (min-width: $xl) {
        /*color: red;*/
        width: 1450px;
    }

    @media (max-width: $lg) {
        max-width: 1450px;
    }

    @media (max-width: $xs) {
        //grid-template-columns: minmax(30%, 35%) 1fr 1fr
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 90%;
    }

    .lockdown-intro,
    .lockdown-img,
    .route-list {
        border: solid yellow 1px;
    }

    .lockdown-intro {
        line-height: 1.7;
        /*font-size: 12px;*/

        p {
            margin-bottom: 15px;
        }

        .main-btn {
            @extend %route-btn;
        }
    }

    .lockdown-img {
        width: 100%;
        padding: 5px;  
        text-align: center;  
    }

    .home-image {
        width: 80%;
    }

    .route-list {
        ul {
            list-style-type: none;
            position: relative;
            left: 15px;

            li {
                margin: 5px 0;
                a {
                    color: red;
                    font-size: 12px;
        
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }      
        
      
    }
}

.slider-container {
    
    margin: 20px auto;
    text-align: center;
    /*background: black;*/
    border: solid red 1px;
    width: 95%;

    h3 {
        text-align: center;
    }

    // route slider styles - no slick carousel
    .route-slider {
        display: inline-block;
    }

    .route-slider > div {
        display: inline-block;
        width: 20px;
        width: 10%;
        width: 7%;

        
        @media (max-width: $xs) {
            /*width: 50%;*/
            /*width: 20px;*/
            width: 15%;
            text-align: left;
        }
    }

    .route-slider-image {
        display: inline-block;
        width: 25%;
        width: 100%;

        @media (max-width: $xs) {
            /*width: 50%;*/
            width: 21%;
            width: 100%;
        }

    }

    .route-slider-link {        
        display: inline-block;

    }
      
    //slick carousel/slider    
    @import "../utilities/slick";
   
}
