.lockdown {
    width: 100%;
    border: solid 1px black;

    display: grid;
    grid-template-columns: minmax(30%, 48%) 1fr 1fr;

    .lockdown-intro,
    .lockdown-img,
    .route-list {
        border: solid yellow 1px;
    }

    .lockdown-intro {
        line-height: 1.7;
        font-size: 12px;

        .main-btn {
            @extend %route-btn;
        }
    }

    .lockdown-img {
        width: 100%;
        padding: 5px;  
        text-align: center;  
    }

    .home-image {
        width: 80%;
    }
}

.route-slider {

    display: inlne-block;
    margin: 20px auto;
    text-align: center;
    width: 90%;

    img {
        /*consider original height of image - to be decided*/
        width: 180px;
        display: inline-block;
    }
}