.routes {
      
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    /*width: 60%;*/
    /*display: block;*/
    @include section-layout(0 auto, 15px, #d3d3d3);

    @media (min-width: $xl) {
        width: 1450px;
        width: 1024px;

    }

    @media (max-width: $xs) {
        width: 90%;
    }

    h2 {
        @extend %trail-type-headings;
    }
    
    @media (max-width: $sm) {
        max-width: 1000px;
        margin: 0 auto;
        border: solid 1px black;
        padding: 10px;
    }

    .route-list {
        list-style: none;
        position: relative;
        left: 10px;
        
        ul {
            list-style-type: none;
            position: relative;
            left: 15px;
        }

        li {
            line-height: 2;
        }

        li a {
            color: red;
            font-size: 12px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}