<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Vue.js Project.</title>

    <!-- Google Font-->


</head>
<body>

    <div id="vue">

        <header>
            <h1>{{ pageTitle }}</h1>
        </header>

        <main>
            <article>
                <h2>Lorem ipsum dolor</h2>
                <p>{{ pageDesc }}</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloremque, natus ea modi esse repudiandae facilis et veritatis quae eaque, voluptas minus quos, rem eligendi sapiente quaerat fuga iure facere.</p>

                <ol>
                    <li v-for="names in register">{{ names }}</li>
                    <li v-for="urls in links"><a href="v-bind: {{ urls }}" target="blank"> {{ urls }}</a></li>
                    
                </ol>

                <input type="text" value="{{text}}" />
                <input type="button" value="Add Name">
            </article>
        </main>

        <footer>
            <p>&copy; Lorem ipsum dolor, <a href="">sit amet consectetur, .</a></p>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="scripts/app.js"></script>   
</body>
</html>