$background-main: darkgray;
$container-main: black;

$colour-main: white;

$currency-list-bg:  #472222;
$currency-list-bg-hover:  #2644d7;

$currency-btn-bg: lightyellow;
$currency-btn-bg-hover: red;
$currency-btn-col: black;
$currency-btn-col-hover: black;

$close-btn: red;