//main backgrounds
$body-bg: darkgray;
$background-main: darkgray;
$container-main: black;
$main-header-col: red;
$header-col: #ffffff;
$header-bg: #111111;


//currency list colours
$currency-list-col: white; /*Add currency colours*/
$currency-list-bg:  #472222;
$currency-list-item-bg:  #472222;
//$currency-list-bg: #222222;
$currency-list-item-bg-hover: lighten($currency-list-item-bg, 10%);
$close-btn: #ff0000;


//add currency button colours
$currency-btn-bg: lightyellow;
$currency-btn-bg-hover: red;
$currency-btn-col: black;
$currency-btn-col-hover: black;


//scrollbar colours
$scrollbar-color: #807d7d;
$scrollbar-thumb: #333;
$scrollbar-thumb-hover: #b3aeae;