
// COLOURS 

$bg---main: lightblue;
$bg---header: #000000;
$bg---secondary: #caedf8;

$bg---button--primary: purple;
$bg---button--primary-hvr: #ae4fae;
$col---button--primary: white;

$col---primary: black;
$col---secondary: white;
$col---tertiary: red;

$col---url--primary: white;
$col---url--primary-hvr: #ffe240;

$col---url--secondary: red;
$col---url--secondary-hvr: blue;

$col---border--primary: purple;

// FONTS


$font---primary: verdana;
$font---secondary: arial;

/* font import */

/*@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");*/
