@mixin span-colours($display, $background, $width, $height, $border-radius, $margin-right) {
    display: $display;
    background: $background;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    margin-right: $margin-right;
}
           