/* main.scss */

$font---family: 'Arial', sans-serif;

$col---primary: black;
$col---secondary: white;

$col---tertiary: #007bff;
$col---tertiary--hover: #054386;

$bg---primary: #ffffff;
$bg---secondary: #f5f5f5;

body {


    font-family: $font---family;
    background: $bg---primary;

    header {

        text-align: center;

        h1 {

            display: inline-block;
        }

        .bird-icon {

            width: 45px;
            vertical-align: top;
            border-radius: 50%;
            border: solid 1px #bbbbab;
            box-shadow: #1e1616 2px 3px 0px 0px;
            margin: 0 25px;
        }       

    }

    main#container {

        display: block;
        margin: 0 auto;
        width: 95%;
        padding: 10px 0;

        .filter-section {

            display: block;
            text-align: center;
            width: 100%;

            .filter-group {

                .checkbox-group {

                    label {

                        display: inline-block;
                        margin: 8px 2px;
                        padding: 4px;

                        transition: background .2s, color .2s;

                        &.filtered {

                            background: #007bff;
                            border-radius: 5px;
                            color: #dbe4ff;
                        }
                    }
                }
            }
           
            #toggle-filters {

                width: 105px;
                margin: 11px 4px; // Standardize margin
            }

            .toggle-filters-btn {

                display: inline-block;
                /* width: 115px; */
                margin: 11px 4px;
                
                @extend %btn---main;
            }

        }

        section.introductory---text {

            display: block;
            margin: 10px auto;
            /* width: 95%; */
            width: 320px;
            text-align: center;
        }

        section {

            display: block;
            /* margin: 17px auto; */
            /* width: 380px; */
            line-height: 1.8;
            font-weight: bold;

        }   
        
        section.filterable---birds--container {

            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            div {

                /* border: solid 1px #777171; */
                width: 17%;
                margin: 0 auto;

                @media (max-width: 768px) {

                    width: 25%;
                }

                
                @media (max-width: 520px) {

                    width: 44%;
                }

                img {

                    width: 100%;                    
                    border: solid 2px #605f5f;
                    border-radius: 7px;

                    transition: border .3s ease-in-out;

                    &:hover {

                        border: solid 2px #ffff7c;

                    }
                }

            }

            div.bird---item {
               
                .bird_name,
                .bird_date {

                    margin: 0;
                    width: 100%;
                    font-size: 11px;
                }

            }

            div#no-results-message {

                border: solid 1px gray;
                padding: 3px;
                text-align: center;
                border-radius: 6px;
                background: #ff6a6a;
                color: white;
                letter-spacing: 1px;
            }
        }

        .featured---birds--list {
            
            display: block;
            margin: 0 auto;
            width: 50%;

            /* ul {

                li {

                    
                }
            } */

        }
    
        .introductory-images {

            display: block;
            margin: 0 auto;
            width: 45%;

            div {

                /* width: 300px; */
                /* height: 300px; */
                width: 100%;
                margin: 0 auto;
                /* border: solid 1px red; */

                img {

                    display: block;
                    margin: 25px auto;
                    width: 70%;
                    height: 100%;
                    
                    border-radius: 6px;
                    
                    border: solid 1px #837d7d;

                    &:focus,
                    &:focus-visible {

                        outline: none;
                    }
                }
            }
        }

        ul {

            li {

                a {

                    color: $col---tertiary;
                    transition: color .2s;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: bold;

                    &:hover {

                        color: $col---tertiary--hover;
                    }
                }
            }
        }

        // index.php
        #featured---birds--btn {

            display: block;
            width: 320px;
            margin: 0 auto;
            text-align: center;
            font-size: 12pt;
            font-weight: bold;
            background: lightgreen;
            color: green;
            text-decoration: none;
            border: green solid 1px;
            padding: 10px;
            border-radius: 5px;;
            box-shadow: #858585 1px 2px 4px 1px;

            transition: background .2s;

            &:hover {

                background: #7fc97f;
            }
        }

        // carousel.php
        #back---home {

            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-size: 12pt;
            font-weight: bold;
            color: $col---tertiary;

            transition: color .2s;

            &:hover {

                color: $col---tertiary--hover;
            }

        }

        
        h2 {

            text-align: center;
            margin: 14px 0 0 0;

            #filter---count {

                display: inline;
                /* border: #007bff solid 1px; */
                vertical-align: middle;
                font-size: 18px;
                color: #007bff;
                margin: 0 1px;
                /* border-bottom: solid 2px #007bff; */
                /* border-top: solid 2px #007bff; */
            }

        }

        .nav---container {

            /* width: 100%; */
            text-align: center;
            border: solid 1px #e3d8d8;
            padding: 7px 0px;
            border-radius: 7px;
            background: #b5eeff;
            background: $bg---secondary;
            margin: 8px auto;

            li {

                display: inline-block;
                margin: 0 10px;

                &:first-child {

                    border-right: 2px solid gray;
                    padding-right: 26px;
                    
                }

                &:last-child {

                    border-left: 2px solid gray;
                    padding-left: 26px;
                    
                }

                &:only-child {

                    border: none;
                    padding-right: 26px;
                }

            }

        }

        .featured---birds--list {

            .birds-list {

                list-style: none;
                padding: 0;
                margin: 20px auto;
                max-width: 800px;
            }
            
            .bird-item {

                position: relative;
                padding: 10px;
                cursor: pointer;
                border-bottom: 1px solid #eee;

                transition: background-color .3s, border-bottom .3s;
            }
            
            .bird-item:hover {
                
                background-color: #f5f5f5;
                border-bottom: solid 1px #777171;
            }

            .bird-item:first-child {

                border-top: solid 2px #777171;
            }

            .bird-item:last-child {

                border-bottom: solid 2px #777171;
            }

            
            .tooltip {

                display: none; // Hidden by default
                position: fixed;
                margin: 0 auto;
                /* left: 100%; */
                /* top: 0; */
                /* bottom: 30px; */
                top: 30px;
                background: #97ff51;
                box-shadow: 0 2px 10px #065610;
                border: solid 2px green;
                border-radius: 15px;
                padding: 8px;
                width: 300px;
                width: 100%;
                width: 50%;
                z-index: 1000;
                margin-left: 10px;
            }
            
            .tooltip.active {

                display: block; /* Show when active */
            }
            
            .tooltip-content {

                /* display: block; */
                display: flex;
            
                @media (max-width: 968px) {

                    flex-direction: column;
                }
                 
                img {

                    display: inline-block;
                    width: 32%;
                    height: auto;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    border: solid 1px green;

                    @media (max-width: 968px) {

                        display: block;
                        width: 75%;
                        margin: 0 auto;
                        
                    }
                }

                h3, p {

                    /* width: 35%; */
                    margin: 0;
                }

                .bird-class {

                    margin: 0 15px;
                    text-align: center;
                    width: 100%;
                }

                p.name {

                    display: inline-block;
                    margin: 0;
                }

                p.scientific-name {

                    margin: 0 20px;
                    font-style: italic;
                    font-size: 12px;
                    vertical-align: top;
                    text-align: center;
                }

                p.description {

                    margin: 20px 20px;
                    text-align: center;
                    font-size: 12px;
                }

            }
            
            .close-tooltip {
                position: absolute;
                top: 5px;
                right: 5px;
                background: none;
                border: none;
                font-size: 20px;
                cursor: pointer;
                padding: 5px;
            }
                
            /* Mobile styles */
            @media (max-width: 768px) {

                .tooltip {
                    position: fixed;
                    left: 50% !important;
                    top: 50% !important;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    max-width: 300px;
                    margin: 0;
                }
            }
        }

        .birds---carousel--container {

            display: block;
            margin: 15px auto;
            width: 35%;

            // padding: acccounts for border overflow
            padding: 0 2px;

            img {

                width: 100%;
                border: solid 2px black;
                border-radius: 6px;
            }

            
            .slick-slide {
                
                // Add small padding between slides
                padding: 0 2px;
            }

        }

        // slick carousel styles carousel.php

        .slide {

            position: relative;            
            margin: 0; // Remove any margins that might affect positioning
            
            img {

                width: 100%;
                border: solid 2px black;
                border-radius: 6px;                
                
                box-sizing: border-box; // Ensure the image stays within its container
                /* display: block; */
            }

            
        
            .slide-caption {

                position: absolute;
                bottom: 2px;
                left: 2px;
                right: 2px;
                background: rgba(0, 0, 0, 0.4);
                box-sizing: border-box;
                color: white;
                padding: 10px;
                
                // Ensure caption stays within border
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;

                h3 {

                        margin: 0 0 5px 0;
                    }
            
                p {

                    margin: 0;
                    font-size: 0.9em;

                    &.filename {

                        font-size: 0.8em;
                        color: white;
                        text-align: right;
                    }
                
                    &.bird---name {

                        text-align: left;
                    }

                    &.date {

                        text-align: left;
                    }
                }

            }
        }

    }

    footer {

        font-size: 12px;
        margin-top: 20pt;

        p {

            text-align: center;

            a {

                color: $col---tertiary;
                transition: color .4s;

                &:hover {

                    color: $col---tertiary--hover;
                }
            }

        }
    }
}


.filters-container {

    background: #f5f5f5;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 1000px; /* Adjust this value based on your content */
    margin: 3px auto;
}

.filters-container.closed {

    max-height: 0;
    margin: 0;
}


.filter-section {

    padding: 0px;
    font-size: 12px;
    /* margin: 10px auto; */
    margin: 0;


    .filter--btn-group {

        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;

        display: flex;
        display: block;
        margin: 20px auto;

        a {           

            @extend %btn--filters;
        }
    }
}