/* main.scss */

$font---family: 'Arial', sans-serif;

$col---primary: #007bff;
$col---primary--hover: #054386;

body {


    font-family: $font---family;

    header {

        text-align: center;

    }

    main#container {

        display: block;
        margin: 0 auto;
        width: 95%;

        section {

            display: block;
            margin: 17px auto;
            /* width: 380px; */
            line-height: 1.8;
            font-weight: bold;

        }   
        
        section.filterable---birds--container {

            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            div {

                border: solid 1px #777171;
                width: 17%;
                margin: 0 auto;

                @media (max-width: 768px) {

                    width: 25%;
                }

                
                @media (max-width: 520px) {

                    width: 44%;
                }

                img {

                    width: 100%;
                }

            }

            div.bird---item {


                .bird_name,
                .bird_date {

                    margin: 0;
                    width: 100%;
                    font-size: 11px;
                }


            }

        }
    
        .introductory-images {

            display: block;
            margin: 0 auto;
            width: 45%;

            div {

                /* width: 300px; */
                /* height: 300px; */
                width: 100%;
                margin: 0 auto;
                /* border: solid 1px red; */

                img {

                    display: block;
                    margin: 0 auto;
                    width: 70%;
                    height: 100%;
                    
                    border-radius: 6px;
                    
                    border: solid 1px #837d7d;
                }
            }
        }

        ul {

            li {

                a {

                    color: $col---primary;
                    transition: color .2s;

                    &:hover {

                        color: $col---primary--hover;
                    }
                }
            }
        }

        // carousel.php

        #back---home {

            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-size: 12pt;
            font-weight: bold;
            color: $col---primary;

            transition: color .2s;

            &:hover {

                color: $col---primary--hover;
            }

        }

        
        h2 {

            text-align: center;
        }

        .nav---container {

            /* width: 100%; */
            text-align: center;
            
            li {

                display: inline-block;
                margin: 0 10px;

                a {


                }
            }
        }

        .birds---carousel--container {

            display: block;
            margin: 0 auto;
            width: 35%;

            img {

                width: 100%;
                border: solid 2px black;
                border-radius: 6px;
            }

        }

        // slick carousel styles carousel.php

        .slide {
            position: relative;
        }
        
        .slide-caption {

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
            color: white;
            padding: 10px;
        }
        
        .slide-caption h3 {
            margin: 0 0 5px 0;
        }
        
        .slide-caption p {
            margin: 0;
            font-size: 0.9em;

            &.filename {

                font-size: 0.8em;
                color: white;
                text-align: right;
            }
            
            &.bird---name {

                text-align: left;
            }

            &.date{

                text-align: left;
            }
        }

    }

    footer {

        font-size: 12px;
        margin-top: 20pt;

        p {

            text-align: center;

            a {

                color: $col---primary;
                transition: color .4s;

                &:hover {

                    color: $col---primary--hover;
                }
            }

        }
    }
}