/**

Last Update: 14:50  17/03/2021
Authored by: @jg_DigitalMedia

*/

$caption_txt_color: black;

* {
    padding: 0;
    margin: 0;
}

body {
    background: #fafa75;
}

header {
    display: block;
    position: relative;
    border-bottom: solid white 3px;
    min-height: 120px;

    background: black;
    color: white;
    
     h1 {
         text-align: center;
     }
}

main {
    display: block;
    margin: 0 auto;
    width: 66%;

    h2 {
        text-align: center;
        margin-top: 20px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .slideshow-container {
        .mySlides {
            display: none;
            /* display: block; */
        }

        .img_slide {
            width: 65%;
            margin: 0 auto;
            display: block;
        }

        .slide_text {
            
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
           /*  position: absolute; */
            /* top: 0; */
            
            span.caption_filename {
                color: $caption_txt_color;
                &+ span {
                    color: $caption_txt_color;
                }
            }
            
            span.caption_date {
                color: $caption_txt_color;
                &+ span {
                    color: $caption_txt_color;
                }
            }
            
            span.caption_iso {
                color: $caption_txt_color;
                &+ span {
                    color: $caption_txt_color;
                }
            }
            
            span.caption_aperture {
                color: $caption_txt_color;
                &+ span {
                    color: $caption_txt_color;
                }
            }
            
            span.caption_shutter {
                color: $caption_txt_color;
                &+ span {
                    color: $caption_txt_color;
                }
            }
            
            span.caption_focalLength {
                color: $caption_txt_color;
                &+ span {
                    color: $caption_txt_color;
                }
            }
            
            span.caption_description {
                color: $caption_txt_color;
                width: 100%;
                font-size: 20pt;

                &+ span {
                    color: $caption_txt_color;
                    font-size: 30pt;
                }
            }
        }
    }
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



footer {
    margin-top: 20px;

    p {
        width: 100%;
        display: block;
        text-align: center;

        a {
            text-align: center;
            color: red;

            &:hover {
                text-decoration: none;
            }
        }
    }
}