/*

Extends and Mixins
*/
.one div, .two div, .three div, .four div, .five div {
  height: 20vh;
  height: auto;
  width: 45%;
  position: relative;
  top: 30%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 2% 25px;
  border-radius: 5px;
  line-height: 2; }
  @media (max-width: 680px) {
    .one div, .two div, .three div, .four div, .five div {
      width: 85%; } }

* {
  padding: 0;
  margin: 0; }

body {
  color: white;
  background: black;
  font-family: 'Cabin', 'Roboto', 'verdana', sans-serif; }

main {
  background: black; }

header {
  background: #080749;
  height: auto;
  border-bottom: 8px solid white;
  color: #cff082; }
  header h1 {
    font-size: 3vw;
    text-align: center; }
    @media (max-width: 680px) {
      header h1 {
        font-size: 5vw; } }
  header p {
    text-align: center; }
    header p a {
      color: white; }
  header #hdr-link {
    font-size: 10px; }
  header div.header-content {
    /* margin-top: 20px; */
    margin: 2% auto;
    display: block;
    position: relative;
    width: 100%;
    text-align: center; }
    header div.header-content article {
      display: inline-block;
      width: 24%;
      margin: 0 20px;
      text-align: left;
      line-height: 2.1;
      vertical-align: top; }
      @media (max-width: 680px) {
        header div.header-content article {
          display: block;
          padding: 0 5px;
          margin: 20px auto;
          width: 90%; } }

.parallax {
  /* The image used */
  background-image: url("../img/interior.png");
  /* Set a specific height */
  height: 500px;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 15% 0;
  margin-bottom: 30%; }

.one div {
  color: #e1bbfa;
  border: #6b0caa solid 2px;
  background: #150552;
  transition: transform .1s, background .2s; }
  .one div:hover {
    background: #210882;
    transform: scale(1.07);
    transition: transform .1s, background .2s; }
.one h1 {
  font-size: 16pt; }
.one p {
  font-size: 12pt; }
.one a {
  color: #e1bbfa;
  text-decoration: none; }
  .one a:hover {
    text-decoration: underline; }

.parallax-two {
  background: url("../img/autoc.png");
  /* Set a specific height */
  height: 500px;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 15% 0;
  margin-bottom: 30%; }

.two div {
  color: #9494ff;
  border: blue solid 2px;
  background: blue;
  transition: transform .1s, background .2s; }
  .two div:hover {
    background: #3333ff;
    transform: scale(1.07);
    transition: transform .1s, background .2s; }
.two h1 {
  text-align: center;
  font-size: 16pt; }
.two p {
  font-size: 12pt; }
.two a {
  color: #9494ff;
  text-decoration: none; }
  .two a:hover {
    text-decoration: underline; }

.parallax-three {
  background: url("../img/elim.png");
  /* Set a specific height */
  height: 500px;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 15% 0;
  margin-bottom: 30%; }

.three div {
  color: #f79a43;
  border: #f7973e solid 2px;
  background: #fae56f;
  transition: transform .1s, background .2s; }
  .three div:hover {
    background: #fdf2b9;
    transform: scale(1.07);
    transition: transform .1s, background .2s; }
.three h1 {
  text-align: center;
  font-size: 16pt; }
.three p {
  font-size: 12pt; }
.three a {
  color: #f79a43;
  text-decoration: none; }
  .three a:hover {
    text-decoration: underline; }

.parallax-four {
  background: url("../img/apr-training.png");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 15% 0;
  margin-bottom: 30%; }

.four div {
  color: #420fba;
  border: #310b8b solid 2px;
  background: #7c7eb8;
  transition: transform .1s, background .2s; }
  .four div:hover {
    background: #aeafd3;
    transform: scale(1.07);
    transition: transform .1s, background .2s; }
.four h1 {
  text-align: center;
  font-size: 16pt; }
.four p {
  font-size: 12pt; }
.four a {
  color: #420fba;
  text-decoration: none; }
  .four a:hover {
    text-decoration: underline; }

.parallax-five {
  background: url("../img/mangles.png");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 15% 0;
  margin-bottom: 5%; }

.five div {
  color: #f8d079;
  border: #f7c65c solid 2px;
  background: #c96f20;
  transition: transform .1s, background .2s; }
  .five div:hover {
    background: #dc7b26;
    transform: scale(1.07);
    transition: transform .1s, background .2s; }
.five h1 {
  text-align: center;
  font-size: 16pt; }
.five p {
  font-size: 12pt; }
.five a {
  color: #f8d079;
  text-decoration: none; }
  .five a:hover {
    text-decoration: underline; }

footer p {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
