/*main*/
body {
    background: $body-bg;
    font-family: $font-primary;
    font-size: $font-size-main;
}

* {
    padding: 0;  
    margin: 0;
}

//Common Styles

.main {
    /*border: solid black 1px;*/
    display: grid;
    /*width: 60%;*/
    width: 100%;
    background: lightblue;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 2fr 260px;
    min-height: 300px;  //refine

    .category-heading {
        /* border: solid black 1px; */

        h2 {
            font-size: 16pt;
        }

    }

    .category-content {
        /* border: solid black 1px; */
        display: grid;
        grid-template-rows: 100px 1fr;
        p {
            color: black;
        }
    }
}
