//Utility - Fonts
$font: 'Cairo', sans-serif;
$font-sec: 'Comfortaa', cursive;
$font-ter: calibri;

//utility - colours

//bg-colours
$bg-main: gray;
$bg-main: #99dfef;
$bg-primary: darkmagenta;

//text-colours:
$txt-col-primary: white;
$txt-col-secondary: white;
$txt-col-tertiary: #14e448;

//utilities  

//breakpoints   // xl, lg, md, sm, xs
$xl: 1900px;
$lg: 1600px;
$md: 980px;
$sm: 780px;
$xs: 580px;  //dropdown input for mobile screens


/*font-family: 'arial', sans-serif;*/
/*font-family: 'verdana', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Comfortaa', cursive;*/
/*font-family: 'Cairo', sans-serif;*/
/*font-family: 'Permanent Marker', cursive;*/