//footer
footer {
    width: 100%;
    background: $bg-primary;
    min-height: 36px;
    padding-top: 20px;
    margin-top: 20px;
    display: block;
    font-family: arial;

    div {
        text-align: center;
        color: $txt-col-primary;

        a {
            color: white;
            &:hover {
                color: $txt-col-tertiary;
                text-decoration: none;
            }
        }
    }
}