form {
    padding: 5px;
    border: red solid 2px;

    .form-label {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }

    .form-inputs {
        height: 25px;
        padding: 10px;
        width: 90%;

        @media (max-width: 550px) {
            width: 90%;

        }
    }

    textarea {
        width: 80%;
        padding: 10px;
    }

    .form-submit {
        border: solid 1px black;
        background: purple;
        color: white;
        padding: 15px;
        cursor: pointer;
        width: 200px;
        border: white 2px solid;
        border-radius: 3px;
        margin-top: 10px;

        &:hover {
            background: lighten(purple, 15%);
        }
    }

    .inventory-label {
        margin-right: 40px;

        @media (max-width: $sm) {
            margin-right: 0px;
        }
    }

    .form-section {
        border-bottom: 1px solid red;
        margin: 30px 0 0px 0;
    }

    table {
        td {
            @media (max-width: $sm) {
                width: 20%;
            }
        }
    }
}