form {
    padding: 5px;
    border: red solid 2px;

    .form-label {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }

    .form-inputs {
        height: 25px;
    }

    textarea {
        width: 80%;
    }

    .form-submit {
        border: solid 1px black;
        background: purple;
        color: white;
        padding: 15px;
        cursor: pointer;
        width: 200px;
    }

    .inventory-label {
        margin-right: 40px;

        @media (max-width: $sm) {
            margin-right: 0px;
        }
    }

    .form-section {
        border-bottom: 1px solid red;
        margin: 10px 0;
    }

    table {
        td {
            @media (max-width: $sm) {
                width: 20%;
            }
        }
    }
}