
//header
header {
    background: $bg-primary;
    min-height: auto;
    background: url("../img/header/header_2.jpg");
    background-size: 50%;
    border-bottom: 7px #f5a7f5 solid;

    @media(max-width: $md) {
        background: $bg-primary;
    }
    

    article {
        
        display: inline-block;
        width: 30%;
        vertical-align: top;

        padding: 10px;

        @media(max-width: $md) {
            display: block;
            width: 90%;
            text-align: center;
        }

        img {
            
            display: block;
            /*height: 140px;*/
            /*width: 275px;*/
            width: 360px;
            margin: 0 auto;
            transition: transform .1s;
            background: #490954;
            border-radius: 20px;

            &:hover {
                transform:scale(1.1);
            }

            @media(max-width: $md) {
                margin: 0 auto;
            }
        }

        .title-space {

            color: $txt-col-secondary;
            text-align: center;

            .main-title {
                font-size: 35pt;
                text-align: center;
                font-weight: bold;
                line-height: 1.2;
            }
        }

        a {
            font-size: small;
            text-decoration: none;
            color: $txt-col-secondary;
            &:hover {
                color: $txt-col-tertiary;
            }

            &.selected {
                color: $txt-col-primary;
            }
            
        }    
    
    }

    
    nav.nav-space {
        display: inline-block;
        width: 30%;
        margin-left: 20px;
        padding: 10px;
        font-weight: bold;

        @media (max-width: $md) {
            display: block;
            width: 90%;
            text-align: center;
        }

        ul {
            li  {
                display: inline-block;
                margin-left: 20px;
                font-size: 12pt;

                label {
                    color: $txt-col-secondary;
                }

                a {
                    color: $txt-col-secondary;
                    text-decoration: none;
                    transition: color .2s;
                    &:hover {
                        text-decoration: none;
                        color: $txt-col-tertiary
                    }

                    &.selected {
                        color: $txt-col-tertiary;
                        border-bottom: 3px solid $txt-col-tertiary;
                    }

                }

                .inventory {
                    display: block;
                }

                //dropdown shadwo
                select#inventory {
                    background: radial-gradient(black, transparent);
                    background: lightpink;
                    color: darkblue;
                    height: 33px;
                    border-radius: 17px;
                    box-shadow: springgreen;
                    font-family: 'Times New Roman', Times, serif;
                    font-family: 'Comfortaa', cursive;
                }

                .inventory-menu  {
                    position: absolute;
                    display: none;
                    background: #490954;
                    padding: 15px;
                    border-radius: 20px;
                    
                    li {
                        display: block;
                    }
                
                }

            }
        }
    }
}