//Utility - Fonts
$font: arial;
$font-sec: verdana;
$font-ter: calibri;

//utility - colours

//bg-colours
$bg-main: gray;
$bg-main: #99dfef;
$bg-primary: darkmagenta;

//text-colours:
$txt-col-primary: white;
$txt-col-secondary: white;
$txt-col-tertiary: #14e448;

//utilities  

    //breakpoints   // xl, lg, md, sm, xs
    $xl: 1900px;
    $lg: 1600px;
    $md: 980px;
    $sm: 780px;
    $xs: 580px;  //dropdown input for mobile screens



//main styles
* {
    padding: 0;
    margin: 0;
}

body {
    background: $bg-main;
    font-family: $font;
}

//header
header {
    background: $bg-primary;
    min-height: 160px;

    article {
        
        display: inline-block;
        width: 30%;
        vertical-align: top;

        padding: 10px;

        @media(max-width: $md) {
            display: block;
            width: 90%;
            text-align: center;
        }

        img {
            
            display: block;
            height: 140px;
            width: 275px;
            margin: 0 auto;
        }

        .title-space {

            color: $txt-col-secondary;
            .main-title {
                font-size: 20pt;
            }
        }

        a {
            font-size: small;
            color: $txt-col-secondary;
            &:hover {
                text-decoration: none;
                color: $txt-col-tertiary;
            }

            &.selected {
                color: $txt-col-primary;
            }
        }    
    
    }

    
    nav.nav-space {
        display: inline-block;
        width: 30%;
        margin-left: 20px;
        padding: 10px;

        @media (max-width: $md) {
            display: block;
            width: 90%;
            text-align: center;
        }

        ul {
            li  {
                display: inline-block;
                margin-left: 20px;
                font-size: 13pt;

                label {
                    color: $txt-col-secondary;
                }

                a {
                    color: $txt-col-secondary;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                        color: $txt-col-tertiary
                    }

                    &.selected {
                        color: $txt-col-tertiary;
                    }

                }

                //dropdown shadwo
                select#inventory {
                    background: radial-gradient(black, transparent);
                    background: lightpink;
                    color: darkblue;
                    height: 33px;
                    border-radius: 17px;
                    box-shadow: springgreen;
                }
            }
        }
    }
}

//main-content
.main-content {
    /*padding: 4px;*/

    width: 100%;

    .intro {

        height: auto;
        display: block;
        margin: 30px auto;
        width: 80%;
        border: saddlebrown;
        border: solid 2px black;

        @media (max-width: $sm) {
            width: 90%;
        }

        h1.page-title {

            text-align: center;
            width: 200px;
            display: block;
            margin: 0 auto;
            width: 30%;
            font-size: 5vw;
        }

        .intro-content {

            display: inline-block;
            width: 30%;
            border: solid red 1px;
            line-height: 2;

            @media(max-width: $xs) {
                display: block;
                margin: 20px auto;
                width: 90%;            
            }

        }
    }

    .sub-content {

        padding-top: 20px;

        h2 {

            text-decoration: underline 3px;
            text-transform: uppercase;
            font-size: 20pt;
            width: 205px;
            width: 50%;
            border: solid blue 2px;
            left: 15px;
            position: relative;

        }

        .sub-content-list {
            li {

                width: 20%;
                display: inline-block;
                position: relative;
                margin: 0 15px;
                overflow: hidden;

                @media (max-width: $lg) {
                    width: 30%;
                }

                @media (max-width: $md) {
                    width: 45%;
                }
                
                @media (max-width: $sm) {
                    width: 90%;
                    margin: 0 auto;
                    text-align: center;
                    display: block;
                }

                .media-img {
                    width: 100%;
                    transition: transform .2s;

                    &:hover {
                        transform:scale(1.2);
                    }
                }

                a.sub-content-title {
                    position: absolute;
                    background: #4a4a4a;
                    color: white;
                    color: lightcoral;
                    color: gold;
                    font-size: 20px;
                    font-size: 12px;
                    text-transform: capitalize;
                    text-decoration: none;
                    bottom: 0;
                    left: 0px;
                    width: 94%;
                    padding: 6px 3%;

                }
            }
        }
    }
}

//footer

footer {
    width: 100%;
    background: $bg-primary;
    min-height: 36px;
    padding-top: 20px;
    margin-top: 20px;
    display: block;

    div {
        text-align: center;
        color: $txt-col-primary;

        a {
            color: white;
        }
    }
}