*{
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    height: 95px;
}

.container {
    /*display: grid;*/
    display: block;
    width: 90%;
    /*grid-template-columns: 1fr 1fr;*/
}

.coming-img {
    width: 90%;
    margin: 0 auto;
    display: block;
    box-shadow: inset;
    border-radius: 20px;
}

.intro {
    /* width: 100%; */
    width: 45%;
    display: block;
    display: inline-block;
    font-size: 35px;
    padding: 19px;
    /* display: grid;*/
}

.container h2 {
    width: 100%;
    text-align: center;
}

.btn {
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    color: black;
    background: white;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    top: 25px;
}

/*Menu Styling*/
#mySideNav {
    border: solid red 1px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .menu ul li {
    display: block;
    margin: 30px 0;
}

.sidenav .menu ul li a {
    color: white;
}
.sidenav .menu ul li a:hover {
    text-decoration: none;
}


.close_menu {
    /* padding: 20px; */
    margin: 15px;
    /* background: white; */
    color: red;
    position: relative;
    background: white;
    font-size: 20pt;
    right: 10px;
    left: 100px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: block;
    text-align: center;
    border-radius: 34%;
}


.ham {
    content: "&nbsp;";
    font-size: 40pt;
    cursor: pointer;
    position: fixed;
    /* left: 50%; */
    left: 10px;
    top: 25px;

}

/*Intro Page Slider*/
.slick-slide.slick-current.slick-active {
    /* width: 41%; */
    display: block;
    margin: 0 auto;
}

.slick-list.draggable {
    width: 79%;
}

.slick-slider {
    display: inline-block;
    vertical-align: top;
}

.intro-showreel {
    border: solid red 1px;
    /* display: block; */
    /* display: inline; */
    margin: 0 auto;
    width: 40%;

}

footer p {
    text-align: center;
}

/*Main Animal slider*/

header {
    background: beige;
    color: purple;
}

.animals-slider,
.people-slider,
.buildings-slider,
.landscapes-slider,
.misc-slider {
    border: solid red 1px;
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
}

.animals-slider div,
.people-slider div,
.buildings-slider div,
.landscapes-slider div,
.misc-slider div {
    display: inline-block;
}

.thumbnails {
    width: 25px;
    width: 300px;
    width: 125px;
}

/*Breakpoints*/

@media screen and (max-width: 480px) {

    .ham {
        left: 0;
        right: 20px;
    }

    .thumbnails {
        width: 140px;
    }

}