*{
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.coming-img {
    width: 28%;
    margin: 0 auto;
    display: block;
}

/*Intro Page Slider*/
.slick-slide.slick-current.slick-active {
    /* width: 41%; */
    display: block;
    margin: 0 auto;
}

/*Main Animal slider*/
.animal-slider {
    border: solid red 1px;
    display: block;
    margin: 0 auto;
    width: 70%;
}

.animals {
    width: 25px;
    width: 300px;
}