*{
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
}

.coming-img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.intro {
    /*width: 100%;*/
    width: 95%;
    display: block;
    font-size: 35px;
    padding: 19px;
    display: grid;
}

.intro h2 {
    width: 100%;
    text-align: center;
}

.btn {
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    color: black;
    background: white;
    text-decoration: none;
}

/*Menu Styling*/
#mySideNav {
    border: solid red 1px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .menu ul li {
    display: block;
    margin: 10px 0;
}

.sidenav .menu ul li a {
    color: white;
}
.sidenav .menu ul li a:hover {
    text-decoration: none;
}


.close_menu {
    padding: 20px;
    margin: 15px;
    /* background: white; */
    color: red;
    position: relative;
    /* right: 10px; */
    left: 100px;
    cursor: pointer;
}


.ham {
    content:  "&nbsp;";
    font-size: 40pt;
    cursor: pointer;

}

/*Intro Page Slider*/
.slick-slide.slick-current.slick-active {
    /* width: 41%; */
    display: block;
    margin: 0 auto;
}

.intro-showreel {
    border: solid red 1px;
    /* display: block; */
    display: inline;
    margin: 0 auto;
    width: 79%;

}

/*Main Animal slider*/

header {
    background: beige;
    color: purple;
}

.animals-slider,
.people-slider,
.buildings-slider,
.landscapes-slider,
.misc-slider {
    border: solid red 1px;
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
}

.animals-slider div,
.people-slider div,
.buildings-slider div,
.landscapes-slider div,
.misc-slider div {
    display: inline-block;
}

.animals {
    width: 25px;
    width: 300px;
    width: 100px;
}

/*Breakpoints*/