/*local storage - css*/

* {
    padding: 0;
    margin: 0;

}

body {

    header {

        h1 {
            text-align: center;
        }

    }

    .wrapper {

        margin: 0 auto;
        display: block;
        width: 75%;
        border-right: solid black 2px;
        border-left: solid black 2px;
        padding: 0 15px;

        p {
            margin-bottom: 10px;
        }
    }

    /*Form*/
    .main_form {

        width: 100%;
        margin: 0 auto;
        width: 40%;

        label {
            width: 30%;
            /* width: 400px; */
            display: inline-block;
        }

        .input_form {
            padding: 12px 5px;
            width: 300px;
            width: 100%;
            border-radius: 5px;

        }
        
        .input_result {
            color: red;
            margin-bottom: 25px;
        }

       
    }

    .localstorage-form-buttons {
        text-align: center;
    }


    .btnShow,
    .btnClear {
        display: inline-block;
        margin: 0 auto;
        width: 30%;
        padding: 20px;
        background: #c8f6b0;
        font-style: inherit;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 12pt;

        cursor: pointer;

    }

    
    .submit {
        padding: 10px;
        width: 150px;
        width: 102%;
    }
}