/*local storage - css*/
:root,
[data-theme=theme-option-one] {
  --theme---option--body-bg: #ffffff;
  --theme---option--input-bg: #ffffff;
  --theme---option--input-bg-hvr: #fffea4;
  --theme---option--btn-bg: #ffffff;
  --theme---option--btn-bg-hvr: #fffea4;
}

[data-theme=theme-option-two] {
  /* --theme---option--body-bg: #ff9595; */
  --theme---option--body-bg: #ffcaca;
  --theme---option--input-bg: #ffcaca;
  --theme---option--input-bg-hvr: #f08f8f;
  --theme---option--btn-bg: #ffcaca;
  --theme---option--btn-bg-hvr: #f08f8f;
}

[data-theme=theme-option-three] {
  --theme---option--body-bg: #ffff80;
  --theme---option--input-bg: #ffff80;
  --theme---option--input-bg-hvr: #fffc53;
  --theme---option--btn-bg: #ffff80;
  --theme---option--btn-bg-hvr: #fffc53;
}

[data-theme=theme-option-four] {
  --theme---option--body-bg: #a8bfff;
  --theme---option--input-bg: #a8bfff;
  --theme---option--input-bg-hvr: #6c91f7;
  --theme---option--btn-bg: #a8bfff;
  --theme---option--btn-bg-hvr: #6c91f7;
}

[data-theme=theme-option-five] {
  --theme---option--body-bg: #bbff8e;
  --theme---option--input-bg: #bbff8e;
  --theme---option--input-bg-hvr: #41f54a;
  --theme---option--btn-bg: #bbff8e;
  --theme---option--btn-bg-hvr: #41f54a;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-family: "calibri", sans-serif;
  font-family: "helvetica", sans-serif;
  font-family: "calibri", sans-serif;
  font-size: 16px;
  font-size: 16px;
  background: var(--theme---option--body-bg);
  /* Form */
}
body header h1 {
  text-align: center;
  font-size: 32px;
  margin: 6px auto;
}
body .theme---options--wrapper {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  visibility: visible;
  /* position: fixed; */
  /* top: 0; */
  /* opacity: 0; */
}
body .theme---options--wrapper h2 {
  margin: 0 0 8px 0;
}
body .theme---options--wrapper .theme-options {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
body .theme---options--wrapper .btn-theme-option {
  display: inline-block;
  /* margin: 0 auto; */
  margin: 0 5px;
  /* width: 100%; */
  min-width: 60px;
  width: auto;
  padding: 6px;
  border-radius: 6px;
  border: solid 1px black;
  /* background: #c8f6b0; */
  background: white;
  text-decoration: none;
  font-size: 12pt;
  transition: background 0.3s ease-in-out;
}
body .theme---options--wrapper .btn-theme-option:hover {
  background: #fffea4;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-system {
  color: black;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-red {
  background: #ff4d4d;
  color: white;
  transition: background 0.3s ease-in-out;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-red:hover {
  background: #ff8080;
  background: #ff8080;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-yellow {
  background: #fff34a;
  background: #fff34a;
  color: #534e4e;
  transition: background 0.3s ease-in-out;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-yellow:hover {
  background: #fff67d;
  background: #fff67d;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-blue {
  background: #11a5e4;
  color: #222020;
  color: white;
  transition: background 0.3s ease-in-out;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-blue:hover {
  background: #38b9f0;
  background: #38b9f0;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-green {
  background: #32ff54;
  color: #302e2e;
  transition: background 0.3s ease-in-out;
}
body .theme---options--wrapper .btn-theme-option#btn-theme-option-green:hover {
  background: #65ff7f;
  background: #65ff7f;
}
body .wrapper {
  margin: 0 auto;
  display: block;
  width: 75%;
  border-right: solid black 2px;
  border-left: solid black 2px;
  padding: 0 15px;
}
body .wrapper p {
  text-align: center;
  margin-bottom: 10px;
}
body .form---input--wrapper .main_form {
  width: 100%;
  margin: 12px auto;
  width: 40%;
}
@media (max-width: 680px) {
  body .form---input--wrapper .main_form {
    width: 85%;
  }
}
body .form---input--wrapper .main_form label {
  width: 30%;
  /* width: 400px; */
  display: inline-block;
  margin: 12px 0;
}
body .form---input--wrapper .main_form .input_form {
  background: white;
  background: var(--theme---option--input-bg);
  padding: 12px 5px;
  /* width: 300px; */
  width: 100%;
  font-size: 14pt;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}
body .form---input--wrapper .main_form .input_form:hover {
  background: #fff393;
  background: var(--theme---option--input-bg-hvr);
}
body .form---input--wrapper .main_form .input_result {
  height: 10px;
  color: red;
  margin-bottom: 25px;
  margin: 12px 0;
}
body .form---input--wrapper .localstorage-form-buttons {
  text-align: center;
}
body .form---input--wrapper .formBtn {
  display: inline-block;
  margin: 7px 15px;
  min-width: 100px;
  width: auto;
  padding: 6px;
  border-radius: 6px;
  border: solid 1px black;
  background: #c8f6b0;
  background: white;
  background: var(--theme---option--btn-bg);
  /* text-transform: uppercase; */
  font-weight: bold;
  /* font-size: $font--size--btn; */
  transition: background 0.3s ease-in-out;
}
body .form---input--wrapper .formBtn:hover {
  background: #fffe93;
  background: var(--theme---option--btn-bg-hvr);
  cursor: pointer;
}
body .form---input--wrapper .btnShow,
body .form---input--wrapper .btnClear {
  cursor: pointer;
}
body .form---input--wrapper .submit {
  padding: 10px;
  width: 150px;
  width: 102%;
}

/*# sourceMappingURL=style.css.map */
