/*BREAKPOINTS*/
* {
  padding: 0;
  margin: 0; }

body {
  background: url("../img/balloon-over-bath1.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: arial;
  color: white; }

header {
  background: #d88282;
  height: 160px;
  color: white;
  border-bottom: red 6px solid; }
  header div {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    position: relative;
    top: 50px; }
    @media (max-width: 780px) {
      header div {
        text-align: center; } }
  header img.header-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: left;
    margin: 10px; }
    @media (max-width: 780px) {
      header img.header-image {
        margin-top: 40px; } }
  header nav .main-nav {
    display: block;
    position: relative;
    text-align: right;
    margin-right: 20px;
    top: 95px; }
    @media (max-width: 780px) {
      header nav .main-nav {
        top: 65px;
        text-align: left;
        font-size: 3vw; } }
    header nav .main-nav li {
      display: inline-block;
      margin-left: 15px; }
      @media (max-width: 480px) {
        header nav .main-nav li {
          margin-left: 5px; } }
    header nav .main-nav a {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none; }
      header nav .main-nav a:hover {
        text-decoration: none; }

section {
  width: 100%; }
  section div.intro {
    width: 50%;
    margin: 0% auto;
    padding: 15% 0;
    line-height: 1.7; }
    @media (max-width: 780px) {
      section div.intro {
        width: 60%; } }
    @media (max-width: 480px) {
      section div.intro {
        width: 90%; } }
    section div.intro p {
      line-height: 2;
      padding: 15px 0px; }
    section div.intro .link {
      font-size: 10px;
      color: white; }
  section section.balloon-content {
    display: flex;
    width: 98%;
    margin: 0 auto; }
    @media (max-width: 740px) {
      section section.balloon-content {
        display: block; } }
    section section.balloon-content h2 {
      font-size: 49px; }
    section section.balloon-content p {
      line-height: 1.9; }
    section section.balloon-content div.video {
      display: block;
      width: 400px;
      min-height: 200px;
      margin: 0 auto;
      /*media query 740px*/ }
      @media (max-width: 740px) {
        section section.balloon-content div.video {
          width: 95%; } }
      section section.balloon-content div.video video, section section.balloon-content div.video img {
        width: 100%; }
    section section.balloon-content div.stock-images {
      display: block;
      width: 30%;
      min-height: 200px;
      margin: -20px auto;
      /*media query 740px*/ }
      @media (max-width: 740px) {
        section section.balloon-content div.stock-images {
          width: 95%; } }
      section section.balloon-content div.stock-images ~ p {
        font-weight: bold;
        position: relative;
        font-size: 20pt;
        right: 147px; }
    section section.balloon-content div.gallery {
      display: block;
      width: 30%;
      min-height: 200px;
      margin: -20px auto;
      /*media query 740*/ }
      @media (max-width: 740px) {
        section section.balloon-content div.gallery {
          width: 95%; } }
      section section.balloon-content div.gallery ~ p {
        font-weight: bold;
        position: relative;
        font-size: 20pt;
        right: 147px; }
    section section.balloon-content .slick-next {
      /*position: relative;*/
      right: 5px;
      z-index: 1000; }
    section section.balloon-content .slick-prev {
      position: relative;
      left: 5px;
      z-index: 1000; }

aside ul li {
  color: green;
  font-weight: bold; }

footer {
  background: #d88282;
  margin-top: 20px; }
  footer p {
    padding: 20px 0;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center; }
    footer p a {
      letter-spacing: 2pt; }

/*

Breakpoints:

740px


*/

/*# sourceMappingURL=main.css.map */
