/* 

Last Update: 16-03-2022 - 13:02
*/
* {
  padding: 0;
  margin: 0; }

body {
  background: url("../img/balloon-over-bath1.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: arial;
  color: white;
  margin: 0;
  overflow-x: hidden;
  /*solves issue of horizontal scrolllbar on mouseover*/ }

header {
  background: #da4848;
  height: 160px;
  color: white;
  border-bottom: #f59f9f 6px solid; }
  header div {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    position: relative;
    top: 50px; }
    @media (max-width: 1124px) {
      header div {
        text-align: center; } }
    @media (max-width: 680px) {
      header div {
        position: relative;
        top: 10px; } }
  header img.header-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: left;
    margin: 10px;
    position: relative;
    bottom: 20px; }
    @media (max-width: 1124px) {
      header img.header-image {
        margin-top: 65px; } }
  header nav .main-nav {
    display: block;
    position: relative;
    text-align: right;
    margin-right: 20px;
    top: 95px; }
    @media (max-width: 1124px) {
      header nav .main-nav {
        top: 65px;
        text-align: left;
        font-size: 3vw; } }
    header nav .main-nav li {
      display: inline-block;
      margin-left: 15px; }
      @media (max-width: 680px) {
        header nav .main-nav li {
          margin-left: 5px; } }
    header nav .main-nav a {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none; }
      header nav .main-nav a:hover {
        text-decoration: underline; }

section {
  width: 100%; }
  @media (min-width: 1470px) {
    section {
      width: 1283px;
      margin: 0 auto; } }
  section div.intro {
    width: 50%;
    margin: 0% auto;
    padding: 15% 0;
    line-height: 1.7; }
    @media (max-width: 1124px) {
      section div.intro {
        /* width: 60%; */ } }
    @media (max-width: 680px) {
      section div.intro {
        /* width: 65%; */ } }
    @media (max-width: 680px) {
      section div.intro h1 {
        text-align: center; } }
    section div.intro h2 {
      margin-top: 16pt; }
    section div.intro p {
      line-height: 2;
      padding: 15px 0px; }
    section div.intro .link {
      font-size: 10px;
      color: white; }
  section section.featured-video {
    display: block;
    display: block; }
    section section.featured-video h2 {
      text-align: center; }
    section section.featured-video div.video {
      display: block;
      /* width: 400px; */
      width: 29px;
      width: 400px;
      min-height: 200px;
      margin: 20px auto; }
      @media (max-width: 1124px) {
        section section.featured-video div.video {
          width: 65%; } }
      @media (max-width: 680px) {
        section section.featured-video div.video {
          width: 75%; } }
      section section.featured-video div.video video, section section.featured-video div.video img {
        width: 100%;
        border: solid #f59f9f 3px;
        border-radius: 5px; }
  section section.balloon-content {
    display: flex;
    width: 98%;
    margin: 5% auto; }
    @media (max-width: 1124px) {
      section section.balloon-content {
        display: block; } }
    section section.balloon-content h2 {
      font-size: 49px; }
    section section.balloon-content p {
      line-height: 1.9; }
    section section.balloon-content div.stock-images {
      display: block;
      width: 30%;
      min-height: 200px;
      margin: 20px auto;
      cursor: pointer;
      /*media query 740px*/ }
      @media (max-width: 1124px) {
        section section.balloon-content div.stock-images {
          width: 95%; } }
      section section.balloon-content div.stock-images ~ p {
        font-weight: bold;
        position: relative;
        font-size: 20pt;
        right: 147px; }
    section section.balloon-content div.gallery {
      display: block;
      width: 30%;
      min-height: 200px;
      margin: 20px auto;
      cursor: pointer;
      /*media query 740*/ }
      @media (max-width: 1124px) {
        section section.balloon-content div.gallery {
          width: 95%; } }
      section section.balloon-content div.gallery ~ p {
        font-weight: bold;
        position: relative;
        font-size: 20pt;
        right: 147px; }
    @media (max-width: 680px) {
      section section.balloon-content div.draggable .slick-slide div {
        display: block;
        width: 75%;
        margin: 0 auto; } }
    section section.balloon-content div.draggable .slick-slide div img {
      border: solid #f59f9f 3px;
      border-radius: 5px; }
    section section.balloon-content .slick-next {
      /*position: relative;*/
      right: 5px;
      z-index: 1000; }
    section section.balloon-content .slick-prev {
      position: relative;
      left: 5px;
      z-index: 1000; }

footer {
  background: #da4848;
  margin-top: 20px;
  border-top: #f59f9f 6px solid;
  font-size: 12px; }
  footer p {
    padding: 20px 0;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center; }
    footer p a {
      letter-spacing: 1pt;
      /**/
      color: #ffffff; }
      footer p a:hover {
        text-decoration: none; }

/*# sourceMappingURL=main.css.map */
