.gallery-one div p {
  display: block;
  height: 30px;
  padding: 1px 0;
  border-radius: 15px;
  background: grey;
  color: black;
  border: solid red 3px;
  width: 90%;
  margin: 20px 1%;
  text-align: center; }

* {
  padding: 0;
  margin: 0; }

body {
  background: lightgray;
  font-family: verdana;
  color: black; }

/************
HEADER
************/
header {
  width: 100%;
  background: purple;
  min-height: 150px;
  border-bottom: lightpink 3px solid;
  margin: 0 auto;
  color: white; }

header img {
  display: block;
  margin: 0 auto; }

header h1 {
  text-align: center; }

main {
  width: 90%;
  display: block;
  margin: 0 auto; }
  @media (min-width: 1400px) {
    main {
      width: 1244px; } }

/*****************
SECTION: INTRO
******************/
.intro-section {
  display: block;
  margin: 15pt auto;
  width: 40%; }
  @media (max-width: 680px) {
    .intro-section {
      width: 70%; } }

.intro-section h2 {
  text-align: center;
  margin-bottom: 25px; }

.intro-section p {
  line-height: 1.6; }

/*****************
SECTION: GALLERY ONE
******************/
.gallery-one {
  width: 80%;
  margin: 0 auto; }

.gallery-one div {
  display: inline-block;
  width: 30%; }
  @media (max-width: 980px) {
    .gallery-one div {
      width: 49%; } }
  @media (max-width: 680px) {
    .gallery-one div {
      width: 80%;
      margin: 0 auto;
      display: block; } }

.gallery-one h2 {
  width: 100%; }

img.image {
  width: 95%;
  display: inline-block; }
  @media (max-width: 980px) {
    img.image {
      width: 100%; } }

/*****************
SECTION: GALLERY TWO
******************/
.gallery-two {
  width: 80%;
  margin: 0 auto; }

.gallery-two h2 {
  width: 100%; }

ul li {
  display: inline-block;
  width: 30%; }
  @media (max-width: 980px) {
    ul li {
      width: 49%; } }
  @media (max-width: 680px) {
    ul li {
      width: 80%;
      margin: 0 auto;
      display: block; } }

ul li img {
  width: 95%;
  position: relative; }
  @media (max-width: 980px) {
    ul li img {
      width: 100%; } }

/*****************
SECTION: GALLERY THREE
******************/
.gallery-three {
  width: 80%;
  margin: 0 auto; }
  .gallery-three h2 {
    width: 100%; }
  .gallery-three ul li {
    display: inline-block;
    width: 32%;
    position: relative;
    overflow: hidden;
    border: solid red 1px; }
    @media (max-width: 980px) {
      .gallery-three ul li {
        width: 49%; } }
    @media (max-width: 680px) {
      .gallery-three ul li {
        width: 80%;
        margin: 0 auto;
        display: block; } }
    .gallery-three ul li .photo {
      display: block; }
      .gallery-three ul li .photo .caption {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: black;
        padding: 9px;
        transition: opacity, .9s;
        /* display: block; */
        /* overflow: hidden; */ }
        @media (max-width: 980px) {
          .gallery-three ul li .photo .caption {
            width: 100%; } }
        .gallery-three ul li .photo .caption:hover {
          opacity: 0.7;
          transition: opacity, .9s;
          color: white; }
        .gallery-three ul li .photo .caption h3 {
          margin-bottom: 15px; }
        .gallery-three ul li .photo .caption p {
          width: 100%;
          line-height: 1.7; }
        .gallery-three ul li .photo .caption a {
          color: white; }
          .gallery-three ul li .photo .caption a:hover {
            text-decoration: none; }
    .gallery-three ul li img {
      width: 100%;
      position: relative; }
      @media (max-width: 980px) {
        .gallery-three ul li img {
          width: 100%; } }

footer {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
