/* Last Updated: 24/08/2023 - 09:02 */

$bg-body: lightblue;
$bg-header: blue;
$bg-tasklist: greenyellow;

$bg-border-bottom: darkblue;

$col-primary: black;
$col-secondary: white;

$font-main: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$font-size-md: 12pt;
$font-size-sm: 12px;