//breakpoints
$sm: 320px; 
$md: 780px;
$lg: 980px;
$xl: 1200px;

//buttons
%prices-button {
    background: $jonniegrieve;
    border: solid $digitalmedia 2px;
    padding: 10px;
    color: $digitalmedia;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin: 20px auto;
    font-size: 18px;

    &:hover {
        background: $digitalmedia;
        color: $jonniegrieve;
        border: solid $jonniegrieve 2px;
    }

    @media (max-width: $md) {
        width: 90%;
        display: block;
    }
}

%submit_btn {
    background: $jonniegrieve;
    border: solid $digitalmedia 1px;
    color: black;
    font-weight: bold;
    border-radius: 15px;

    &:hover {
        background: lighten($jonniegrieve, 10%);
    }
}

%services-images-size {
    width: 250px;
    height: 250px;
}

%sections {    
    color: black;
    font-weight: bold;
    padding: 10vh 0 10px 10px;
}
