/* Universal selector */
* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    font-family: "Gotham Rounded", sans-serif;
    font-family: $font;
}

/* Shared styles */
body {
    
    /*display: flex;*/
    background-color: $bg-main;
    
    header {
        
        background-color: $bg-main;
        width: 100%;
        box-shadow: #0a3b85 0px -4px 12px 7px
        
    }
    
}