/* _main.scss */


:root {
    
    
  --primary-color: lightblue;
  --main-color: #d7fdff;
  --button-bg: #6ff2ff;
  --test-variable: lightblue;
  --border-color: #1313a1;
  --theme-two: lightblue;
  --theme-three: lightblue;
  --testVariable: red;
}

body {
    
    
    // TODO: customise main background
    background: var(--primary-color);
    font-family: arial;
}

header {
    
    h1 {
        
        text-align: center;
    }
}

aside#style_buttons {
    
    display: block;
    width: 90%;
    /* background: #777777; */
    // TODO: customise ... colour
    color: aqua;
    text-align: center;  
    /* border: solid blue 1px; */
    margin: 12pt auto;
    
    button {
        
        display: inline-block;
        width: auto;
        // TODO: customise ... colour
        color: black;
        padding: 8px;
        border: solid 2px black;
        // TODO: customise button background:
        background: var(--button-bg);
        cursor: pointer;
    }
}

#reset-link-container {
    
    display: block;
    text-align: center;
    margin: 0 auto;
    
    a {
        
        color: red;
        font-weight: bold;
    }
}


section#main_content {
    
    display: block;
    margin: 0 auto;
    width: 90%;  
    border-radius: 7px;
    // TODO: customise main_content background
    background: var( --main-color );
    border: solid var( --border-color ) 2px;
    font-weight: normal;
    font-size: 12px;
    
    p {
        
        padding: 7px;
        
    }
}

footer {
    
    text-align: center;
    
    p {
        
        text-align: center;
    }
}
