/***
Colours: 
*/
$header-txt-col: white;
$header-bg-col: purple;
$border-col: lightpink;

$main-bg-col: lightgray;
$main-txt-col: black;

$btn-bg-col: white;


/***
Breakpoints: 
*/
$desktop: 1400px;
$md: 980px;
$sm: 680px;

/**
Fonts: 
*/

$main-font: verdana;