//Colours: 
$header-txt-col: white;
$header-bg-col: #585358;
$border-col: #ffffff;

$main-bg-col: lightgray;
$main-txt-col: black;

$btn-bg-col: white;

$intro-link-col: darkred;
$intro-link-selected: $main-txt-col;

//Breakpoints: 
$desktop: 1400px;
$md: 980px;
$sm: 680px;


//Fonts: 
$main-font: verdana;

//Buttons
%gal-one-btn {
    display: block;
    height: 30px;
    padding: 5px 0;
    border-radius: 15px;
    background: grey;
    color: white;
    border: solid black 3px;
    width: 90%;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background: lighten(grey, 10%);
    }
}