

/*****************
SECTION: GALLERY THREE
******************/


.gallery-three {
    width: 80%;
    margin: 0 auto;

    h2 {
        width: 100%;
    }
    
    ul li  {
        display: inline-block;
        width: 30%;
        position: relative;
        overflow: hidden;

        @media(max-width: $md) {
            width: 49%;
        }
        @media(max-width: $sm) {
            width: 80%;
            margin: 0 auto;
            display: block;
        }

        .caption {
            width: 89%;
        
            @media(max-width: $md) {
                width: 100%;
            }
        
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background: black;
            padding: 9px;
            transition: opacity, .9s;

            &:hover {
                opacity: 0.9;
                transition: opacity, .9s;
                color: white;
            }
            
        }
        

    }
    
}



ul li 
ul li .caption:hover{
   
}