* {
    padding: 0;
    margin: 0;
}

body {
    background: $main-bg-col;
    font-family: $main-font;
    color: $main-txt-col;
}

/************
HEADER
************/
header {
    width: 100%;
    background: $header-bg-col;
    min-height: 150px;
    border-bottom: $border-col 5px solid;
    margin: 0 auto;
    color: $header-txt-col; 

    img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        background: purple;
        width: 50px;
        height: 50px;
    }

    h1 {
        text-align: center;
    }
}

main {
    width: 90%;
    display: block;
    margin: 0 auto;

    @media(min-width: 1400px) {
        width: 1244px;
    }
}