/*main*/

main#container {

    margin: 0 auto;
    position: relative;
    width: 95%;

    color: $col-primary;
    
    @media (min-width: $xxl) {
        width: 1600px;
    }

    h2 {
        text-align: center;
        margin: 10px 0;
    
    }
}

#container {


    section {
        
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        /* width: 75%; */
        width: 95%;
        margin: 0 auto;

        border: solid red 1px;

        @media (max-width: 840px) {
            display: block;
        }

    }
}

.pagination_buttons {
    text-align: center;
}

.image {

    display: inline-block;

    h2 {
       /*  text-align: center; */
    }
    
    #btn_previous {
        display: inline-block;
    }

    #data_pagination {
        display: inline-block;
        margin: 0 15px;
        font-size: 11px;
        font-weight: bold;
    }

    #btn_next {
        display: inline-block
    }

.pagination_btn {
    padding: 15px;
    background: yellow;
    font-weight: bold;
    color: $col-tertiary;
    cursor: pointer;
    transition: background .4s;

    &:hover {
        background: #fecc06;
    }
}


    img#visible_photo {
        /* width: 70%; */
        /* width: 100%; */
        width: 95%;
        padding: 10px;

        @media( max-width: 860px) {
            display: block;
            margin: 0 auto;
        }
        
    }
}

.photo_data {

    font-family: $font-secondary;
    top: 83px;
    margin: 10px;
    position: relative;

    @media (max-width: 860px) {
        top: 0px;
    }

    div {
        display: inline-block;
        /* width: 40%; */
        width: 46%;
        border: solid yellow 3px;
        margin-top: 15px;
        cursor: pointer;

        @media (max-width: $lg) {
            display: block;
            
            margin-left: 10px;
        }
    }

    div + span {
        margin-left: 10px;
    }

    span {
        display: inline-block;
    }

    
    img#photo_filename {

    }

    img#photo_date {

    }

    img#photo_iso {

    }

    img#photo_aperture {

    }

    img#photo_shutter {

    }

    img#photo_focalLength {

    }

    img#photo_description {

    }

    #photo_filename + span,
    #photo_date + span,
    #photo_iso + span,
    #photo_aperture + span,
    #photo_shutter + span,
    #photo_focalLength + span {
        color: $col_secondary;
        font-size: 12px;
    }


    #photo_description + span {
        color: $col_secondary;
        margin-top: 10px;
        padding: 15px;
    }

}


/* header

main_title
btn_previous
btn_next
date_pagination
pagination_btn
#page_no
#num_pages

img.visible_photo

photo_filename
photo_date
photo_iso
photo_aperture
photo_shutter
photo_focalLength
photo_description

footer */
