
@import "utilities/head";
@import "utilities/breakpoints";
@import "utilities/colours";
@import "utilities/font";

@import "inc/header";
@import "main";
@import "inc/footer";



* {
    padding: 0;
    margin: 0
}

body {
    background: $bg-primary;
}