Redirect 301 "https://me.jonniegrieve.co.uk/index.html" "https://me.jonniegrieve.co.uk/coming.html"

# Redirect 301 "index.html" "coming.html"

# Redirect 301 "/am_consulting/index.html" "/am_consulting/offline.html"