/* Last Update 01-12-2021 - 15:25 */

@import "sass/partial";

* {

    margin: 0;
    padding: 0;
}

body {

    font-family: calibri;
    background: $bg-primary;
    overflow: hidden;
}

header {

    position: relative;
    top: 0;
    width: 100%;
    background: $bg-secondary;
    height: 50px;
    border-bottom: $bdr-primary 3px solid;

    h1 {

        text-align: center;
    }

}

.wrapper {

    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: auto; */
    perspective: 2px;

    

    .section { 

        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* align-items: start; */
        justify-content: center;
        /* width: 48%; */
        margin: 0 auto;
        color: white;
        padding: 5% 20px;
        text-shadow: 0 0 5px #000;

        @media(max-width: $lg) {

            padding: 10% 20px;
        }

        @media(max-width: $md) {

            height: auto;
        }

        h2, h1 {

            color: $col-primary;

            @media(max-width: $md) {
                text-align: center;
                font-size: 6vw;
                margin: 25px 0;
            }

            a {

                color: $col-link-primary;
            }
        }

        p {

            margin: 10px 0;
            line-height: 1.7;

            @media(max-width: $md) {

                line-height: 1.5;
            }
        }

        a {

            color: $col-link-primary;
        }


    }


    .pages-section {
            
        a {

            color: $col-link-primary;
            padding: 10px;
        }
    }
}


.parallax {
    

    h1 {

        text-transform: uppercase;
    }

    p {

        font-size: $font-size-primary;
    }
}

.parallax::after {

    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-10px) scale(1.5);
    /* background-size: 100%; */
    z-index: -1;
}

.static {
    
    /* background: $bg-secondary; */
    background: $bg-primary;
    font-size: $font-size-tertiary;

    h1#site_title {

        text-align: center;
        width: 100%;
    }

      
    #hello {

        font-size: $font-size-bigtitle;
        margin: 25px 0;
        margin: 10% 0;
        
        a {
            color: $col-primary;
        }

    }

    h1 {

        font-size: $font-size-primary;
    }

    h2 {
        
        font-size: $font-size-primary;
    }

    p {

        
        font-size: $font-size-tertiary;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    
        color: $col-primary;

        @media(max-width: $md) {
            text-align: left;
        }

        a {

            color: $col-link-primary;

            &:hover {
                
                text-decoration: none;
            }
        }
    } 
    
    #effect {
        
        margin-top: 15px;

        font-size: $font-size-tertiary;
        font-weight: bold;
        
        a {

            color: $col-link-primary;

            &:hover {
                
                text-decoration: none;
            }

        }

    }

    p {

        font-weight: bold;
        font-size: $font-size-secondary;    
    }

    // list items 
    ul {

        @media(max-width: $lg) {
            padding: 10px 0;
            padding: 3% 0;
        }

        li {

            line-height: 3;
            list-style: none;

            @media(max-width: $lg) {
                line-height: 2;
            }

            @media(max-width: $md) {

                /* line-height: 1.5; */
                line-height: 2;
            }

        }
    
    }

}

.bg1,
.bg2,
.bg3,
.bg4,
.bg5,
.bg6 {

    h2 {

        text-align: center;
        text-transform: uppercase;

        font-size: $font-size-primary;
    }

    p {

        font-size: $font-size-primary;
        text-align: center;

        @media(max-width: $md) {
            line-height: 1.7;
        }
    }
}


// backgrounds
.bg1::after {

    background: url('img/bg-one.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}
  

.bg2::after {
    
    background: url('img/bg-two.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}

.bg3::after {
    
    background: url('https://jg-photography.s3.eu-west-2.amazonaws.com/photography/images/2021/canon_75_300/birds_in_flight/IMG_1164.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}

.bg4::after {
    
    background: url('https://jg-photography.s3.eu-west-2.amazonaws.com/photography/images/2021/canon_75_300/birds_in_flight/IMG_1167.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}

.bg5::after {
    
    background: url('https://jg-photography.s3.eu-west-2.amazonaws.com/photography/images/2021/canon_75_300/birds_in_flight/IMG_1164.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}

.bg6::after {
    
    background: url('https://jg-photography.s3.eu-west-2.amazonaws.com/photography/images/2021/canon_75_300/birds_in_flight/IMG_1165.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}

.bg7::after {
    
    background: url('https://jg-photography.s3.eu-west-2.amazonaws.com/photography/images/2021/canon_75_300/birds_in_flight/IMG_1179.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}

.bg8::after {
    
    background: url('https://jg-photography.s3.eu-west-2.amazonaws.com/photography/images/2021/canon_75_300/birds_in_flight/IMG_2087.JPG')
    no-repeat center / cover;
    background-position: fixed;
    background-attachment: fixed;
    align-items: center;

    @extend %background-img-styles;
}


