/*Last Update: 26-11-2021 */

* {
    padding: 0;
    margin: 0;
}




body {

    header {

        height: 100px;
        background: #7575eb;
        color: #feeded;
        border-bottom: solid #0b13af 3px;

        h1 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif
        }

    }

    section {

        /* padding: 0 10px; */

        a {

            color: red;
            text-decoration: none;

            &:hover {

                text-decoration: underline;
            }

        }

        h2 {

            text-align: center;
        }

        ul {

            .list-item {

                perspective: 300px;
                scroll-behavior: smooth;
            }

            //backgrounds
            li#history {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;

                /* transform: translateZ(59px) scale(.85); */

                .section-url {

                    text-align: center;
                    padding: 20px 0;
                    background: lightblue;

                    a {
                        color: red;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .section-content {

                    margin: 10% auto;

                    position: relative;
                    padding: 2% 0;
                    transform-style: preserve-3d;

                    .flex-history {

                        margin-top: 10px;

                        div {

                            transform: translateZ(70px) scale(.8);
                            transform-style: preserve-3d;
                            transform-origin: 100% 50%;


                            h2 {

                                color: white;
                                text-align: center;
                               
                            }

                            p {

                                color: white;
                                transform-origin: 0% 50%;
                            }

                            #img_id {

                                width: 250px;
                                border: black 1px solid;
                                transform: translateZ(100px) scale(.67);
                            }
                        }
                    }

                }

                .slide-content, .flex-history, .flex-history div {

                

                    transform-style: preserve-3d;
                }

            }

            li#qualifications {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#interests {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#dyspraxia {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#photography {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#doctorwho {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#webdesign {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#faith {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#gaming {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#sport {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#politics {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#onmymind {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li {

                line-height: 2;
                height: 100vh;

                
                perspective: 300px;
                scroll-behavior: smooth;

                .section-content {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    border: solid black 3px;;
                }

                a {

                    color: red;
                    text-decoration: none;

                    &:hover {

                        text-decoration: underline;
                    }

                }

            }

        }

    }

    footer {
        text-align: center;

        a {
            color: red;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }

    }

}



//Extend background styles 
%bg-styles {
    content: "bg-style";
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}