/*Last Update: 26-11-2021 */

* {
    padding: 0;
    margin: 0;
}




body {

    header {

        height: 100px;
        background: #7575eb;
        color: #feeded;
        border-bottom: solid #0b13af 3px;

        h1 {
            text-align: center;
        }

    }

    section {

        /* padding: 0 10px; */

        a {

            color: red;
            text-decoration: none;

            &:hover {

                text-decoration: underline;
            }

        }

        h2 {

            text-align: center;
        }

        ul {

            //backgrounds
            li#history {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;

                .section-url {

                    text-align: center;
                    padding: 20px 0;
                    background: lightblue;

                    a {
                        color: red;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .section-content {

                    margin: 20% auto;

                    .flex-history {

                        margin-top: 10px;

                        h2 {

                            color: white;
                            text-align: center;
                        }

                        p {
                            color: white;
                        }
                    }
                }

            }

            li#qualifications {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#interests {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#dyspraxia {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#photography {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#doctorwho {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#webdesign {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#faith {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#gaming {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#sport {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li#politics {

                background: url("img/bg-one.JPG");
                @extend %bg-styles;
            }

            li#onmymind {

                background: url("img/bg-two.JPG");
                @extend %bg-styles;
            }

            li {

                line-height: 2;
                height: 100vh;

                .section-content {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    border: solid black 3px;;
                }

                a {

                    color: red;
                    text-decoration: none;

                    &:hover {

                        text-decoration: underline;
                    }

                }

            }

        }

    }

    footer {
        text-align: center;

        a {
            color: red;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }

    }

}



//Extend background styles 
%bg-styles {
    content: "bg-style";
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}