$body-bg: #d3d3d3;

$main-header-bg: #90ee90;
$main-header-col: black;

$section-bg:  #d3d3d3;
$section-col: black;

$nav-link-col: black;
$nav-link-col-hov: gray;
$nav-bg: lightgreen;
$nav-bg-selected: blue;

$background_btn:  black;
$background_col: black