$main-font: arial;
$main-font-two: verdana;
$main-font-three: tahoma;
$main-font-four: calibri;
$main-font-five: 'Roboto', sans-serif;
$main-font-six: 'Oxygen', arial, sans-serif;
$main-font-seven:'Acme', sans-serif;
$main-font-eight: 'Metrophobic', sans-serif;;