
/*MODAL WINDOW STYLE*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    p, h1, h3 {
        color: white;
        line-height: 2.5;
        margin-bottom: 20px;
    }

    ul, ol {
        color: white;
        margin-left: 5px;
        padding-left: 5px;

        li {
            line-height: 1.6;
        }
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #16a054df;
        background-color: $main-header-bg;
        border-radius: 8px;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        width: 45%;

        @media (min-width: $xs) {
            width: 650px;
        }

        @media (max-width: $md) {
            width: 90%;
            width: 75%;
        }
    
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    
        &:hover,
        &:focus {
            color: #ddd1d1;
            text-decoration: none;
            cursor: pointer;
        }
    }
}