
/*SLICK STYLING*/

.slick-slider {

    h3 {
        color: blue;
        /*text-align: left;*/
        text-align: center;
        font-size: 15pt;
    }    

    div.route-slider {

        /* display: inline-block; */
        /* width: 67%; */

        div {

            display: inline-block;
            margin: 0 15px;

            img {
                /*consider original height of image - to be decided*/
                /*width: 180px;*/
                /*width: 130px;*/
                width: 78px; 
                display: inline-block;
        
                @media (max-width: $md) {
                    width: 13%;
                }
        
                @media (max-width: $sm) {
                    width: 10%;        
                }
            }
        }
        
        .slick-list.draggable {

            /*width: 79%;*/
            width: 100%; 
        
            button.slick-prev,        
            button.slick-next {
            
                display: inline-block;
                background: green;
            }
            
        }

        .slick-list {

            button.slick-prev,        
            button.slick-next {
            
                    display: inline-block;
                    background: green;
                }
        }

       
    }
}

/* Slider */
.slick-slide, .slick-current, .slick-active {
    /* width: 41%; */
    display: block;
    margin: 0 auto; 
}

.slick-slide.slick-cloned {
    display: inline-block;
}
  
.slick-slider {
    display: inline-block;
    vertical-align: top; 
}