* {
  padding: 0;
  margin: 0; }

body {
  background: lightgray;
  font-family: Arial;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Allerta', sans-serif;
  font-family: 'Marvel', sans-serif;
  font-family: 'Mali', cursive; }

header {
  width: 100%;
  min-height: 110px;
  background: lightgreen;
  border-bottom: 20px black solid; }
  @media (max-width: 940px) {
    header {
      min-height: 110px; } }
  header h1 {
    text-align: center;
    position: relative;
    top: 20px; }
    @media (max-width: 680px) {
      header h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 4vw;
        top: 0;
        padding-bottom: 15px; } }
  header .key {
    width: 95%;
    text-align: right; }
    header .key h2 {
      width: auto;
      display: inline-block; }
    header .key span#green-complete {
      display: inline-block;
      background: green;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px; }
    header .key span#red-complete {
      display: inline-block;
      background: red;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px; }
    @media (max-width: 1290px) {
      header .key {
        display: block;
        text-align: center;
        position: relative;
        top: 20px; } }

#container {
  position: relative;
  display: flex;
  grid-auto-columns: 1fr 1fr;
  margin: 20px auto;
  line-height: 2.1;
  width: 85%;
  background: #ffd272; }
  @media (max-width: 1080px) {
    #container {
      width: 95%; } }
  @media (max-width: 940px) {
    #container {
      flex-direction: column-reverse;
      width: 80%; } }
  @media (max-width: 680px) {
    #container {
      width: 95%; } }
  #container .project-list {
    border: solid black 1px;
    width: 90%;
    display: block; }
    @media (max-width: 940px) {
      #container .project-list {
        width: 90%;
        margin: 0 auto; } }
    @media (max-width: 680px) {
      #container .project-list {
        font-size: 3vw; } }
    #container .project-list h2 {
      text-align: center; }
    #container .project-list ul {
      list-style-type: none; }
      @media (max-width: 940px) {
        #container .project-list ul {
          margin: 0 auto; } }
    #container .project-list li {
      height: 45px; }
      #container .project-list li em {
        font-weight: bold; }
    #container .project-list .project-status-group {
      float: left;
      margin: 0 5% 0 5%;
      padding: 15px;
      width: 15%; }
    #container .project-list .project-item {
      width: 138%; }
      #container .project-list .project-item img.project-image {
        width: 100%; }
      #container .project-list .project-item .name-and-topic {
        display: inline-block;
        vertical-align: top; }
      #container .project-list .project-item .status {
        border-radius: 50%;
        background: yellow;
        width: 40px;
        height: 40px;
        display: inline-block; }
    #container .project-list span.complete {
      display: inline-block;
      background: green;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px; }
    #container .project-list span.incomplete {
      display: inline-block;
      background: red;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px; }
  #container .main-content {
    width: 33%;
    display: block;
    padding: 20px; }
    @media (max-width: 940px) {
      #container .main-content {
        width: 90%; } }
    @media (max-width: 680px) {
      #container .main-content {
        font-size: 3.5vw; } }
    #container .main-content h2 {
      text-align: center; }
    #container .main-content p {
      line-height: 1.6; }
    #container .main-content a {
      color: red;
      font-weight: bold; }
      #container .main-content a:hover {
        text-decoration: none;
        color: green; }

footer {
  text-align: center; }

/*
breakpoints:

1290px;
940px;
680px;

*/

/*# sourceMappingURL=main.css.map */
