
$body: #fafa75;

$bgcol-primary: #fafa75;
$bgcol-secondary: black;
$bgcol-tertiary: #717171;
$bgcol-tertiary-hov: #a30404;

$col-primary: black;
$col-secondary: black;

$col-link-primary: #a30404;
$col-link-primary-hov: blue;

$caption_txt_color: $col-primary;