$bg---body: #fff;

$col---body: #333;

$col---primary: #333;

$bdr---col--primary: #ddd;
$bdr---col--secondary: $col---primary;

$btn---col---primary: #888;
$btn---col---secondary: $col---primary;

$btn---col--addtask: #0FC57C;
$btn---col--edittask: #eda214;
$btn---col--deletetask: #CF2323;


$col---task--label: #333;
$col---task--editstate: #888;
$col---task--editstate-focus: #333;
$col---task--completed: #888;

$font---main: Lato, sans-serif;


$breakpoint--sm: 580px;

