
/* main app styling */
body {

    background: $bg---body;
    color: $col---body;
    font-family: $font---main;

    h1 {
  
        text-align: center;
    }

    #js-print {
  
        /* display: none; */
        display: block;
        margin: 0 auto;
        width: auto;
        border: solid 1px $col---primary;
        padding: 5px;
        border-radius: 6px;
        color: $col---primary;
        width: 110px;
        text-decoration: none;
        text-align: center;
  
    }  
    
    .container {

        display: block;
        width: 400px;
        margin: 4pc auto 0; 

        @media (max-width: 580px) {

            width: 95%;
        }

        p {


            button {

                // extend button container style
                @extend %button---main;
            }

        }

        ul {
            margin: 0;
            padding: 0;

            li * {
                float: left;
            }

            li, h3 {
                clear:both;
                list-style:none;
            }

            
            /* Task list */
            li {
                overflow: hidden;
                padding: 20px 0;
                border-bottom: 1px solid #eee;

                transition: color .3s ease-in-out;
            }
            li > input[type="checkbox"] {
                margin: 0 10px;
                position: relative;
                top: 15px;
            }
            li > label {
                font-size: 18px;
                line-height: 40px;
                width: 237px;
                padding: 0 0 0 11px;
                color: $col---task--label;

                @media ( max-width: $breakpoint--sm ) {
                    width: 73%;
                }
            }
            li >  input[type="text"] {
                width: 226px;
            }

            li > .delete {

                transition: color .3s ease-in-out;
            
                &:hover {
                    
                    color: $btn---col--deletetask;
                }
            }

            li > .edit {

                transition: color .3s ease-in-out;

                &:hover {

                    color: $btn---col--edittask;
                }

            }

            /* Edit Task */
            li input[type=text] {

                display:none;
            }
            
            li.editMode input[type=text] {

                display:block;
                padding: 11px;

                @media ( max-width: $breakpoint--sm ) {

                    width: 73%;
                }
            }
            
            li.editMode label {

                display:none;

                @media ( max-width: $breakpoint--sm ) {

                    width: 73%;
                }
            }

            input, button {

                outline: none; 
            }

            button {

                // extend button container style
                @extend %button---main;
            }

        }

        /* Heading */
        h3,
        label[for='new-task'] {

            color: $col---primary;
            font-weight: 700;
            font-size: 15px;
            border-bottom: 2px solid $bdr---col--primary;
            padding: 30px 0 10px;
            margin: 0;
            text-transform: uppercase;
        }
        
        input[type="text"] {

            margin: 0;
            font-size: 18px;
            line-height: 18px;
            height: 18px;
            padding: 10px;
            border: 1px solid $bdr---col--primary;
            background: $bg---body;
            border-radius: 6px;
            font-family: $font---main;
            color: $col---task--editstate;
            transition: color .2s ease-in-out;
        }

        input[type="text"]:focus {

            color: $col---task--editstate-focus;
        }
        
        /* New Task */
        label[for='new-task'] {

            display: block;
            margin: 0 0 20px;
        }

        input#new-task {

            float: left;
            width: 318px;

            @media ( max-width: $breakpoint--sm ) {

                width: 95%;

            }
        }

        p > button {

            transition: color .3s ease-in-out;
            
            &:hover {

                color: $btn---col--addtask;
            }

        }        
        
        /* Completed */
        #completed-tasks label {

            text-decoration: line-through;
            color: $col---task--completed;
        }

    }

    footer {

        display: block;
        margin: 15px auto;       

        p {

            display: block;
            margin: 0 auto;
            width: 480px;
            font-size: 10px;

            @media ( max-width: $breakpoint--sm ) {

                width: 95%;
            }

            a {

                color: gray;
                transition: color .3s ease-in-out;

                &:hover {

                    color: #ddd;
                    color: $btn---col--deletetask;
                }


            }

            code {


            }

            span#app---version {

                display: block;
                margin: 5px auto;
                text-align: center;
                font-weight: bold;
                border-top: 2px solid #ddd;
                width: 40px;
            }

        }

    }

}