body .container ul button, body .container p button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
body .container ul button:hover, body .container p button:hover {
  color: #333;
}

p > button:hover {
  color: #0FC57C;
}

/* Last Updated: 12/08/2025 - 13:49 */
/* main app styling */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
body h1 {
  text-align: center;
}
body #js-print {
  /* display: none; */
  display: block;
  margin: 0 auto;
  width: auto;
  border: solid 1px #333;
  padding: 5px;
  border-radius: 6px;
  color: #333;
  width: 110px;
  text-decoration: none;
  text-align: center;
}
body .container {
  display: block;
  width: 400px;
  margin: 4pc auto 0;
  /* Heading */
  /* New Task */
  /* Completed */
}
@media (max-width: 580px) {
  body .container {
    width: 95%;
  }
}
body .container ul {
  margin: 0;
  padding: 0;
  /* Task list */
  /* Edit Task */
}
body .container ul li * {
  float: left;
}
body .container ul li, body .container ul h3 {
  clear: both;
  list-style: none;
}
body .container ul li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  transition: color 0.3s ease-in-out;
}
body .container ul li > input[type=checkbox] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
body .container ul li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
  color: #333;
}
@media (max-width: 580px) {
  body .container ul li > label {
    width: 73%;
  }
}
body .container ul li > input[type=text] {
  width: 226px;
}
body .container ul li > .delete {
  transition: color 0.3s ease-in-out;
}
body .container ul li > .delete:hover {
  color: #CF2323;
}
body .container ul li > .edit {
  transition: color 0.3s ease-in-out;
}
body .container ul li > .edit:hover {
  color: #eda214;
}
body .container ul li input[type=text] {
  display: none;
}
body .container ul li.editMode input[type=text] {
  display: block;
  padding: 11px;
}
@media (max-width: 580px) {
  body .container ul li.editMode input[type=text] {
    width: 73%;
  }
}
body .container ul li.editMode label {
  display: none;
}
@media (max-width: 580px) {
  body .container ul li.editMode label {
    width: 73%;
  }
}
body .container ul input, body .container ul button {
  outline: none;
}
body .container h3,
body .container label[for=new-task] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #ddd;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
body .container input[type=text] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  transition: color 0.2s ease-in-out;
}
body .container input[type=text]:focus {
  color: #333;
}
body .container label[for=new-task] {
  display: block;
  margin: 0 0 20px;
}
body .container input#new-task {
  float: left;
  width: 318px;
}
@media (max-width: 580px) {
  body .container input#new-task {
    width: 95%;
  }
}
body .container p > button {
  transition: color 0.3s ease-in-out;
}
body .container p > button:hover {
  color: #0FC57C;
}
body .container #completed-tasks label {
  text-decoration: line-through;
  color: #888;
}
body footer {
  display: block;
  margin: 15px auto;
}
body footer p {
  display: block;
  margin: 0 auto;
  width: 480px;
  font-size: 10px;
}
@media (max-width: 580px) {
  body footer p {
    width: 95%;
  }
}
body footer p a {
  color: gray;
  transition: color 0.3s ease-in-out;
}
body footer p a:hover {
  color: #ddd;
  color: #CF2323;
}
body footer p span#app---version {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #ddd;
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
