// Config variables 

$bg-main: #3c97cb;

$bg-btn-1: #f59797;
$bg-btn-2: lightgreen;

$bg-item: #e3e6e8;
$bg-item-container: #f5f5f5;

$col-heading: #f5f5f5;
$col-primary: black;
$col-secondary: #323846;
$col-tertiary: #f5f5f5;

$col-btn-bdr: #262c38;


$bkpt-sm: 580px;

$font: "Gotham Rounded", sans-serif;