
$breakpoint---lg: 780px;
$breakpoint---md: 680px;

// body background
$body---bg: steelblue;

$bg---secondary: #e6f8ff;
$bg---tertiary: lightblue;

$bg---tag: #b7f8fb;
$bg---tag--technologies: #ffa587;
$bg---tag--hundred---days--code: #bcff6a;
$bg---tag--achievement: #deff59;

$colour---primary: black;
$colour---secondary: steelblue;
$colour---link: #db0000;
$colour---link--hover: #720808;

$bg---btn--main: $colour---secondary;
$bg---btn--main-hover: darken($bg---btn--main, 10%);

$bttp---link: steelblue;
$bttp---link--hover: #6f47ff;

// border bottom
$border---bottom--color: #858585;

// main navigation colours
$main---nav--color: #fee762;
$main---nav--color--hover: #efcb00;