@import "assets/sass/head";

body {

    background: orange;

    header {

        height: 300px;
        background: black;
        color: white;

        h1 {

        }
    }

    main {

        background: #f3db74;
        /* width: 320px; */
        width: 75%;
        color: black;
        display: block;
        margin: 0 auto;

        h2 {

        }

        .sub-content {

            line-height: 1.6;
            padding: 10px;
            margin: 15pt 0;

            p {

            }

            h3 {

                text-align: center;
                margin-top: 20pt; 
                
            }

            .checklist-item {

                width: 100%;
                border: solid #f3db74 3px;

                &.selected {

                    background: lightgreen;
                    width: 100%;
                    border-bottom: solid green 3px;
                }

                label {

                    font-weight: bold;
                    /* border: solid #05a905 1px; */
                    
                    display: inline-block;
                    /* width: 50%; */
                    width: 28%;
                    padding: 20px 5px;
                    cursor: pointer;                   

                    &.selected {

                        border-right: solid #05a905 1px;
                    }

                }       
                

                input[type="checkbox"] {

                    border: solid red 1px;
                    display: inline-block;
                    width: 15%;
                    height: 30px;
                    vertical-align: -webkit-baseline-middle;
                    position: relative;
                    bottom: 6px;
                    cursor: pointer;
                }

                .checkbox-style {

                    color: red;

                }

                .checkbox-text {

                    font-weight: bold;    
                    /* width: 5%; */
                    width: 30%;
                    display: inline-block;
                }

            }

        }

    }

    footer {

        text-align: center;
    }
}