{% extends "base.twig" %}

{% block title %}Contact.twig {% endblock %}

{% block content %}

<h1>This is the contact page</h1>

{% endblock %}

{% block footer %}
    <footer>
        <p>&copy; {{ "now"|date('Y') }} Jonnie Grieve Digital Media</p>
    </footer>

    </body>
    </html>

{% endblock %}