@import "sass/config";

// EXTENDS

// buttons
@import "sass/extends/buttons/btn-add-task";
@import "sass/extends/buttons/btn-clear-tasks";
@import "sass/extends/buttons/btn-edit-task";
@import "sass/extends/buttons/btn-remove-task";

// inputs 
@import "sass/extends/inputs/input-text-newtask";
@impoty "sass/extends/inputs/input-chkb-filter";
@import "sass/extends/inputs/input-chkb-completed";

* {
    margin: 0;
    padding: 0;
}

body {
    
    background: $bg-body;
    
    //v4
    header {
        
        text-align: center;
        display: block;
        width: 100%;
        
        background: $bg-header;
        color: $col-secondary;
        font-family: $font-main;
        margin-bottom: 20px;
        border-bottom: $bg-border-bottom solid 5px;
        height: 100px;            
        
        h1 {

            text-align: center;
            margin: 0;

            #versioning {

                color: red;
                color: #fff708;
                font-size: $font-size-sm;
            }
        }
        
        .version_list {
            
            li {
                
                list-style: none;
                display: inline-block;
                margin-left: 4px;
                
                a {
                    
                    color: yellow;
                    
                }
            }
        }
        
    }
    
    h1 {
        
        text-align: center;
    }
    
    .instruction {
        
        text-align: center;
        font-style: italic;
    }
    
    .input-tasks {
        
        text-align: center;
    
        #taskInput {

            display: inline-block;
            margin: 0 auto;
            border: solid 2px black;
            border-radius: 6px;
            padding: 3px;
            background: lightgreen;
        }


        #addTaskButton {

            // TODO: style addTask button
            display: inline-block;
            background: yellow;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
        }
        
        #clearTasksButton {
            
            // TODO: style addTask button
            display: inline-block;
            background: yellow;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
            
        }
    }
        
        
    .toggle-completedtasks {

        display: block;
        margin: 15px auto;
        text-align: center;
        color: red;    
        font-weight: bold;
        font-size: $font-size-md;
        
        #hideCompletedCheckbox {
            
            width: 75px;
            height: 20px;
            vertical-align: middle;
        }
    }

    .hide-completed-tasks {


    }
    
    .display-list {
        
        border: solid red 1px;
        
        h2 {
            
        }
        
        div {
            
        }
    }
    
    ul#taskList {
        
        font-size: $font-size-md;
        padding: 4px;
        background: $bg-tasklist;
        width: 50%;
        display: block;
        margin: 10px auto;
        border: solid black 3px;
        border-radius: 7px;
        
        li {
            
            line-height: 2;
            height: 50px;
            list-style: none;
            
            span {
                
                /* min-width: 100px; */
                /* min-width: 150px; */
                /* width: auto; */
                /* display: inline-block; */
            }
        }
        
        #task_id {
            
            font-weight: bold;
        }
        
        .removeButton,
        .editButton {
            background: red;
            color: white;
            font-weight: bold;
            padding: 6px;
            border-radius: 10px;
            margin-left: 20px;
            cursor: pointer;
            border: black solid 2px;
            position: relative;
            /* top: -9px; */
            transition: background .3s;
            
            &:hover {
                
                background: lighten(red, 15%);
                
            }
        }        
        
    }
    
}