@import "sass/config";

* {
    margin: 0;
    padding: 0;
}

body {
    
    background: $bg-body;
    
    //v4
    header {
        
        text-align: center;
        display: block;
        width: 100%;
        
        background: $bg-header;
        color: $col-secondary;
        font-family: $font-main;
        margin-bottom: 20px;
        border-bottom: $bg-border-bottom solid 5px;
        height: 100px;            
        
        h1 {

            text-align: center;
            margin: 0;

            #versioning {

                color: red;
                font-size: $font-size-sm;
            }
        }
        
    }
    
    h1 {
        
        text-align: center;
    }
    
    ul#taskList {
        
        font-size: $font-size-md;
    }
    
}