* {
    margin: 0;
    padding: 0;
}

body {
    
    
    
    background: lightblue;
    
    header {
        
        text-align: center;
        display: block;
        width: 100%;
        
        background: blue;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 20px;
        border-bottom: darkblue solid 5px;
        height: 100px;            
        
        h1 {

            text-align: center;
            margin: 0;

            #versioning {

                color: red;
                font-size: 12px;
            }
        }
        
    }
    
    h1 {
        
        text-align: center;
    }
    
}