
/*18-08-2022  - 13:09 */

    #container {

        width: 500px;
        margin: 0 auto;
        display: blockk;
    }

    .story {

        // margin: 4% 0;
        padding: 45% 0;

    }

    .active {
        
        color: red;
    }