/* partial.scss */

$bg-primary: #081156;  //f5264ef
$bg-secondary: #f9f980;

$bdr-primary: darken( $bg-primary, 5% );

$col-primary: #e5f2b6;
$col-link-primary: #ffc37b;


// Fonts
$font-primary: calibri;

// Font Sizes
$font-size-bigtitle: 50pt;
$font-size-primary: 35pt;
$font-size-secondary: 16pt;
$font-size-tertiary: 16px;



// Breakpoints

$desktop-lg: 1900px;

$lg: 980px;
$md: 680px;



// Extends
%background-img-styles {

    /* background-position: fixed; */
    background-attachment: fixed;
    /* align-items: center; */
    /* align-items: left; */

    @media(max-width: $md) {

        background-size: 100% 100%;
    }
}
