* {
    padding: 0;
    margin: 0;
}

body {
    background: #f8e383;
}

header {
    background: black;
    height: 70px;
}

h1 {
    color: white;
    text-align: center;
}

ul {
    display: block;
    margin: 5px auto;
    padding: 0 5px;
}

ul li {
    display: block;
    list-style: none;
    height: 20px 0;
}

ul li a {
    color: red;
    line-height:2
}

ul li a:hover {
    text-decoration: none;
}

article {
    display: block;
    margin: 20px auto;
    width: 60%;
    border: solid black 2px;
}

article h2 {
    text-align: center;
}

article p {
    padding: 5px 5px;
}

article a {
    color: red;
}

article a:hover { 
    text-decoration: none;
}

.status {
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;
    color: orange;
}

@media(max-width: 680px) {

    article {
        width: 95%;
    }
    
}