//background image

%main_bg_props {
    padding: 10px;
    background-origin: border-box;
    background-attachment: revert;
    background-position: top;
    background-repeat-x: repeat;
    background-size: cover;width: 90%;
    display: grid;
    display: block;
    margin: 0 auto;
}


%headings {
    font-size: 16pt;
    padding: 20px;
    background: lightgreen;
    color: white;

}

%content-panels {

    border: 0;

}