//background image

%main_bg_props {
    padding: 10px;
    background-origin: border-box;
    background-attachment: revert;
    background-position: top;
    background-repeat-x: repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
   
    min-height: 900px;
}

//Content Panels
%panel_bg {
    background: lightgreen;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid black;

}


%panel_headings {

    @extend %panel_bg;
    font-size: 16pt;
    color: white;
    color: black;

}

%main-content-panels {

    @extend %panel_bg;
    min-height: 280px;

}

%aside-content-panels {

    @extend %panel_bg;
    background: lightgray;
}


//Input forms

%form_input_styles {    
    border-radius: 4px;
    border: 2px solid black;
    padding: 5px;
}

//Form Button

%form_btn {
    background: yellow;
    padding: 6px;
    cursor: pointer;
    width: 120px;

}

//Nav BG
%nav-bg {
    
    /*padding-top: 15px; */
    padding: 1px;
    height: 33px;
    background: #f6ff64;
    border-radius: 9px;
    width: 65%;
    /* width: 100%; */
    /* text-align: right; */
    /* text-align: center; */
    position: relative;
    /* right: 20px; */
    top: 10px;
    vertical-align: top;
    display: inline-block;

    
    @media (max-width: $md) {
        background: none;
        text-align: center;
        width: 70%;

    }
}