* {
    padding: 0;
    margin: 0;
}

/*font import*/

/*@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");*/

body {
    background: lightblue;
    font-family: verdana;
}

.container {
    width: 900px;
    margin: 0 auto;
    border: solid black 1px;
  }

  header {
      background: #000000;
      height: 50px;

  }

  header nav {
      color: white;
  }

  header nav ul {
      display: block;
  }

  header nav ul li {
      display: inline-block;
  }

  header nav ul li a {
      color: white;
  }

  h1 {
      text-align: center;
      font-family: arial;
  }

  .project {
      margin: 20px; 
      border: solid black 1px;
      display: inline-block;
      width: 250px;
      position: relative;
  }

  .project img {
      width: 100%;
  }

  .project p {
      position: absolute;
      bottom: 0px;
      width: 100%;
      opacity: 0;
  }

  .project p:hover {
      opacity: 1;
  }

  

  .card {

    display: block;
    width: 300px;
    border-radius: 20px;
    background: lightgreen;
  }

  .card img {
      border: solid red 1px;
      display: block;
      width: 50px;
      height: 50px;
      margin: 10px auto;
  }