/*

Simple Grid
Repeat Notation
Nested Grid


Grid Template Areas

CSS GRID PROJECT

*/
* {
  padding: 0;
  margin: 0; }

body {
  background: #e0f446;
  font-family: arial; }
  body header {
    width: 100%;
    height: 85px;
    border-bottom: white 4px solid;
    background: black; }
    body header h1 {
      text-align: center;
      color: white; }
    body header img {
      border: solid red 2px;
      display: block;
      margin: 0 auto; }
    body header nav {
      width: 100%; }
      body header nav ul.main-nav {
        display: block;
        margin: 10px auto;
        height: 45px;
        text-align: center; }
        body header nav ul.main-nav li {
          list-style: none;
          display: inline-block;
          margin-left: 10px; }
          body header nav ul.main-nav li a {
            color: #ffffff; }
            body header nav ul.main-nav li a:hover {
              text-decoration: none; }
      body header nav hr {
        width: 40px;
        text-align: center;
        margin: 0 auto; }
  body #grid_logo {
    margin: 5px auto;
    display: block;
    border-radius: 50%;
    border: solid white 5px; }
  body h2 {
    font-size: 25pt;
    color: #464444;
    text-align: center;
    margin-bottom: 30px; }
  body .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 5px;
    margin: 0 auto;
    width: 75%; }
    @media (max-width: 760px) {
      body .grid_container {
        grid-template-rows: 1fr 1fr 1fr;
        display: block;
        margin: 0 auto;
        width: 90%; } }
    body .grid_container .about-grid {
      width: 150px; }
      @media (max-width: 760px) {
        body .grid_container .about-grid {
          line-height: 2.4;
          width: 90%; } }
  body article.sub_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 75%;
    margin-top: 10px;
    margin: 0 auto;
    padding: 40px; }
    @media (max-width: 760px) {
      body article.sub_grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 90%;
        margin-top: 23px;
        margin: 0 auto;
        padding: 40px 0; } }
    body article.sub_grid .main-content {
      width: 60%; }
      @media (max-width: 760px) {
        body article.sub_grid .main-content {
          width: 90%; } }
      body article.sub_grid .main-content p {
        line-height: 1.4;
        margin-bottom: 15px; }
      body article.sub_grid .main-content h3 {
        font-size: 2em; }
    @media (max-width: 760px) {
      body article.sub_grid .main-items div.item {
        line-height: 1.6; } }
  body .book_descriptions {
    display: grid;
    width: 75%;
    /* width: 90%; */
    margin: 0 auto;
    grid-template-areas: "one one one" "two three four" "five six seven";
    /*  .one, 
     .two, 
     .three,
     .four,
     .five,
     .six, 
     .seven {
     } */ }
    @media (max-width: 760px) {
      body .book_descriptions {
        display: block; } }
    body .book_descriptions .one {
      grid-area: one; }
    body .book_descriptions .featured {
      text-align: center;
      margin: 5%;
      border-bottom: solid red; }
    body .book_descriptions .two {
      grid-area: two; }
    body .book_descriptions .three {
      grid-area: three; }
    body .book_descriptions .four {
      grid-area: four; }
    body .book_descriptions .five {
      grid-area: five; }
    body .book_descriptions .six {
      grid-area: six; }
    body .book_descriptions .seven {
      grid-area: seven; }
    body .book_descriptions .book {
      /*  width: 100px; */
      background: #f7d9a2;
      padding: 20px;
      margin: 5px;
      border-radius: 15px;
      box-shadow: black 0px 0px 11px; }
      body .book_descriptions .book h3 {
        color: black; }
  body .page_wrapper {
    display: block;
    margin: 0 auto;
    width: 50%; }
    @media (max-width: 1270px) {
      body .page_wrapper {
        width: 95%; } }
    @media (max-width: 760px) {
      body .page_wrapper {
        width: 95%;
        display: flex;
        display: block;
        flex-direction: row-reverse; } }
    body .page_wrapper h3 {
      line-height: 2;
      margin-top: 10px; }
      body .page_wrapper h3 code {
        display: block; }
    body .page_wrapper .code_block {
      display: grid;
      grid-template-columns: minmax(320px, 417px) 1fr;
      /* grid-gap: 20px;*/ }
      @media (max-width: 760px) {
        body .page_wrapper .code_block {
          display: flex;
          flex-direction: column-reverse;
          padding: 5px; } }
  body .grid_page {
    display: block;
    width: 50%;
    margin: 0 auto; }
    body .grid_page p {
      line-height: 2; }
    body .grid_page table {
      margin: 20px auto;
      width: 80%;
      text-align: center; }
      body .grid_page table caption {
        font-style: italic;
        font-size: 12px; }
  body footer {
    margin-top: 10px;
    text-align: center; }

/*

*/
body .book_descriptions .one {
  grid-area: inherit;
  grid-row: 1/4; }
body .book_descriptions .featured {
  text-align: center;
  margin: 5%;
  border-bottom: solid red; }
body .book_descriptions .two {
  grid-area: inherit; }
body .book_descriptions .three {
  grid-area: inherit; }
body .book_descriptions .four {
  grid-area: inherit; }
body .book_descriptions .five {
  grid-area: inherit; }
body .book_descriptions .six {
  grid-area: inherit; }
body .book_descriptions .seven {
  grid-area: inherit; }
body .book_descriptions .book {
  /*  width: 100px; */
  background: #f7d9a2;
  padding: 20px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: black 0px 0px 11px; }
  body .book_descriptions .book h3 {
    color: black; }

/*# sourceMappingURL=style.css.map */
