/*Sass.scss  -19-08-2021 - 14:41*/

$col-nav-selected: black;
$col-nav-link: white;

$main-col-one: white;

//extend button

%add_btn {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: #f0f075;
    border: solid orange 1px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        background: darken(#f0f075, 5%);
    }

}

* {
    padding: 0;
    margin: 0;
}

body {
    background: darkseagreen;
}

header {

    width: 100%;
    height: auto;
    height: 80px;
    border-bottom: solid orange 3px;

    h1 {
        text-align: center;
        color: $main-col-one;
    }

    nav {

        text-align: center;

        ul {

            list-style: none;

            li {
                display: inline-block;

            }

            a {
                color: $col-nav-link;
                text-decoration: none;

                &:hover {
                    border-bottom: solid 2px $col-nav-selected;
                }
            }

            .selected {
                border-bottom: solid 2px $col-nav-selected;
            }
        }
    }
}

main {

    display: block;
    margin: 0 auto;
    width: 480px;

    h1 {
        color: red;
    }

    h2 {
        color: $main-col-one;
    }

    h1, h2 {

        text-align: center;

    }

    table {

        display: block;
        margin: 0 auto;
        border: solid red 2px;
        background: #f2cc86;

        tbody {

            tr {

            }

            td {
                width: 10%;
                border: green 2px solid;
            }

            th {

                width: 10%;
                border: blue 2px solid;
                height: 30px;

            }
        }
    }

    button {

        @extend %add_btn;

    }
}


footer {

    width: 100%;
    margin-top: 14px;
    
    p {

        font-size: 10px;
        font-weight: bold;
        text-align: center;

    }
}