header 
    h1(=title) Express.js Flash Card App
    .nav
        ul
            li 
                a(href="/") Home
            li 
                a(href="/cards") Cards
            li 
                a(href="/webdesign") Web Design Cards
            li
                a(href="/more") More Cards
            li 
                a(href="/register") Register
