header 
    h2= title
    .nav
        ul
            li 
                a(href="/") Home
            li 
                a(href="/cards") Cards
            li 
                a(href="/register") Register
            li 
                a(href="/hello") Hello Page
