/***

Author:         @jg_digitalMedia
Last Update:    19/07/2023 - 15:39
*/

@import "config";

* {
    padding: 0;
    margin: 0;
}

body {
    background: $background-primary;
    font-family: $main-font;
    font-family: $font;
}

header {
    border-bottom: 3px white solid;
    background: $background-secondary;
    min-height: 200px;

    img {
        display: block;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        color: $text-header-one;
        text-shadow: 3px 2px 4px #030003;
    }
}


#container {

    h2 {

        text-align: center;
        color: $text-header-two;
        padding: 20px 0;
    }

    p {
        color: $text-para-one;
        color: #4c4848;
        /* margin: 10px 0; */
        text-align: center;
        line-height: 2;
        font-weight: bold;
        font-size: 1.5em;
        width: 51%;
        margin: 15px auto;

        @media (max-width: $small) {
            width: 95%;
        }
    }

    h2.heading-two {
        padding: 20px 0;
        color: $text-header-two;
        padding: 20px 0;
        text-underline: black solid 3px;
        text-decoration: underline;
    }

    ul.contents {
        background: #383833;
        padding: 5px;
        border-radius: 15px;
        line-height: 1.9;

        @media (max-width: $small) {
            width: 80%;
        }

        li {
            color: orchid;
            color: $li-color;
            list-style: none;
            margin-left: 5px;
            margin: 0 10px;
            

            @media (max-width: $small) {
                margin: 10px 10px;
            }
        }
    }

    .browsers-icon {
        /* width: 100px; */
        /* width: 25px; */
        /* width: 15px; */
    }
    .key {

        background: $background-key;
        padding: 20px;
        border-radius: 15px;
        width: 180px;
        min-width: 500px;
        
        @media (max-width: $medium) {
            
            width: 75%;
            min-width: auto;
        }
    
        caption {
            font-size: 1.4em;
            font-style: italic;
            font-weight: bold;
    
            p {
                line-height: 1;
                text-align: center;
            }
        }
    
        margin-top: 20px;
        margin: 15px auto;
    
        tr:nth-child(2) {
            font-weight: bold;
            text-align: center;
        }
    
        .browsers-icon {
            width: 100px;
            width: 20px;
        }
    
        #container p {
            line-height: 1;
            text-align: left;
        }
    }

    

article {
    width: 50%;
    display: block;
    margin: 0 17%;
}

    ul {
        display: block;
        margin: 0 auto;
        width: 40%;
        border: solid 1px black;

        li {
            a {
                color: $link-color;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

footer {
    width: 100%;
    p {
        text-align: center;
    }

}

