/***

Author:         @jg_digitalMedia
Last Update:    20/07/2023 - 09:23
*/
* {
  padding: 0;
  margin: 0;
}

body {
  background: #ffa947;
  font-family: arial;
  font-family: "Pathway Gothic One", sans-serif;
}

header {
  border-bottom: 3px white solid;
  background: #7272ff;
  min-height: 200px;
}
header img {
  display: block;
  margin: 0 auto;
}
header h1 {
  text-align: center;
  color: #f2f2b9;
  text-shadow: 3px 2px 4px #030003;
}

#container h2 {
  text-align: center;
  color: #4c4848;
  padding: 20px 0;
}
#container p {
  color: #4c4848;
  color: #4c4848;
  /* margin: 10px 0; */
  text-align: center;
  line-height: 2;
  font-weight: bold;
  font-size: 1.5em;
  width: 51%;
  margin: 15px auto;
}
@media (max-width: 680px) {
  #container p {
    width: 95%;
  }
}
#container h2.heading-two {
  padding: 20px 0;
  color: #4c4848;
  padding: 20px 0;
  text-underline: black solid 3px;
  text-decoration: underline;
}
#container .group-nav {
  text-align: center;
  width: 100%;
}
#container .group-nav a {
  display: inline-block;
  border-radius: 10px;
  border: solid white 2px;
  padding: 8px;
  margin: 10px 0;
  background: #7272ff;
  color: #4c4848;
  transition: color 0.3s;
  font-weight: bold;
}
#container .group-nav a:hover {
  color: white;
}
#container ul.contents {
  background: #383833;
  padding: 5px;
  border-radius: 15px;
  line-height: 1.9;
}
@media (max-width: 680px) {
  #container ul.contents {
    width: 80%;
  }
}
#container ul.contents .note-link {
  width: 100%;
  text-align: right;
}
#container ul.contents .note-link a {
  color: white;
  margin-right: 5px;
  transition: color 0.3s;
}
#container ul.contents .note-link a:hover {
  color: gold;
}
#container ul.contents li {
  color: orchid;
  color: white;
  list-style: none;
  margin-left: 5px;
  margin: 0 10px;
}
@media (max-width: 680px) {
  #container ul.contents li {
    margin: 10px 10px;
  }
}
#container .browsers-icon {
  /* width: 100px; */
  /* width: 25px; */
  /* width: 15px; */
}
#container .key {
  background: #ffa04d;
  padding: 20px;
  border-radius: 15px;
  width: 180px;
  min-width: 500px;
  margin-top: 20px;
  margin: 15px auto;
}
@media (max-width: 780px) {
  #container .key {
    width: 75%;
    min-width: auto;
  }
}
#container .key caption {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
}
#container .key caption p {
  line-height: 1;
  text-align: center;
}
#container .key tr:nth-child(2) {
  font-weight: bold;
  text-align: center;
}
#container .key tr td img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#container .key .browsers-icon {
  width: 100px;
  width: 20px;
}
#container .key #container p {
  line-height: 1;
  text-align: left;
}
#container article {
  width: 50%;
  display: block;
  margin: 0 17%;
}
#container ul {
  display: block;
  margin: 0 auto;
  width: 40%;
  border: solid 1px black;
}
#container ul li a {
  color: #ffd382;
}
#container ul li a:hover {
  text-decoration: none;
}

footer {
  width: 100%;
}
footer p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
