/*
*
* Grid Row Partial
*/

body {

    .book_descriptions {  
        
        display: grid;
        grid-template-areas: none;
        grid-template-columns: 1fr 1fr 1fr;

        .featured {
            text-align: center;
            margin: 5px;
            border-bottom: solid red;
        }      

        .one {
            //grid-row: 1/2;
            grid-area: inherit;
            grid-row: 1/4;
        }
        
        .two {
            grid-area: inherit;
        
        }
        
        .three {
            grid-area: inherit;
        
        } 
        
        .four {
            grid-area: inherit;
        
        
        } 
        .five {
            grid-area: inherit;
        
        } 
        
        .six {
            grid-area: inherit;
        
        }
        
        .seven {
            grid-area: inherit;
        
        }
        
    }

}
