/*
*
* Grid Justify Self Partial
*/

body {

    .book_descriptions {    
        
        display: grid;
        grid-template-areas: none;
        grid-template-columns: repeat(3, 1fr);
        
        .featured {
            text-align: center;
            margin: 5%;
            border-bottom: solid red;
        }

        .one {
            grid-area: inherit;
            justify-self: center;
            grid-row: 1/4;
            grid-column: 1/4;

        }        

        .two {
            grid-area: inherit;
            justify-self: stretch;
        }        

        .three {
            grid-area: inherit;
            justify-self: stretch;
        }        

        .four {
            grid-area: inherit;
            justify-self: stretch;
        }        

        .five {
            grid-area: inherit;
            justify-self: stretch;
        }        

        .six {
            grid-area: inherit;
            justify-self: stretch;
        }        

        .seven {
            grid-area: inherit;
            justify-self: stretch;
        }        
        
        
        .book {            
            /*  width: 100px; */
            background: $bg-secondary;
            padding: 20px;
            margin: 5px;
            border-radius: 15px;
            box-shadow: black 0px 0px 11px;
        
            h3 {
                color: black;
            }
        }
    }
}
