/*
*
* Grid Minmax() Partial
*/

body {

    .book_descriptions {    

        display: grid;
        grid-template-areas: none;
        grid-template-columns: 1fr minmax(100px, 250px) 1fr;
        grid-template-rows: repeat(3, 1fr minmax(10%, 70%) 1fr);
        
        .featured {
            text-align: center;
            margin: 5%;
            border-bottom: solid red;
        }

        .one {
            grid-area: inherit;
        }

        .two {
            grid-area: inherit;
        }

        .three {
            grid-area: inherit;
        }

        .four{
            grid-area: inherit;
        }

        .five {
            grid-area: inherit;
        }

        .six {
            grid-area: inherit;
        }

        .seven {
            grid-area: inherit;
        }
        
        
        .book {            
            /*  width: 100px; */
            background: $bg-secondary;
            padding: 20px;
            margin: 5px;
            border-radius: 15px;
            box-shadow: black 0px 0px 11px;
        
            h3 {
                color: black;
            }
        }
    }
}