* {
    padding: 0;
    margin: 0;
}

body {
    background: orchid;
}

header {
    background: lightblue;
    height: 100px;
}

header h1 {
    text-align: center;
}

header h1 a { 

    color: darkblue;

}

#container {
   
}

#container article {
    display: block;
    margin: 10px auto;
    width: 10px;
    width: 80%;

}

#container article h2 {
    color: white;
}